.flexCol {
  display: flex;
}

.ctaCard {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 1rem;
  &:hover {
    text-decoration: none;
    border: 1px solid var(--ifm-color-primary);
    background-color: var(--ifm-background-surface-color);
  }
  margin-bottom: 1rem;
  flex: 1;
}

.ctaHeading {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
