black>=19.10b0
coverage>=5.1
flake8>=3.8.3
isort>=5.7.0
mypy>=0.782
pytest>=6.2.2
pytest-cov>=2.8.1
pytest-docker
sqlalchemy-stubs
deepdiff

# These are used in integration tests.
pymysql>=1.0.2  # Driver for MySQL
sqlalchemy-pytds>=0.3  # Driver for MS-SQL
python-ldap>=2.4  # LDAP client library
