$user-name-width: 170px;
$zebra: set-color(grey, light);

.ownership-actions {
  margin-bottom: 10px;
}

.dataset-author-row:nth-child(odd) {
  background-color: tint($zebra, 80%);
}

.dataset-author-cell {
  max-width: $user-name-width;
  width: $user-name-width;

  &__input {
    width: 100%;
    height: 100%;
    outline: none;
  }

  &__name-tag {
    position: relative;
    margin: 0;
    padding-right: 20px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &::after {
      content: '\f040';
      position: absolute;
      top: 0;
      right: 0;
      font-family: $font-awesome-stack;
    }
  }

  &__user-name {
    display: none;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 0;
  }

  &--editing {
    .dataset-author-cell__name-tag {
      display: none;
    }

    .dataset-author-cell__user-name {
      display: block;
    }
  }

  /// Owner last modified column in owner -table
  &__owner-last-mod {
    white-space: nowrap;
  }
}
