.purge-policy-list {
  margin: 0;
  padding: 0;

  &__container {
    margin-bottom: item-spacing(4);
  }

  &__global {
    display: flex;
    padding: item-spacing(1 0);
    width: 100%;

    &__item {
      margin-left: auto;
    }

    &__actions {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__button {
      margin-left: item-spacing(2);
    }
  }

  &__item {
    @include nacho-container;
    list-style-type: none;

    &--disabled {
      color: get-color(gray5);
      background-color: get-color(gray3);
    }
  }

  &__platform {
    &--unavailable {
      @include tag(get-color(red6), get-color(white));
    }
  }

  &__retry-platforms {
    @include flex-column-center;
  }

  &__data-status {
    @include datasets-core-loading-container;
    /// Creates a default height pretty close to the expected actual height of the component so that the loading
    /// and rendering of data is as non-jarring as possible to the user
    height: item-spacing(3) * 4.5;
  }
}
