apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-%s" .Release.Name "datahub-gms" }}
  labels:
    {{- include "datahub-gms.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.global.datahub.gms.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "datahub-gms.selectorLabels" . | nindent 4 }}
