pytest>=6.2.2
black>=21.12b0
flake8>=3.8.3
flake8-tidy-imports>=4.3.0
mypy>=0.920
mkdocs
mkdocs-material
mkdocstrings[python]
isort>=5.7.0
pre-commit
pytest-asyncio>=0.16.0
mock; python_version < '3.8'
mkdocs-gen-files
interrogate
coverage>=5.1
pillow
dataclasses>=0.6; python_version < '3.7'
typing_extensions>=3.10.0.2
mypy_extensions>=0.4.3
typing-inspect
pydantic>=1.5.1
tox
deepdiff
requests-mock
freezegun
jsonpickle
build
twine
packaging
# mypy stubs packages 
types-dataclasses
sqlalchemy-stubs
types-six
types-python-dateutil
types-requests
types-toml
types-PyYAML
types-freezegun
types-cachetools
# versions 0.1.13 and 0.1.14 seem to have issues
types-click==0.1.12
types-tabulate
# avrogen package requires this
types-pytz
# For python 3.7 and importlib-metadata>=5.0.0, build failed with attribute error
importlib-metadata>=4.4.0,<5.0.0; python_version < '3.8'