# Excluded for slim
# pyspark==3.0.3
# pydeequ==1.0.1

acryl-datahub-classify==0.0.8
acryl-PyHive==0.6.14
acryl-sqlglot==18.5.2.dev45
aenum==3.1.15
aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.12.0
altair==4.2.0
anyio==3.7.1
apache-airflow==2.7.2
apache-airflow-providers-common-sql==1.7.2
apache-airflow-providers-ftp==3.5.2
apache-airflow-providers-http==4.5.2
apache-airflow-providers-imap==3.3.2
apache-airflow-providers-sqlite==3.4.3
apispec==6.3.0
appdirs==1.4.4
appnope==0.1.3
argcomplete==3.1.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.4.0
async-timeout==4.0.3
asynch==0.2.2
attrs==23.1.0
avro==1.10.2
avro-gen3==0.7.11
Babel==2.13.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.6.3
blis==0.7.11
boto3==1.28.62
botocore==1.31.62
bowler==0.9.0
bracex==2.4
cached-property==1.5.2
cachelib==0.9.0
cachetools==5.3.1
catalogue==2.0.10
cattrs==23.1.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
ciso8601==2.3.0
click==8.1.7
click-default-group==1.2.4
click-spinner==0.1.10
clickclick==20.10.2
clickhouse-cityhash==1.0.2.4
clickhouse-driver==0.2.6
clickhouse-sqlalchemy==0.2.4
cloudpickle==2.2.1
colorama==0.4.6
colorlog==4.8.0
comm==0.1.4
confection==0.1.3
ConfigUpdater==3.1.1
confluent-kafka==1.8.2
connexion==2.14.2
cron-descriptor==1.4.0
croniter==2.0.1
cryptography==41.0.4
cx-Oracle==8.3.0
cymem==2.0.8
dask==2023.9.3
databricks-cli==0.18.0
databricks-dbapi==0.6.0
databricks-sdk==0.10.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deltalake==0.11.0
Deprecated==1.2.14
dill==0.3.7
dnspython==2.4.2
docker==6.1.3
docutils==0.20.1
ecdsa==0.18.0
elasticsearch==7.13.4
email-validator==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.0
expandvars==0.11.0
fastapi==0.103.2
fastavro==1.8.4
fastjsonschema==2.18.1
feast==0.31.1
filelock==3.12.4
fissix==21.11.13
Flask==2.2.5
flatdict==4.0.1
frozenlist==1.4.0
fsspec==2023.9.2
future==0.18.3
GeoAlchemy2==0.14.1
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-appengine-logging==1.3.2
google-cloud-audit-log==0.2.5
google-cloud-bigquery==3.12.0
google-cloud-core==2.3.3
google-cloud-datacatalog-lineage==0.2.2
google-cloud-logging==3.5.0
google-crc32c==1.5.0
google-re2==1.1
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
gql==3.4.1
graphql-core==3.2.3
graphviz==0.20.1
great-expectations==0.15.50
greenlet==3.0.0
grpc-google-iam-v1==0.12.6
grpcio==1.59.0
grpcio-reflection==1.59.0
grpcio-status==1.59.0
grpcio-tools==1.59.0
gssapi==1.8.3
gunicorn==21.2.0
h11==0.14.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
humanfriendly==10.0
idna==3.4
ijson==3.2.3
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflection==0.5.1
ipaddress==1.0.23
ipykernel==6.17.1
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
iso3166==2.1.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
JPype1==1.4.1
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
langcodes==3.3.0
lark==1.1.4
lazy-object-proxy==1.9.0
leb128==1.0.5
limits==3.6.0
linear-tsv==1.1.0
linkify-it-py==2.0.2
lkml==1.3.1
locket==1.0.0
lockfile==0.12.2
looker-sdk==23.0.0
lxml==4.9.3
lz4==4.3.2
makefun==1.15.1
Mako==1.2.4
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
mixpanel==4.10.0
mlflow-skinny==2.7.1
mmh3==4.0.1
mmhash3==3.0.1
more-itertools==10.1.0
moreorless==0.4.0
moto==4.2.5
msal==1.22.0
multidict==6.0.4
murmurhash==1.0.10
mypy==1.6.0
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.6.3
nbconvert==7.9.2
nbformat==5.9.1
nest-asyncio==1.5.8
networkx==3.1
notebook==6.5.6
notebook_shim==0.2.3
numpy==1.26.0
oauthlib==3.2.2
okta==1.7.0
openlineage-airflow==1.2.0
openlineage-integration-common==1.2.0
openlineage-python==1.2.0
openlineage_sql==1.2.0
openpyxl==3.1.2
opentelemetry-api==1.20.0
opentelemetry-exporter-otlp==1.20.0
opentelemetry-exporter-otlp-proto-common==1.20.0
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-exporter-otlp-proto-http==1.20.0
opentelemetry-proto==1.20.0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
ordered-set==4.1.0
oscrypto==1.3.0
packaging==23.2
pandas==1.5.3
pandavro==1.5.2
pandocfilters==1.5.0
parse==1.19.1
parso==0.8.3
partd==1.4.1
pathspec==0.11.2
pathy==0.10.2
pendulum==2.1.2
pexpect==4.8.0
phonenumbers==8.13.0
pickleshare==0.7.5
platformdirs==3.11.0
pluggy==1.3.0
preshed==3.0.9
prison==0.2.1
progressbar2==4.2.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.5
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pure-sasl==0.6.2
py-partiql-parser==0.3.7
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyathena==2.4.1
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==1.10.13
pydash==7.0.6
pydruid==0.6.5
Pygments==2.16.1
pyiceberg==0.4.0
pymongo==4.5.0
PyMySQL==1.1.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyspnego==0.10.2
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-ldap==3.4.3
python-nvd3==0.15.0
python-slugify==8.0.1
python-stdnum==1.19
python-tds==1.13.0
python-utils==3.8.1
python3-openid==3.2.0
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
pyzmq==24.0.1
ratelimiter==1.2.0.post0
redash-toolbelt==0.1.9
redshift-connector==2.0.914
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-file==1.5.1
requests-gssapi==1.2.3
requests-ntlm==1.2.0
requests-toolbelt==0.10.1
responses==0.23.3
rfc3339-validator==0.1.4
rfc3986==2.0.0
rich==13.6.0
rich-argparse==1.3.0
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.8
s3transfer==0.7.0
schwifty==2023.9.0
scipy==1.11.3
scramp==1.4.4
Send2Trash==1.8.2
sentry-sdk==1.32.0
setproctitle==1.3.3
simple-salesforce==1.12.5
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.2.1
snowflake-sqlalchemy==1.5.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.4.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sql-metadata==2.2.2
SQLAlchemy==1.4.44
sqlalchemy-bigquery==1.8.0
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-pytds==0.3.5
sqlalchemy-redshift==0.8.14
SQLAlchemy-Utils==0.41.1
sqlalchemy2-stubs==0.0.2a35
sqllineage==1.3.8
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.27.0
strictyaml==1.7.3
tableauserverclient==0.25
tableschema==1.20.2
tabulate==0.9.0
tabulator==1.53.5
tenacity==8.2.3
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.12
thrift==0.13.0
thrift-sasl==0.4.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.2.1.post0
trino==0.327.0
typeguard==2.13.3
typer==0.7.0
types-PyYAML==6.0.12.12
typing-inspect==0.9.0
typing_extensions==4.8.0
tzlocal==5.1
uc-micro-py==1.0.2
ujson==5.8.0
unicodecsv==0.14.1
urllib3==1.26.17
uvicorn==0.23.2
uvloop==0.17.0
vertica-python==1.3.5
vertica-sqlalchemy-dialect==0.0.8
vininfo==1.7.0
volatile==2.1.0
wasabi==0.10.1
watchfiles==0.20.0
wcmatch==8.5
wcwidth==0.2.8
webencodings==0.5.1
websocket-client==1.6.4
websockets==11.0.3
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wrapt==1.15.0
WTForms==3.1.0
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.9.2
zeep==4.2.1
zstd==1.5.5.1