.entity-tabs {
  $entity-tab-offset: $application-navbar-static-height + $application-navigation-breadcrumbs-static-height;
  border-bottom: 1px solid get-color(gray2);
  background-color: white;
  position: sticky;
  height: $application-navigation-tab-static-height;
  top: $entity-tab-offset;
  // Ace editor has a max z-index of 6 (scrollbars), adding 6 for that reason
  z-index: z('above') + 6;

  &--with-banner-offset {
    top: $banner-alerts-height + $entity-tab-offset;
  }

  // For entity pages that do not include breadcrumbs, subtract the height of the breadcrumb from the offset & top calculation
  &-without-crumbs {
    top: $entity-tab-offset - $application-navigation-breadcrumbs-static-height;

    &--with-banner-offset {
      top: $banner-alerts-height + $entity-tab-offset - $application-navigation-breadcrumbs-static-height;
    }
  }

  ///overrides library styles to match design spec
  .ivy-tabs-tablist[role='tablist'] {
    border: 0;
    border-top: 1px solid get-color(gray2);
    margin: 0;

    .ivy-tabs-tab[role='tab'] {
      line-height: ($application-navigation-tab-static-height / 2) + 2;
      font-family: $text-font-stack;

      &.entity-tabs__tab {
        &--disabled {
          color: get-color(gray2);
          opacity: 0.5;
        }
      }
    }
  }
}
