/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * This file is unmodified from its original version developed by Acryl Data, Inc.,
 * and is now included as part of a repository maintained by the National Digital Twin Programme.
 * All support, maintenance and further development of this code is now the responsibility
 * of the National Digital Twin Programme.
 */

.view-select-popover.ant-popover.ant-popover-placement-bottom,
.view-select-popover .ant-popover-content,
.view-select-popover .ant-popover-inner-content {
    width: 100%;
}

.view-select-popover .ant-popover.ant-popover-placement-bottom {
    left: 0px !important; /* dynamically changing so added important */
    transform-origin: 0% !important; /* dynamically changing so added important */
}
