.dataset-fabric-switcher {
  margin-left: item-spacing(2);
  outline: none;

  &__icon {
    color: get-color(blue7);
  }

  &__trigger {
    display: flex;
  }

  &__fabric {
    $fabric-border-width: item-spacing(1) / 2;
    color: get-color(blue7);
    font-weight: fw(normal, 6);
    margin-right: item-spacing(1);

    &-list {
      $fabric-border-width: item-spacing(1) / 2;
      @include nacho-container;
      z-index: z(dropdown);
      list-style-type: none;
      margin-bottom: 0;
      padding: 0;
      min-width: item-spacing(7) * 2;

      &-item {
        margin-left: -1px;
        border-left: $fabric-border-width solid transparent;
        line-height: item-spacing(4) + 4;
        padding: item-spacing(2);
        color: get-color(black, 0.9);

        &--selected {
          border-left: $fabric-border-width solid get-color(blue7);
          color: get-color(blue7);
        }

        &:hover {
          background-color: get-color(blue0);
          color: get-color(blue7);
        }
      }
    }
  }
}
