@import 'variables';

// TODO: [META-7912] Migrate this to open source nacho-core
/// Applies rules to render an element with a tag shape
/// @param {Color} $bg-color the background color for the tag
/// @param {Color} $color font/text color
/// @param {Color} $border-color=$bg-color the color to apply to the tag border
///@example - Usage
/// .foo {
///   @include tag(get-color(gray1), get-color(gray6));
/// }
@mixin tag($bg-color, $color, $border-color: $bg-color) {
  border-radius: 32px;
  background-color: $bg-color;
  border: 1px solid $border-color;
  color: $color;
  display: inline-block;
  line-height: item-spacing(3);
  padding: 1px 10px;
}

// TODO: [META-7912] Migrate this to open source nacho-core
/// Z-indexes map, gathering all Z layers of the application
/// @type Map
/// @prop {String} key - Layer’s name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
  'toast': 6000,
  'modal': 5000,
  'dropdown': 4000,
  'nav': 1000,
  'above': +1,
  'default': 0,
  'below': -1
);
