/// Contains application wide Sass variables

//===============
/// Theming Colors
//===============

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (
    min-width: 320px
  ),
  'medium': (
    min-width: 768px
  ),
  'large': (
    min-width: 979px
  ),
  'huge': (
    min-width: 1024px
  )
) !default;
