<span class="health-score {{if this.scoreClassification (concat 'health-score--' this.scoreClassification)}}">
  <strong>{{if this.scoreClassification (concat this.numericalValueOfScore "%") "N/A"}}</strong>
</span>
