/* Storybook Theme CSS Overrides */

body {
	font-family: 'Mulish', sans-serif !important;
}

.sidebar-header img {
	max-height: 25px !important;
}

.sb-bar {
	box-shadow: none !important;
	border-bottom: 1px solid hsla(203, 50%, 30%, 0.15) !important;
}

.sbdocs-preview,
.docblock-argstable-body,
.docblock-source {
	box-shadow: none !important;
	filter: none !important;
}

.docblock-source {
	margin: 1rem 0 !important;
	background-color: #1f243a !important;
}

.prismjs {
	background-color: #1f243a !important;
}

.sidebar-item,
.sidebar-item[data-selected="true"] {
	height: 32px !important;
	display: flex !important;
	align-items: center !important;
	padding-right: 0 !important;
	padding: 6px 12px !important;
	font-size: 15px !important;
	font-weight: 400;
	margin-bottom: 4px !important;
}

.sidebar-item:hover {
	background-color: #eff8fc !important;
}

.sidebar-item>a {
	align-items: center !important;
	gap: 8px !important;
	padding: 0 !important;
}

.sidebar-item[data-nodetype="group"] {
	margin-top: 8px !important;
}

.sidebar-item[data-nodetype="component"] {
	padding-left: 8px !important;
}

[data-nodetype="root"]>[data-action="collapse-root"]>div:first-child,
[data-nodetype="component"] div,
[data-nodetype="document"][data-parent-id] {
	display: none !important;
}

#default,
.sidebar-item[data-item-id*=--default],
.sbdocs-content div[id*=--default]~div[id*=--default]~div[id*=--default],
li:has(a[href="#default"]) {
	display: none !important;
}

[data-selected="true"],
[data-nodetype="component"][aria-expanded="true"] {
	font-weight: 400 !important;
	color: #4da1bf !important;
	background-color: #eff8fc !important;
}

[data-nodetype="root"][data-selected="true"] {
	background-color: transparent !important;
}

[data-selected="true"] svg {
	color: #4da1bf !important;
}

.sidebar-subheading {
	font-size: 12px !important;
	font-weight: 600 !important;
	letter-spacing: 2px !important;
	color: #a9adbd !important;
}

.sbdocs-wrapper {
	padding: 2rem !important;
}

table,
tr,
tbody>tr>* {
	border-color: hsla(203, 50%, 30%, 0.15) !important;
	background-color: transparent;
}

:where(table:not(.sb-anchor, .sb-unstyled, .sb-unstyled table)) tr:nth-of-type(2n) {
	background-color: transparent !important;
}

tr {
	border-top: 0 !important;
}

th {
	border: 0 !important;
}

h2#stories {
	display: none;
}

.tabbutton {
	border-bottom: none !important
}

.tabbutton.tabbutton-active {
	color: rgb(120, 201, 230) !important;
}

.toc-wrapper {
	margin-top: -2.5rem !important;
	font-family: 'Mulish', sans-serif !important;
}

/* Custom Doc Styles */

.custom-docs {
	position: relative;
	overflow: hidden;
}

.acrylBg {
	position: fixed;
	bottom: 0;
	left: -20px;
	background-repeat: repeat;
	z-index: 0;
}

.acrylBg img {
	filter: invert(8);
}

.custom-docs p,
.docsDescription p {
	font-size: 16px;
	line-height: 1.75;
}