.purge-policy-list {
  margin: 0;
  padding: 0;

  &__item {
    @include nacho-container;
    list-style-type: none;
    margin-bottom: item-spacing(4);

    &--disabled {
      color: set-color(grey, mid);
      background-color: set-color(grey, light);
    }
  }

  &__platform {
    &--unavailable {
      @include pill(set-color(red, maroonflush), set-color(white, base));
    }
  }

  &__retry-platforms {
    @include flex-column-center;
  }
}
