.container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.community_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Manrope";

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 60px;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .community_section_left {
    padding: 100px 0;
    width: 60%;
    height: 100%;
    background: #3e2644;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .community_section_left_content {
      margin: 5rem auto;
      .community_section_heading {
        color: rgba($color: #fff, $alpha: 0.4);
        font-size: 3.5rem;
        line-height: normal;
        font-weight: bold;
      }
      p {
        font-size: 1.2rem;
        color: rgba($color: #fff, $alpha: 0.6);
        font-weight: light;
        margin-top: 10px;
      }
      a {
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        background-color: transparent;
        padding: 5px 20px;
        border-radius: 50px;
        margin: 0 10px 0 0;
        outline: none;
        border: 1px solid white;
        color: white;
      }
    }
  }
  .community_section_right {
    width: 40%;
    background: #000000;
    flex: 1;
    color: white;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Manrope";

    .community_section_heading {
      color: rgba($color: #fff, $alpha: 0.4);
      font-size: 1.5rem;
      line-height: normal;
      font-weight: bold;

      a {
        margin-top: 10px;
        font-weight: 300;
        cursor: pointer;
        display: inline-flex;
        font-size: 1.2rem;
        background-color: transparent;
        padding: 10px 20px;
        border-radius: 50px;
        outline: none;
        border: 1px solid white;
        color: white;
        align-items: center;
        gap: 8px;
      }
    }
  }
}
