<h1>Tables Testing</h1>

<div class="testing-table__container">
  <h5>
    <button {{action toggleProperty "isEditing"}}>Edit</button>
    <button {{action "onCancel"}}>Cancel</button>
  </h5>

  {{datasets/core/tables/compliance-annotations
    annotations=model.complianceInfo.annotations
    suggestions=model.complianceInfo.suggestions
    schema=model.schema
    complianceDataTypes=model.complianceDataTypes
    isEditing=isEditing
    addTagToWorkingAnnotations=(action "addToAnnotations")
    removeTagFromWorkingAnnotations=(action "removeFromAnnotations")
    saveCompliance=(action "saveCompliance")
    resetWorkingCopy=(action "resetWorkingCopy")
  }}

</div>

{{outlet}}
