{{#if @value}}
  <label class="search-result__tag-icon">
    <FaIcon @icon={{@options.iconName}} aria-label={{@options.hoverText}} />
    {{#if @options.hoverText}}
      <EmberTooltip @text={{@options.hoverText}} />
    {{/if}}
  </label>
{{/if}}