#
# Copyright 2015 LinkedIn Corp. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#

# Job identify info
whEtlId=
job=
refId=

# Teradata properties
teradata.databases=
teradata.db.driver=
teradata.db.jdbc.url=
teradata.db.password=
teradata.db.username=
teradata.default_database=
teradata.field_metadata=
teradata.log=
teradata.metadata=
teradata.sample.skip.list=
teradata.sample_output=
teradata.schema_output=
teradata.collect.sample.data.days=

# HDFS properties
hdfs.schema_location=
hdfs.cluster=
hdfs.private_key_location=
hdfs.remote.raw_metadata=
hdfs.remote.sample=
hdfs.remote.user=
hdfs.remote.machine=
hdfs.remote.jar=
hdfs.local.raw_metadata=
hdfs.local.metadata=
hdfs.local.field_metadata=
hdfs.local.sample=
hdfs.white_list=
hdfs.num_of_thread=
hdfs.remote.working.dir=
hdfs.file_path_regex_source_map=

krb5.realm=
krb5.kdc=

# Azkaban Lineage ETL
#az.db.driver=
#az.db.jdbc.url=
#az.db.password=
#az.db.username=
az.default.hadoop.database.id=
az.hadoop.jobhistory.server.url=
az.lineage.actor.timeout=
az.lineage_etl.lookback_period.in.minutes=
az.server.password=
az.server.url=
az.server.username=
az.lineage.actor.num=

# Azkaban Metadata ETL
az.db.driver=
az.db.jdbc.url=
az.db.password=
az.db.username=
az.exec_etl.lookback_period.in.minutes=

# Oozie Metadata ETL
oz.db.driver=
oz.db.jdbc.url=
oz.db.password=
oz.db.username=
oz.exec_etl.lookback_period.in.minutes=

# ui
wherehows.ui.tree.dataset.file=
wherehows.ui.tree.flow.file=

# WhereHows
wherehows.db.jdbc.url=
wherehows.db.username=
wherehows.db.password=

# owner
hdfs.owner.hive.query=

# ldap
ldap.context.factory=
ldap.context.provider.url=
ldap.context.security.principal=
ldap.context.security.credentials=
ldap.search.domains=
ldap.search.return.attributes=
ldap.inactive.domain=
ldap.ceo.user.id=
ldap.group.app.id=
ldap.group.context.factory=
ldap.group.context.provider.url=
ldap.group.context.security.principal=
ldap.group.context.security.credentials=
ldap.group.search.domains=
ldap.group.search.return.attributes=

# git
git.host=
git.project.whitelist=

# hive metastore
hive.metastore.jdbc.url=
hive.metastore.jdbc.driver=
hive.metastore.username=
hive.metastore.password=

hive.schema_json_file=
#hive.sample_csv=
hive.schema_csv_file=
hive.field_metadata=

# kafka
group.id=
schemaRegistryUrl=
zookeeper.connect=
zookeeper.session.timeout.ms=
zookeeper.sync.time.ms=
auto.commit.interval.ms=
kafka.topics=
kafka.processors=
kafka.db.tables=

#Oracle
oracle.db.driver=
oracle.db.name=
oracle.db.username=
oracle.db.password=
oracle.db.jdbc.url=
oracle.metadata=
oracle.field_metadata=
oracle.sample_data=
oracle.load_sample=
oracle.exclude_db=

# Multiproduct, repo and owner
multiproduct.service.url=
git.url.prefix=
svn.url.prefix=
git.project.metadata=
product.repo.metadata=
product.repo.owner=

# Database scm owner
database.scm.repo=
base.url.key=
