.empty-state {
  @include flex-column-center;
  margin: 0 auto item-spacing(4);
  padding-top: 230px;
  max-width: 360px;
  text-align: center;
  color: get-color(gray10);
  background: url(image-resource(empty-state)) no-repeat top center;

  &--success {
    background: url(image-resource(empty-state-success)) no-repeat top center;
  }

  &__header {
    line-height: item-spacing(6);
    font-weight: fw(normal, 3);
    font-size: 26px;
    margin: item-spacing(0 0 2 0);
  }

  &__sub-head {
    line-height: item-spacing(5);
    font-size: 16px;
    margin: item-spacing(0 0 0 2);
  }

  &__container {
    padding: item-spacing(4);
  }
}
