**/node_modules/
datahub-web/build/
datahub-frontend/build/
metadata-ingestion/venv/
out
**/*.class
# Have to copy gradle/wrapper/gradle-wrapper.jar, can't exclude ALL jars
**/build/**/*.jar
.git
.gradle
