build/
target/
repos/
tmp/
bin/
.gradle/
.settings
.project
.classpath
*.swp
*.jar
*.idea
*.iml
*.class
*.ipr
*.iws
/RUNNING_PID
wherehows-etl/src/main/resources/application.properties
**/test/resources/*.properties
logs/
.DS_Store
# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
out/
/commit
/.vscode/
*/src/generated/
