/// Contains application level basic and standard styles for commonly used HTML elements

$app-container-offset-speed: $banner-animation-speed;

.app-container {
  margin-top: $application-navbar-static-height;
  margin-bottom: $application-navbar-static-height;
  transition: margin $app-container-offset-speed ease;

  &.banner-alert-offset {
    margin-top: $application-navbar-static-height + $banner-alerts-height;
  }
}
