/// Contains application level basic and standard styles for commonly used HTML elements

$app-container-offset-speed: $banner-animation-speed;

/**
 * Set up a box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Apply padding to top and bottom to account for navigation and footer
 */
body {
  background-color: get-color(slate0);
}

.app-container {
  margin-top: $application-navbar-static-height;
  margin-bottom: $application-navbar-static-height;
  transition: margin $app-container-offset-speed ease;

  &.banner-alert-offset {
    margin-top: $application-navbar-static-height + $banner-alerts-height;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $link-color;
  text-decoration: none;

  @include on-event() {
    color: $text-color;
    text-decoration: none;
  }
}
