:root {
  /* Acryl cyan theme */
  --ifm-color-primary: #11ada0;
  --ifm-color-primary-dark: #0f9c90;
  --ifm-color-primary-darker: #0e9388;
  --ifm-color-primary-darkest: #0c7970;
  --ifm-color-primary-light: #13beb0;
  --ifm-color-primary-lighter: #14c7b8;
  --ifm-color-primary-lightest: #16e1d0;

  // Custom
  --ifm-color-primary-opaque: rgba(17, 173, 160, 0.1);
}
