:root {
  /* DataHub blue theme */
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #0082fb;
  --ifm-color-primary-darker: #007bed;
  --ifm-color-primary-darkest: #0065c3;
  --ifm-color-primary-light: #349dff;
  --ifm-color-primary-lighter: #42a4ff;
  --ifm-color-primary-lightest: #6cb8ff;
}
