// SPDX-License-Identifier: Apache-2.0
//
// This file is unmodified from its original version developed by Acryl Data, Inc.,
// and is now included as part of a repository maintained by the National Digital Twin Programme.
// All support, maintenance and further development of this code is now the responsibility
// of the National Digital Twin Programme.

:root {
  /* DataHub blue theme */
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #0082fb;
  --ifm-color-primary-darker: #007bed;
  --ifm-color-primary-darkest: #0065c3;
  --ifm-color-primary-light: #349dff;
  --ifm-color-primary-lighter: #42a4ff;
  --ifm-color-primary-lightest: #6cb8ff;

  --ifm-color-primary-opaque: rgba(24, 144, 255, 0.1);
}
