/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  // Global
  --ifm-background-color: #ffffff;
  --ifm-global-spacing: 1rem;

  /* Typography */
  --ifm-font-size-base: 95%;
  --ifm-heading-font-weight: 700;
  --ifm-code-font-size: 0.9em;
  --ifm-heading-color: #000000;
  --ifm-heading-font-family: "Manrope", sans-serif;
  --ifm-font-family-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Buttons */
  --ifm-button-border-radius: 1000em;
  --ifm-button-font-weight: 600;

  /* Navbar */
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-navbar-height: 70px;
  --ifm-navbar-item-padding-horizontal: 1rem;

  /* Announcement Bar */
  --docusaurus-announcement-bar-height: 48px !important;

  /* Rule */
  --ifm-hr-border-width: 1px 0 0 0;
  --ifm-hr-border-color: #e3e3e3;
  --ifm-hr-background-color: #e3e3e3;

  /* More Colors */
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-background-surface-color: #fafafa;

  /* Cards */
  --ifm-card-background-color: --ifm-background-color;
  --ifm-card-border-radius: calc(var(--ifm-global-radius) * 1.5);

  /* Menu */
  --ifm-menu-link-padding-vertical: 0.3rem;
  --ifm-menu-link-padding-horizontal: 1rem;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.47 9.47L8 7.94333L9.53 9.47L10 9L8 7L6 9L6.47 9.47Z" fill="black" fill-opacity="0.5"/></svg>');
  --ifm-menu-color-background-hover: var(--ifm-color-primary-opaque);
  --ifm-menu-color-background-active: var(--ifm-color-primary-opaque);

  /* TOC */
  --ifm-toc-padding-vertical: 1.25rem;

  /* Breadcrumbs */
  --ifm-breadcrumb-item-background-active: var(--ifm-color-primary-opaque);
}

html[data-theme="dark"] {
  --ifm-background-color: #0d0d0d;
  --ifm-heading-color: #ffffff;
  --ifm-hr-border-color: #313131;
  --ifm-background-surface-color: #0b0b0b;
  --ifm-hr-background-color: rgba(255, 255, 255, 0.1);

  .button--primary {
    color: #fff;
  }

  .invert-on-dark {
    filter: invert(1);
  }
}

/* Main Docs Content Area */

main {
  padding-top: 1rem;
}

.markdown,
main>h1 {
  margin-top: 1rem;
}

[class*="docItemCol"] {
  padding: 0 2rem;
}

/* Custom Utility */

.row--centered {
  align-items: center;
}

.row--padded {
  padding: 5vh 0;
}

/* Announcement Bar */

div[class^="announcementBar"] {
  z-index: calc(var(--ifm-z-index-fixed) - 1);

  div {
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: space-between;
    font-size: 1rem;

    >div {
      display: flex;
      align-items: center;
      > div {
        @media (max-width: 580px) {
            display: none;
          }
      }
      a>span {
        @media (max-width: 580px) {
          display: none;
        }
      }

      >p {
        text-align: left;
        line-height: 1.1rem;
        margin: 0;

        @media (max-width: 580px) {
          font-size: .9rem;
        }
        // >span {
        //   @media (max-width: 780px) {
        //     display: none;
        //   }
        // }

        // @media (max-width: 480px) {
        //   display: none;
        // }
      }
    }

    img {
      width: 24px;
      height: auto;
      margin-right: 1rem;
    }

    a {
      color: #EFB300;
      text-decoration: none;
      font-size: 1rem;
      padding-right: 0;
      padding-left: 12px;
      min-width: 108px;
    }
  }
}

/** Navbar */

.navbar {
  .navbar__logo {
    height: 3rem;
  }

  .navbar__link {
    align-items: center;
    margin: 0 1rem 0;
    padding: 0;
    border-bottom: 2px solid transparent;
  }

  .dropdown>.navbar__link:after {
    top: -1px;
    border-width: 0.3em 0.3em 0;
    margin-left: 0.4em;
  }

  .navbar__link--active {
    border-bottom-color: var(--ifm-navbar-link-hover-color);
  }

  .navbar__item {
    padding: 0.25rem 0;

    svg[class*="iconExternalLink"] {
      display: none;
    }

    &.item__icon {
      height: 34px;
      width: 46px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &.item__github {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 1.787C6.196 1.785 1.5 6.477 1.5 12.27c0 4.58 2.937 8.472 7.027 9.902.55.138.466-.253.466-.52v-1.817c-3.18.373-3.31-1.732-3.523-2.083-.43-.736-1.45-.924-1.146-1.275.724-.373 1.463.094 2.318 1.357.619.916 1.826.762 2.438.61.133-.552.42-1.044.813-1.426-3.295-.59-4.669-2.601-4.669-4.992 0-1.16.382-2.227 1.132-3.087-.478-1.418.045-2.632.115-2.812 1.362-.122 2.777.975 2.888 1.061.773-.208 1.657-.318 2.646-.318.993 0 1.88.115 2.66.326.265-.202 1.577-1.144 2.843-1.03.068.181.579 1.367.129 2.766.76.863 1.146 1.939 1.146 3.101 0 2.395-1.383 4.409-4.688 4.99a2.986 2.986 0 0 1 .893 2.133v2.636c.019.211 0 .42.352.42 4.15-1.4 7.139-5.32 7.139-9.94 0-5.794-4.697-10.484-10.488-10.484Z' fill='%23262626'/%3E%3C/svg%3E");
      }

      &.item__medium {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.563 6.558 21 5.178v-.303h-4.976l-3.546 8.869-4.033-8.869H3.227v.302l1.678 2.03c.165.15.249.37.228.59v7.976a.907.907 0 0 1-.242.79L3 18.867v.298h5.358v-.302l-1.89-2.297a.937.937 0 0 1-.26-.79v-6.9l4.704 10.293h.547l4.045-10.293v8.2c0 .216 0 .26-.14.404l-1.456 1.413v.302h7.06v-.302l-1.405-1.38a.424.424 0 0 1-.16-.404V6.961a.425.425 0 0 1 .16-.403Z' fill='%23262626'/%3E%3C/svg%3E");
      }

      &.item__youtube {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.062 6.94a2.631 2.631 0 0 0-1.857-1.859c-1.638-.44-8.205-.44-8.205-.44s-6.567 0-8.205.438a2.628 2.628 0 0 0-1.857 1.859C1.5 8.578 1.5 12 1.5 12s0 3.422.438 5.06a2.632 2.632 0 0 0 1.857 1.859c1.638.44 8.205.44 8.205.44s6.567 0 8.206-.44a2.628 2.628 0 0 0 1.856-1.859C22.5 15.422 22.5 12 22.5 12s0-3.422-.438-5.06Zm-12.148 8.2V8.86l5.438 3.117-5.438 3.164Z' fill='%23262626'/%3E%3C/svg%3E");
      }

      &.item__slack {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.595 3c-.993 0-1.797.806-1.797 1.8a1.799 1.799 0 0 0 1.798 1.8h1.797V4.8c0-.991-.804-1.798-1.798-1.8Zm0 4.8H4.798a1.8 1.8 0 0 0 0 3.6h4.795c.994 0 1.798-.806 1.798-1.8a1.796 1.796 0 0 0-1.796-1.8Zm4.796 3.6c.993 0 1.8-.806 1.797-1.8V4.8a1.798 1.798 0 1 0-3.595 0v4.8c0 .996.804 1.8 1.798 1.8Zm6.595-1.8a1.8 1.8 0 0 0-1.798-1.8 1.8 1.8 0 0 0-1.797 1.8v1.8h1.797a1.8 1.8 0 0 0 1.798-1.8Zm-1.8 3H14.39c-.994 0-1.798.806-1.798 1.8a1.799 1.799 0 0 0 1.798 1.8h4.795c.994 0 1.798-.806 1.798-1.8a1.798 1.798 0 0 0-1.798-1.8Zm-4.795 4.8h-1.798v1.8a1.797 1.797 0 1 0 3.595 0 1.798 1.798 0 0 0-1.797-1.8Zm-4.796-4.8c-.993 0-1.797.806-1.797 1.8v4.8a1.797 1.797 0 1 0 3.595 0v-4.8c0-.476-.19-.935-.525-1.273a1.803 1.803 0 0 0-1.273-.527ZM3 14.4a1.799 1.799 0 1 0 3.595 0v-1.8H4.798A1.8 1.8 0 0 0 3 14.4Z' fill='%23262626'/%3E%3C/svg%3E");
      }

      html[data-theme="dark"] & {
        &.item__github {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 1.787C6.196 1.785 1.5 6.477 1.5 12.27c0 4.58 2.937 8.472 7.027 9.902.55.138.466-.253.466-.52v-1.817c-3.18.373-3.31-1.732-3.523-2.083-.43-.736-1.45-.924-1.146-1.275.724-.373 1.463.094 2.318 1.357.619.916 1.826.762 2.438.61.133-.552.42-1.044.813-1.426-3.295-.59-4.669-2.601-4.669-4.992 0-1.16.382-2.227 1.132-3.087-.478-1.418.045-2.632.115-2.812 1.362-.122 2.777.975 2.888 1.061.773-.208 1.657-.318 2.646-.318.993 0 1.88.115 2.66.326.265-.202 1.577-1.144 2.843-1.03.068.181.579 1.367.129 2.766.76.863 1.146 1.939 1.146 3.101 0 2.395-1.383 4.409-4.688 4.99a2.986 2.986 0 0 1 .893 2.133v2.636c.019.211 0 .42.352.42 4.15-1.4 7.139-5.32 7.139-9.94 0-5.794-4.697-10.484-10.488-10.484Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }

        &.item__medium {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.563 6.558 21 5.178v-.303h-4.976l-3.546 8.869-4.033-8.869H3.227v.302l1.678 2.03c.165.15.249.37.228.59v7.976a.907.907 0 0 1-.242.79L3 18.867v.298h5.358v-.302l-1.89-2.297a.937.937 0 0 1-.26-.79v-6.9l4.704 10.293h.547l4.045-10.293v8.2c0 .216 0 .26-.14.404l-1.456 1.413v.302h7.06v-.302l-1.405-1.38a.424.424 0 0 1-.16-.404V6.961a.425.425 0 0 1 .16-.403Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }

        &.item__youtube {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.062 6.94a2.631 2.631 0 0 0-1.857-1.859c-1.638-.44-8.205-.44-8.205-.44s-6.567 0-8.205.438a2.628 2.628 0 0 0-1.857 1.859C1.5 8.578 1.5 12 1.5 12s0 3.422.438 5.06a2.632 2.632 0 0 0 1.857 1.859c1.638.44 8.205.44 8.205.44s6.567 0 8.206-.44a2.628 2.628 0 0 0 1.856-1.859C22.5 15.422 22.5 12 22.5 12s0-3.422-.438-5.06Zm-12.148 8.2V8.86l5.438 3.117-5.438 3.164Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }

        &.item__slack {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.595 3c-.993 0-1.797.806-1.797 1.8a1.799 1.799 0 0 0 1.798 1.8h1.797V4.8c0-.991-.804-1.798-1.798-1.8Zm0 4.8H4.798a1.8 1.8 0 0 0 0 3.6h4.795c.994 0 1.798-.806 1.798-1.8a1.796 1.796 0 0 0-1.796-1.8Zm4.796 3.6c.993 0 1.8-.806 1.797-1.8V4.8a1.798 1.798 0 1 0-3.595 0v4.8c0 .996.804 1.8 1.798 1.8Zm6.595-1.8a1.8 1.8 0 0 0-1.798-1.8 1.8 1.8 0 0 0-1.797 1.8v1.8h1.797a1.8 1.8 0 0 0 1.798-1.8Zm-1.8 3H14.39c-.994 0-1.798.806-1.798 1.8a1.799 1.799 0 0 0 1.798 1.8h4.795c.994 0 1.798-.806 1.798-1.8a1.798 1.798 0 0 0-1.798-1.8Zm-4.795 4.8h-1.798v1.8a1.797 1.797 0 1 0 3.595 0 1.798 1.798 0 0 0-1.797-1.8Zm-4.796-4.8c-.993 0-1.797.806-1.797 1.8v4.8a1.797 1.797 0 1 0 3.595 0v-4.8c0-.476-.19-.935-.525-1.273a1.803 1.803 0 0 0-1.273-.527ZM3 14.4a1.799 1.799 0 1 0 3.595 0v-1.8H4.798A1.8 1.8 0 0 0 3 14.4Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

/* Misc */

.button {
  white-space: initial;
}

.card {
  box-shadow: none;
  border: 1px solid var(--ifm-hr-border-color);
  padding: 2rem;
}

.anticon {
  svg {
    color: var(--ifm-color-primary);

    path[fill="#e6f7ff"] {
      fill: var(--ifm-color-primary);
      opacity: 0.15;
    }

    path[fill="#1890ff"] {
      fill: var(--ifm-color-primary);
    }
  }
}

.footer {
  .footer__copyright {
    text-align: left;
    font-size: 0.8em;
    opacity: 0.5;
  }

  &.footer--dark {
    --ifm-footer-background-color: #000000;
  }
}

/* Hero */

.hero {
  padding: 5vh 0;

  .hero__subtitle {
    font-size: 1.25em;
    max-width: 800px;
    display: inline-block;

    img {
      vertical-align: middle;
      margin-top: -0.3em;
    }
  }

  .hero__content {
    text-align: center;
    padding: 2rem 0;
    height: 100%;
  }
}

/* Sidebar Menu */

.menu .theme-doc-sidebar-menu {
  ul li.saasOnly a.menu__link {
    &:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: auto;
      margin-left: 10px;
      opacity: 0.5;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='64 64 896 896' focusable='false' data-icon='cloud' width='1em' height='1em' fill='currentColor' aria-hidden='true'%3E%3Cpath d='M811.4 418.7C765.6 297.9 648.9 212 512.2 212S258.8 297.8 213 418.6C127.3 441.1 64 519.1 64 612c0 110.5 89.5 200 199.9 200h496.2C870.5 812 960 722.5 960 612c0-92.7-63.1-170.7-148.6-193.3zm36.3 281a123.07 123.07 0 01-87.6 36.3H263.9c-33.1 0-64.2-12.9-87.6-36.3A123.3 123.3 0 01140 612c0-28 9.1-54.3 26.2-76.3a125.7 125.7 0 0166.1-43.7l37.9-9.9 13.9-36.6c8.6-22.8 20.6-44.1 35.7-63.4a245.6 245.6 0 0152.4-49.9c41.1-28.9 89.5-44.2 140-44.2s98.9 15.3 140 44.2c19.9 14 37.5 30.8 52.4 49.9 15.1 19.3 27.1 40.7 35.7 63.4l13.8 36.5 37.8 10c54.3 14.5 92.1 63.8 92.1 120 0 33.1-12.9 64.3-36.3 87.7z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 20px 20px;

      [data-theme="dark"] & {
        filter: invert(1);
      }
    }
  }

  .menuHtmlItem_node_modules-\@docusaurus-theme-classic-lib-theme-DocSidebarItem-Html-styles-module {
    font-weight: 600;
  }

  .menu__link {
    font-weight: 400;
    padding: calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 0.2rem) calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 1rem);
  }

  .menu__link--active {
    font-weight: 400;
    padding: calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 0.2rem) calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 1rem);
  }

  .theme-doc-sidebar-item-category-level-1>div>a:first-child {
    font-weight: 400;
    color: var(--ifm-menu-color);
    padding: calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 0.2rem) calc(var(--ifm-menu-link-padding-vertical) + 0.2rem) calc(var(--ifm-menu-link-padding-horizontal) + 1rem);
  }

  .theme-doc-sidebar-item-category-level-1>div>a.menu__link--active {
    color: var(--ifm-menu-color);
    font-weight: 400;
  }
}

/* TOC */
.table-of-contents {
  padding-left: 1.5rem;
  font-size: 0.9rem;
  line-height: 1rem;

  .table-of-contents__link--active {
    font-weight: 600;
  }
}

/* Hide Searchbar in Nav */
.navbar--fixed-top .DocSearch {
  display: none;
}

/* Search */

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(111, 111, 111, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary-lighter);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(71, 71, 71, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: #070707;
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg, var(--ifm-color-emphasis-200) 0%, var(--ifm-color-emphasis-100) 100%);
}

.comapny__logos {
  display: flex;
  min-width: 900px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 12px;
  align-items: center;
  justify-content: center;

  .text {
    padding-right: 24px;
    color: #777;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .company_logos_list_wrapper {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;


    .more_link {
      font-size: 1.25rem;
      color: #bbb;
      font-weight: 600;
      text-decoration: none;
      position: relative;
      top: -.4rem;
    }
  }
  .company_logo {
    max-width: 80px;
    max-height: 36px;
    filter: brightness(0) grayscale(1);
    opacity: .4;
    transition: opacity .3s ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    scale: .8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.tourModal {
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000CC;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: openModal .3s ease-out;

  iframe {
    border-radius: 24px;
    overflow: hidden;
    width: 98%;
    height: 98%;
  }
  .closeButtonWrapper {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 100;
    cursor: pointer;

    span {
      font-size: 36px;
      path {
        color: #CCC;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .comapny__logos {
    flex-direction: column;
    width: 90vw;
    min-width: 0;
    .text {
      padding-right: 0;
      font-size: .9rem;
      line-height: 1.2rem;
      text-align: center;
      margin-bottom: 12px;
      opacity: .75;
      br {
        display: none;
      }
    }
    .company_logos_list_wrapper {
      width: 100%;
      .more_link {
        display: none;
      }
    }
    .company_logo {
      max-width: 60px;
      max-height: 24px;
    }
  }
}



@keyframes expand-on-scroll {
  from {
      transform: scaleY(0);
  }
  to {
      transform: scaleY(1);
  }
}
