/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  font-family: "Manrope", sans-serif;

  /* DataHub blue theme */
  --ifm-color-primary: #1890ff;
  --ifm-color-primary-dark: #0082fb;
  --ifm-color-primary-darker: #007bed;
  --ifm-color-primary-darkest: #0065c3;
  --ifm-color-primary-light: #349dff;
  --ifm-color-primary-lighter: #42a4ff;
  --ifm-color-primary-lightest: #6cb8ff;

  /* Typography */
  --ifm-heading-font-weight: 600;
  --ifm-font-weight-semibold: 600;
  --ifm-code-font-size: 0.9em;
  --ifm-heading-color: #000000;
  /* Buttons */
  --ifm-button-border-radius: 1000em;

  /* Navbar */
  --ifm-navbar-height: 70px;
  --ifm-navbar-item-padding-horizontal: 1rem;

  /* Announcement Bar */
  --docusaurus-announcement-bar-height: 60px !important;

  /* Rule */
  --ifm-hr-border-width: 1px 0 0 0;
  --ifm-hr-border-color: #e3e3e3;
}

html[data-theme="dark"] {
  --ifm-heading-color: #ffffff;
  --ifm-hr-border-color: #313131;
}

h1 {
  font-weight: 400;
}

html[data-theme="dark"] .invert-on-dark {
  filter: invert(1);
}

.row--centered {
  align-items: center;
}

.row--padded {
  padding: 5vh 0;
}

div[class^="announcementBarContent"] {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  font-size: 1rem;
  > div {
    display: flex;
    align-items: center;

    > p {
      text-align: left;
      line-height: 1.1rem;
      margin: 0;
      > span {
        @media (max-width: 780px) {
          display: none;
        }
      }
      @media (max-width: 480px) {
        display: none;
      }
    }
  }

  img {
    width: 24px;
    height: auto;
    margin-right: 1rem;
  }
  a {
    color: var(--ifm-button-color);
    text-decoration: none;
  }
}

@media only screen and (max-width: 1050px) {
  .navbar__toggle {
    display: inherit;
  }
  .navbar__item {
    display: none;
  }
}

.navbar {
  .navbar__logo {
    height: 3rem;
  }
  .navbar__item {
    svg[class*="iconExternalLink"] {
      display: none;
    }
    &.item__icon {
      height: 34px;
      width: 46px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      &.item__github {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 1.787C6.196 1.785 1.5 6.477 1.5 12.27c0 4.58 2.937 8.472 7.027 9.902.55.138.466-.253.466-.52v-1.817c-3.18.373-3.31-1.732-3.523-2.083-.43-.736-1.45-.924-1.146-1.275.724-.373 1.463.094 2.318 1.357.619.916 1.826.762 2.438.61.133-.552.42-1.044.813-1.426-3.295-.59-4.669-2.601-4.669-4.992 0-1.16.382-2.227 1.132-3.087-.478-1.418.045-2.632.115-2.812 1.362-.122 2.777.975 2.888 1.061.773-.208 1.657-.318 2.646-.318.993 0 1.88.115 2.66.326.265-.202 1.577-1.144 2.843-1.03.068.181.579 1.367.129 2.766.76.863 1.146 1.939 1.146 3.101 0 2.395-1.383 4.409-4.688 4.99a2.986 2.986 0 0 1 .893 2.133v2.636c.019.211 0 .42.352.42 4.15-1.4 7.139-5.32 7.139-9.94 0-5.794-4.697-10.484-10.488-10.484Z' fill='%23262626'/%3E%3C/svg%3E");
      }
      &.item__medium {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.563 6.558 21 5.178v-.303h-4.976l-3.546 8.869-4.033-8.869H3.227v.302l1.678 2.03c.165.15.249.37.228.59v7.976a.907.907 0 0 1-.242.79L3 18.867v.298h5.358v-.302l-1.89-2.297a.937.937 0 0 1-.26-.79v-6.9l4.704 10.293h.547l4.045-10.293v8.2c0 .216 0 .26-.14.404l-1.456 1.413v.302h7.06v-.302l-1.405-1.38a.424.424 0 0 1-.16-.404V6.961a.425.425 0 0 1 .16-.403Z' fill='%23262626'/%3E%3C/svg%3E");
      }
      &.item__youtube {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.062 6.94a2.631 2.631 0 0 0-1.857-1.859c-1.638-.44-8.205-.44-8.205-.44s-6.567 0-8.205.438a2.628 2.628 0 0 0-1.857 1.859C1.5 8.578 1.5 12 1.5 12s0 3.422.438 5.06a2.632 2.632 0 0 0 1.857 1.859c1.638.44 8.205.44 8.205.44s6.567 0 8.206-.44a2.628 2.628 0 0 0 1.856-1.859C22.5 15.422 22.5 12 22.5 12s0-3.422-.438-5.06Zm-12.148 8.2V8.86l5.438 3.117-5.438 3.164Z' fill='%23262626'/%3E%3C/svg%3E");
      }
      &.item__slack {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.595 3c-.993 0-1.797.806-1.797 1.8a1.799 1.799 0 0 0 1.798 1.8h1.797V4.8c0-.991-.804-1.798-1.798-1.8Zm0 4.8H4.798a1.8 1.8 0 0 0 0 3.6h4.795c.994 0 1.798-.806 1.798-1.8a1.796 1.796 0 0 0-1.796-1.8Zm4.796 3.6c.993 0 1.8-.806 1.797-1.8V4.8a1.798 1.798 0 1 0-3.595 0v4.8c0 .996.804 1.8 1.798 1.8Zm6.595-1.8a1.8 1.8 0 0 0-1.798-1.8 1.8 1.8 0 0 0-1.797 1.8v1.8h1.797a1.8 1.8 0 0 0 1.798-1.8Zm-1.8 3H14.39c-.994 0-1.798.806-1.798 1.8a1.799 1.799 0 0 0 1.798 1.8h4.795c.994 0 1.798-.806 1.798-1.8a1.798 1.798 0 0 0-1.798-1.8Zm-4.795 4.8h-1.798v1.8a1.797 1.797 0 1 0 3.595 0 1.798 1.798 0 0 0-1.797-1.8Zm-4.796-4.8c-.993 0-1.797.806-1.797 1.8v4.8a1.797 1.797 0 1 0 3.595 0v-4.8c0-.476-.19-.935-.525-1.273a1.803 1.803 0 0 0-1.273-.527ZM3 14.4a1.799 1.799 0 1 0 3.595 0v-1.8H4.798A1.8 1.8 0 0 0 3 14.4Z' fill='%23262626'/%3E%3C/svg%3E");
      }
      html[data-theme="dark"] & {
        &.item__github {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 1.787C6.196 1.785 1.5 6.477 1.5 12.27c0 4.58 2.937 8.472 7.027 9.902.55.138.466-.253.466-.52v-1.817c-3.18.373-3.31-1.732-3.523-2.083-.43-.736-1.45-.924-1.146-1.275.724-.373 1.463.094 2.318 1.357.619.916 1.826.762 2.438.61.133-.552.42-1.044.813-1.426-3.295-.59-4.669-2.601-4.669-4.992 0-1.16.382-2.227 1.132-3.087-.478-1.418.045-2.632.115-2.812 1.362-.122 2.777.975 2.888 1.061.773-.208 1.657-.318 2.646-.318.993 0 1.88.115 2.66.326.265-.202 1.577-1.144 2.843-1.03.068.181.579 1.367.129 2.766.76.863 1.146 1.939 1.146 3.101 0 2.395-1.383 4.409-4.688 4.99a2.986 2.986 0 0 1 .893 2.133v2.636c.019.211 0 .42.352.42 4.15-1.4 7.139-5.32 7.139-9.94 0-5.794-4.697-10.484-10.488-10.484Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
        &.item__medium {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.563 6.558 21 5.178v-.303h-4.976l-3.546 8.869-4.033-8.869H3.227v.302l1.678 2.03c.165.15.249.37.228.59v7.976a.907.907 0 0 1-.242.79L3 18.867v.298h5.358v-.302l-1.89-2.297a.937.937 0 0 1-.26-.79v-6.9l4.704 10.293h.547l4.045-10.293v8.2c0 .216 0 .26-.14.404l-1.456 1.413v.302h7.06v-.302l-1.405-1.38a.424.424 0 0 1-.16-.404V6.961a.425.425 0 0 1 .16-.403Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
        &.item__youtube {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.062 6.94a2.631 2.631 0 0 0-1.857-1.859c-1.638-.44-8.205-.44-8.205-.44s-6.567 0-8.205.438a2.628 2.628 0 0 0-1.857 1.859C1.5 8.578 1.5 12 1.5 12s0 3.422.438 5.06a2.632 2.632 0 0 0 1.857 1.859c1.638.44 8.205.44 8.205.44s6.567 0 8.206-.44a2.628 2.628 0 0 0 1.856-1.859C22.5 15.422 22.5 12 22.5 12s0-3.422-.438-5.06Zm-12.148 8.2V8.86l5.438 3.117-5.438 3.164Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
        &.item__slack {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.595 3c-.993 0-1.797.806-1.797 1.8a1.799 1.799 0 0 0 1.798 1.8h1.797V4.8c0-.991-.804-1.798-1.798-1.8Zm0 4.8H4.798a1.8 1.8 0 0 0 0 3.6h4.795c.994 0 1.798-.806 1.798-1.8a1.796 1.796 0 0 0-1.796-1.8Zm4.796 3.6c.993 0 1.8-.806 1.797-1.8V4.8a1.798 1.798 0 1 0-3.595 0v4.8c0 .996.804 1.8 1.798 1.8Zm6.595-1.8a1.8 1.8 0 0 0-1.798-1.8 1.8 1.8 0 0 0-1.797 1.8v1.8h1.797a1.8 1.8 0 0 0 1.798-1.8Zm-1.8 3H14.39c-.994 0-1.798.806-1.798 1.8a1.799 1.799 0 0 0 1.798 1.8h4.795c.994 0 1.798-.806 1.798-1.8a1.798 1.798 0 0 0-1.798-1.8Zm-4.795 4.8h-1.798v1.8a1.797 1.797 0 1 0 3.595 0 1.798 1.798 0 0 0-1.797-1.8Zm-4.796-4.8c-.993 0-1.797.806-1.797 1.8v4.8a1.797 1.797 0 1 0 3.595 0v-4.8c0-.476-.19-.935-.525-1.273a1.803 1.803 0 0 0-1.273-.527ZM3 14.4a1.799 1.799 0 1 0 3.595 0v-1.8H4.798A1.8 1.8 0 0 0 3 14.4Z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.footer {
  .footer__copyright {
    text-align: left;
    font-size: 0.8em;
    opacity: 0.5;
  }
  &.footer--dark {
    --ifm-footer-background-color: #000000;
  }
}

.button {
  white-space: initial;
}
