.hero {
  padding: 5vh 0;
  :global {
    .hero__subtitle {
      font-size: 1.25em;
      margin: 2rem 0 3rem;
    }
    .hero__content {
      padding: 2rem 0;
      height: 100%;
    }
    .button {
      margin-right: 1rem;
    }
    .hero__alert {
      margin-bottom: 2rem;
      @media (min-width: 690px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .button {
        text-decoration: none;
        margin: 0.5rem 0 0 0;
        display: block;
        white-space: nowrap;
        @media (min-width: 690px) {
          margin: 0 0 0 0.5rem;
        }
      }
    }
  }
}
