.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--ifm-hr-border-color);
  :global {
    .heading {
      font-weight: bold;
      text-align: center;
      p {
        margin-bottom: 0;
        line-height: 1.2em;
        font-weight: 600 !important;
      }
      .badge {
        margin: 10px auto;
        max-width: 300px;
        height: auto;
      }
      @media (min-width: 550px) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.card {
  padding: 0.25rem;

  :global {
    .avatar__photo {
      padding: 0.5rem;
      width: 100%;
      max-width: 150px;
      height: auto;
      margin: 0 auto;
    }
    .card__header {
      text-align: center;
    }
    .card__body {
      font-size: 12px;
      line-height: 14px;
    }
    .card__footer {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: var(--ifm-font-color-base);
        margin: 0 4px;
        width: 18px;
        height: 18px;
        &:hover {
          color: var(--ifm-link-color);
        }
      }
    }
  }
}
