@import 'restyle';

$nacho-breadcrumbs-height: $application-navigation-breadcrumbs-static-height;
$nacho-breadcrumbs-primary-border-color: get-color(gray5);
$nacho-breadcrumbs-secondary-border-color: get-color(slate0);
$nacho-breadcrumbs-background-color: white;
$nacho-breadcrumbs-arrow-height: 8px;
$nacho-breadcrumbs-arrow-width: 6px;
$nacho-breadcrumbs-arrow-border-width: 2px;
$nacho-breadcrumbs-arrow-padding: 20px;

/// Defines styles for the breadcrumb container
@include restyle-define(
  breadcrumbs,
  (
    restyle-var(primary-border-color): $nacho-breadcrumbs-primary-border-color,
    restyle-var(secondary-border-color): $nacho-breadcrumbs-secondary-border-color,
    background-color: transparent,
    list-style-type: none,
    overflow: hidden,
    padding: 0,
    margin: 0,
    height: $nacho-breadcrumbs-height,
    background: $nacho-breadcrumbs-background-color,
    restyle-modifiers: (
      'with a border': (
        border: 1px solid restyle-var(primary-border-color)
      )
    )
  )
);

@include restyle-define(
  grain-text,
  (
    overflow: hidden,
    text-overflow: ellipsis,
    white-space: nowrap,
    display: block
  )
);

@include restyle-define(
  grain,
  (
    restyle-var(primary-border-color): $nacho-breadcrumbs-primary-border-color,
    restyle-var(secondary-border-color): $nacho-breadcrumbs-secondary-border-color,
    restyle-var(arrow-padding): $nacho-breadcrumbs-arrow-padding * 2 - $nacho-breadcrumbs-arrow-width,
    display: block,
    position: relative,
    padding: 0px 0 0px restyle-var(arrow-padding),
    line-height: 1.2,
    min-width: 0,
    flex-shrink: 1
  )
);
@include restyle-define(
  crumb,
  (
    restyle-var(primary-border-color): $nacho-breadcrumbs-primary-border-color,
    restyle-var(background-color): $nacho-breadcrumbs-background-color,
    restyle-var(arrow-height): $nacho-breadcrumbs-arrow-height,
    restyle-var(-arrow-height): -1 * $nacho-breadcrumbs-arrow-height,
    restyle-var(arrow-width): $nacho-breadcrumbs-arrow-width,
    restyle-var(arrow-right-before): -1 * $nacho-breadcrumbs-arrow-width - $nacho-breadcrumbs-arrow-border-width - $nacho-breadcrumbs-arrow-padding/2,
    restyle-var(arrow-right-after): -1 * $nacho-breadcrumbs-arrow-width - $nacho-breadcrumbs-arrow-padding/2,
    display: flex,
    position: relative,
    align-items: center,
    min-width: 45px,
    // so at least '...' is shown
      flex-shrink: 1,
    '&::before': (
      content: ' ',
      display: block,
      width: 0,
      height: 0,
      border-top: restyle-var(arrow-height) solid transparent,
      border-bottom: restyle-var(arrow-height) solid transparent,
      border-left: restyle-var(arrow-width) solid restyle-var(primary-border-color),
      position: absolute,
      top: 51%,
      margin-top: restyle-var(-arrow-height),
      right: restyle-var(arrow-right-before),
      flex-shrink: 0
    ),
    '&::after': (
      content: ' ',
      display: block,
      width: 0,
      height: 0,
      border-top: restyle-var(arrow-height) solid transparent,
      border-bottom: restyle-var(arrow-height) solid transparent,
      border-left: restyle-var(arrow-width) solid restyle-var(background-color),
      position: absolute,
      top: 51%,
      margin-top: restyle-var(-arrow-height),
      right: restyle-var(arrow-right-after),
      flex-shrink: 0
    ),
    '&:last-child': (
      flex-shrink: 0.1
    )
  )
);

.nacho-breadcrumbs {
  @include restyle(breadcrumbs);
  display: flex;

  &-container {
    display: flex;
    background: $nacho-breadcrumbs-background-color;
    border-bottom: 1px solid get-color(black, 0.15);
    position: fixed;
    top: $application-navbar-static-height;
    z-index: z('nav') + z('below'); // To give precendence to tooltip and dropdown
    width: 100%;
    min-height: $nacho-breadcrumbs-height;

    &--with-banner-offset {
      top: $banner-alerts-height + $application-navbar-static-height;
    }
  }

  &-container-wrapper {
    display: flex;
  }

  &--white-surface {
    $nacho-breadcrumbs-secondary-border-color: get-color(white);

    .nacho-breadcrumbs__crumb-grain {
      &--no-focus {
        outline: none;
      }

      &::after {
        border-left: 30px solid $nacho-breadcrumbs-secondary-border-color;
      }
    }
  }

  &__crumb {
    @include restyle(crumb);

    &-grain {
      @include restyle(grain);
    }

    &-text {
      @include restyle(grain-text);
    }

    &:first-child &-grain {
      padding-left: 0;
    }

    &:last-child &-grain {
      cursor: default;
      pointer-events: none;
      color: inherit;
      &::after,
      &::before {
        border: 0;
      }
    }
  }
}
