/// Proxy for AD container styles
.nacho-container {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: get-color(white);
  background-clip: padding-box;
  border-radius: 2px;
  padding: item-spacing(4);
  transition: box-shadow 83ms;

  &--with-shadow {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}
