.nacho-pagination {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  &__previous-btn,
  &__next-btn {
    background: transparent;
    border: 0;
    display: block;
    padding: item-spacing(5);
    font-weight: fw(normal, 6);
    color: get-color(gray8);

    &:hover {
      background: get-color(gray0);
      color: get-color(gray8);
    }

    &--disabled {
      color: get-color(gray2);

      &:hover {
        background: get-color(gray0);
        color: get-color(gray2);
      }
    }
  }

  &__previous-btn i {
    margin-right: item-spacing(2);
  }

  &__next-btn i {
    margin-left: item-spacing(2);
  }

  &__center {
    display: flex;
  }

  &__page,
  &__page-link {
    background: transparent;
    padding: item-spacing(1 2);
    border-radius: 2px;
    font-weight: fw(normal, 6);
    display: block;
    border: 1px solid white;
    margin-right: item-spacing(1);
  }

  &__page-link:hover {
    border: 1px solid get-color(gray9);
  }

  &__page {
    &--current {
      background: get-color(gray0);
    }
  }
}
