/// Forces td cells on dataset field classification table to not wrap
.dataset-export-policy {
  &__container {
    margin-bottom: item-spacing(4);
  }

  &--edit-mode {
    .dataset-field-value {
      visibility: visible;
    }
  }

  &__global {
    display: flex;
    padding: item-spacing(1 0);
    width: 100%;

    &__item {
      margin-left: auto;
    }

    &__actions {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__button {
      margin-left: item-spacing(2);
    }
  }

  &__prompt,
  &__input {
    height: 52px;
    box-sizing: border-box;
    padding: item-spacing(2 4);
  }

  &__prompt {
    white-space: nowrap;
  }

  &__header {
    text-align: right;
  }

  &__input {
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__data-status {
    @include datasets-core-loading-container;
    /// Creates a default height pretty close to the expected actual height of the component so that the loading
    /// and rendering of data is as non-jarring as possible to the user
    height: item-spacing(3) * 13;
  }

  &__empty#{&}__empty#{&}__empty {
    background-color: transparent;

    td {
      border: 0;
    }
  }
}

/// Wraps a status notification icon for a given dataset
.dataset-tag-container {
  width: 20px;
  display: flex;
}

/// Default visual state for dataset-field-value selector
.dataset-field-value {
  visibility: hidden;
  margin-left: auto;
}

.dataset-classification-indicator {
  padding-right: item-spacing(2);

  /// A notification that a dataset contains a tag
  &--tagged {
    color: get-color(green5);
  }

  /// A notification that a dataset does not contains a tag
  &--not-tagged {
    color: get-color(red5);
  }
}
