<div>
  <span class="navbar__dropdown-label">Virtual Assistant (Foxie)</span>
    <input
      id="foxie-assistant-toggle"
      type="checkbox"
      title="Virtual Assitant (Foxie)"
      class="toggle-switch toggle-switch--light"
      checked={{this.isVirtualAssistantActive}}
    />
    <button
      type="button"
      for="foxie-assistant-toggle"
      class="toggle-button virtual-assistant-toggle"
      onclick={{this.toggleVirtualAssistant}}
    >
    </button>
</div>