<h2 id="title">Welcome to Ember</h2>

{{nacho-avatar-image
  img="https://vignette.wikia.nocookie.net/starwars/images/2/20/LukeTLJ.jpg/revision/latest?cb=20170927034529"
  altText="Nothing here"
}}

{{outlet}}