/// Defines styles for the compliance auto suggestion action button
.compliance-auto-suggester-action {
  text-decoration: none;
  text-align: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  color: get-color(red5);
  margin: 0 5px;

  &--accept {
    color: get-color(green5);
  }
}
