/// Wrapper for dataset compliance component
.compliance-container {
  &--edit-mode {
    .dataset-field-value {
      visibility: visible;
    }
  }

  &__loading {
    height: 200px;
    padding: item-spacing(9 0);
  }

  &__default-purge-policy {
    @include nacho-container;
    @include flex-center;
    padding: item-spacing(2 0);

    &__title {
      margin: item-spacing(0 2);
    }
  }
}

/// Forces td cells on dataset field classification table to not wrap
.dataset-field-content {
  &__prompt {
    white-space: nowrap;
  }

  &__header {
    text-align: right;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__empty#{&}__empty#{&}__empty {
    background-color: transparent;

    td {
      border: 0;
    }
  }
}

/// Default visual state for dataset-field-value selector
.dataset-field-value {
  visibility: hidden;
}

/// Visual state for compliance elements
.compliance-row {
  &--off-screen {
    visibility: hidden;
  }
}

.compliance-entities-meta {
  display: flex;
  align-items: center;
  padding: item-spacing(2 0 2);
  color: #777777;
  text-align: left;

  &__secondary {
    margin-left: auto;
  }
}

.set-fields-to-none-text {
  margin-right: item-spacing(2);
  display: inline;
}
