.container {
  display: flex;
  flex-direction: column;

  .section_header {
    color: var(--primitives-text-tex-subtext, #777E99);
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
  }
}

.community_section {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Manrope";
}

.carouselContainer {
  width: 100%;
  min-height: 100px;
  min-width: 400px;
}

.slider {
  height: 100px;
  margin: 1rem auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 100%;
    z-index: 9;
  }

}

.carouselContainer {
  overflow: hidden;
}

.slider {
  position: relative;
}

.slide_track {
  display: flex;
  width: calc((72px + 24px) * 6 * 2);
  /* Width of the track */
  animation: scroll 15s linear infinite;
}

.slide {
  width: 72px;
  height: 72px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 800px) {
  .community_section {
    flex-direction: column;

    .community_section_left {
      width: 100%;
      padding: 20px 24px;
      
      .community_section_left_content {

        .community_section_heading {
          font-size: 2rem;

          img {
            height: 24px;
            width: 24px;
          }
        }
        p {
          font-size: 1rem;
          line-height: 1.2rem;
          margin-top: 8px;
          margin-bottom: 12px;
        }
        a {
          padding: 4px 8px;
          font-size: 1rem;
        }
        .numberChange, .numberContainer {
          width: 6.5rem;
        }
      }
    }

    .community_section_right {
      width: 100%;
      overflow: hidden;
      .community_section_subText {
        padding: 32px 52px 16px;
      }
      .carouselContainer {
        margin-bottom: 24px;
      }
    }
  }
}