# https://github.com/edenhill/librdkafka/wiki/Using-SSL-with-librdkafka
# Kafka Brokers Certs
#security.protocol=ssl
ssl.ca.location=certificate_ca.pem
ssl.certificate.location=certificate.pem
ssl.key.location=private_key.pem
ssl.key.password=XXXXXXX

# Schema Registry Certs
schema.registry.ssl.ca.location=certificate_ca.pem
schema.registry.ssl.certificate.location=certificate.pem
schema.registry.ssl.key.location=private_key.pem
schema.registry.ssl.key.password=XXXXXXX

