<h1>Test Toggle</h1>
{{test-toggle-button}}

<h1>Test Sort</h1>
{{test-sort-button}}

<h1>Buttons</h1>

<h2>X Large</h2>
<button type="button" class="nacho-button nacho-button--x-large">Primary</button>
<button type="button" class="nacho-button nacho-button--secondary nacho-button--x-large">Secondary</button>
<button type="button" class="nacho-button nacho-button--tertiary nacho-button--x-large">Tertiary</button>

<h2>Large</h2>
<button type="button" class="nacho-button nacho-button--large">Primary</button>
<button type="button" class="nacho-button nacho-button--secondary nacho-button--large">Secondary</button>
<button type="button" class="nacho-button nacho-button--tertiary nacho-button--large">Tertiary</button>

<h2>Default</h2>
<button type="button" class="nacho-button">Primary</button>
<button type="button" class="nacho-button nacho-button--secondary">Secondary</button>
<button type="button" class="nacho-button nacho-button--tertiary">Tertiary</button>

<h2>Small</h2>
<button type="button" class="nacho-button nacho-button--small">Primary</button>
<button type="button" class="nacho-button nacho-button--secondary nacho-button--small">Secondary</button>
<button type="button" class="nacho-button nacho-button--tertiary nacho-button--small">Tertiary</button>
{{outlet}}