/// Contains application wide Sass variables

/// Regular font family
/// @type List
$text-font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

//===============
/// Colors
//===============

/// Main brand color
/// @type Color
$brand-color: rgb(53, 75, 87) !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Copy link color
/// @type Color
$link-color: rgb(26, 161, 217) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
) !default;

/// Z-indexes map, gathering all Z layers of the application
/// @type Map
/// @prop {String} key - Layer’s name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
        'modal': 5000,
        'dropdown': 4000,
        'default': 1,
        'below': -1,
) !default;

/// Absolute URL where all assets are served from
/// @type String
$base-url: '/assets/' !default;