pytest>=6.2
pytest-dependency>=0.5.1
psutil
tenacity
-e ../metadata-ingestion[datahub-rest,datahub-kafka,mysql]
slack-sdk==3.18.1
aiohttp
joblib
pytest-xdist
networkx
# libaries for linting below this
mypy==1.5.1
ruff==0.9.2
# stub version are copied from metadata-ingestion/setup.py and that should be the source of truth
types-requests>=2.28.11.6,<=2.31.0.3
types-PyYAML
# https://github.com/docker/docker-py/issues/3256
requests<=2.31.0
# Missing numpy requirement in 8.0.0
deepdiff!=8.0.0