.empty-state {
  @include flex-column-center;
  margin: 0 auto item-spacing(4);
  padding-top: 230px;
  max-width: 360px;
  text-align: center;
  color: set-color(black, dune);
  background: url($empty-state-link) no-repeat top center;

  &__header {
    line-height: item-spacing(6);
    font-weight: fw(normal, 2);
    font-size: 26px;
    margin: item-spacing(0 0 2 0);
  }

  &__sub-head {
    line-height: item-spacing(5);
    font-size: 16px;
    margin: item-spacing(0 0 0 2);
  }
}
