// Defines the styles for the notification confirm modal
// Includes 3 structural elements: __header, __content, __footer
.notification-confirm-modal {
  $minimum-modal-height: item-spacing(7);

  box-shadow: 0 0 0 1px get-color(black, 0.1), 0 12px 18px 1px get-color(black, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: auto;
  background-color: get-color(white);
  // 64px is expected spacing between modal ui and the viewport height, when centered this will give a 32px offset top and bottom
  max-height: calc(100vh - 64px);
  min-height: $minimum-modal-height;
  width: item-spacing(9) * 5;

  &__header,
  &__content,
  &__footer {
    padding: item-spacing(4 4);
  }

  &__header {
    border-bottom: 1px solid get-color(black, 0.15);
  }

  &__heading-text {
    margin-top: 0;
    font-weight: fw(normal, 6);
    font-size: 24px;
    color: get-color(gray9);
  }

  &__footer {
    border-top: 1px solid get-color(black, 0.15);
    display: flex;
    justify-content: flex-end;

    &__secondary {
      display: flex;
      align-items: center;
      margin-right: auto;
    }

    button + button {
      margin-left: item-spacing(2);
    }
  }
}

.confirmation-dialog-toggle-label {
  &#{&} {
    margin-left: item-spacing(2);
  }
}

.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('modal');
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: get-color(gray5, 0.25);
}
