.dataset-relationships-container {
  margin-top: item-spacing(5);

  .relationship-table {
    &__type {
      width: 180px;
    }

    &__platform {
      width: 114px;
    }

    &__actor {
      width: 228px;
    }

    &__modified {
      width: 200px;
    }
  }
}

.dataset-relationships {
  &__note {
    color: get-color(black, 0.45);
  }

  &__header {
    margin-top: item-spacing(5);
  }
}

.dataset-relationships-not-found {
  @include nacho-container;
}
