.schemaless-tagging {
  &__tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__prompt {
    line-height: 1.5;
  }

  &__input {
    margin-right: 40%;
  }
}
