.second-navbar {
    background-color: var(--ifm-background-color);
    border-bottom: 1px solid var(--ifm-color-emphasis-200);
    padding: 10px 0;
  }
  
  .second-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .second-navbar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .second-navbar .navbar__items {
    display: flex;
    align-items: center;
  }
  
.DocSearch {
  background: black;
}