.secondNavbar {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  z-index: 10;
  color: black;

  &.darkMode {
    background-color: #000; 
    color: #fff; 
  }
}

.container {
  padding: 0.5rem 1rem; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coreCloudSwitch {
  display: flex;
  align-items: center; 
}

.docsSwitchButton {
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: black; 
  text-decoration: none;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
  }
}

.activeButton {
  border-bottom: 2px solid #007bff;
}

.darkMode .docsSwitchButton {
  color: white;

  &:hover {
    color: #4db5ff;
  }
}

.searchBox,
.colorModeToggle,
.versionDropdown {
  padding: 0.5rem 1rem; 
}

.navbar__items--right {
  display: flex;
  align-items: center;
}
