<strong>
  {{#link-to
    "browse.entity"
    "datasets"
    (query-params page=1 prefix=crumb.prefix platform=crumb.platform)
    class="nacho-breadcrumbs__crumb__grain"}}

    <span class="nacho-breadcrumbs__crumb__text">
          {{#if (gt crumb.crumb.length maxCrumbCharLength)}}
            {{tooltip-on-element
              text=crumb.crumb
            }}
          {{/if}}

      {{split-text crumb.crumb maxCrumbCharLength}}
        </span>

  {{/link-to}}
</strong>