.dataset-main {
  // Dataset will feature a contained breadcrumbs component, offset its height to prevent overlapping content
  margin-top: $application-navigation-breadcrumbs-static-height;
}

.dataset-meta-properties {
  display: flex;
  align-items: center;
  margin-top: item-spacing(5);
  margin-bottom: item-spacing(5);

  .nacho-pill {
    margin-right: item-spacing(1);
  }
}

.dataset-name {
  max-width: item-spacing(8) * 11;
  padding-right: item-spacing(3);
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin: 0;
}

.dataset-header-meta {
  display: flex;
  position: relative;
}

.dataset-header {
  &__social-metadata {
    margin-bottom: item-spacing(3);
  }
}
