.page-section-container {
  background-color: get-color(white);
}

/// Styles that apply to the layout for a page with two columns sidebar and content style
.wh-sidebar,
.wh-main-content {
  margin-top: item-spacing(5);
}

// breadcrumbs component has a fixed layout, offset its height to prevent overlapping sibling content
.bread-crumb-spacer {
  $application-bread-crumb-height: item-spacing(6);

  height: $application-bread-crumb-height;
  display: block;
}
