/**
 * Basic typography style
 */
body {
  color: $text-color;
  font: normal fw(normal, 4) 14px $text-font-stack;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: fw(normal, 4);
}

th {
  font-weight: fw(normal, 6);
}
