// SPDX-License-Identifier: Apache-2.0
//
// This file is unmodified from its original version developed by Acryl Data, Inc.,
// and is now included as part of a repository maintained by the National Digital Twin Programme.
// All support, maintenance and further development of this code is now the responsibility
// of the National Digital Twin Programme.

.versionNavItem {
  margin-left: 0 !important;
  padding: 0.2em 1em !important;
  display: block;
  border-radius: var(--ifm-button-border-radius) !important;
  color: var(--ifm-menu-color-active);
  background: var(--ifm-menu-color-background-active);
}
