.versionNavItem {
  margin-left: 0 !important;
  padding: 0.2em 1em !important;
  display: block;
  border-radius: var(--ifm-button-border-radius) !important;
  color: var(--ifm-menu-color-active);
  background: var(--ifm-menu-color-background-active);
}
