<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns:context="http://www.springframework.org/schema/context">
  <display-name>Open source GMS</display-name>
  <description>Open source generalized metadata store (GMS) service</description>

  <!-- ******************************************************************* -->
  <!-- * Context params * -->
  <!-- ******************************************************************* -->

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/beans.xml</param-value>
  </context-param>

  <!-- ******************************************************************* -->
  <!-- * Listeners * -->
  <!-- ******************************************************************* -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- servlet definitions -->
  <!--
    HttpRequestHandlerServlet loads the "restliServlet" spring bean as a servlet.  For details, see:
    http://static.springsource.org/spring-framework/docs/3.2.0.RC1/api/org/springframework/web/context/support/HttpRequestHandlerServlet.html
  -->
  <servlet>
    <display-name>Restli Spring Servlet</display-name>
    <servlet-name>restliRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>

  <!-- servlet mappings -->

  <servlet-mapping>
    <servlet-name>restliRequestHandler</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
