<p>
  For more information on how to decommission your {{entityName}}, please follow this link:
  <a href={{entityDecommissionWikiLink}} target="_blank" rel="noopener">
    {{capitalize entityName}} Decommission
  </a>
</p>
