.avatars-detail-modal {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 12px 18px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 2px;
  background-color: white;
  max-height: calc(100vh - 64px);
  min-height: item-spacing(9) * 2;
  width: 520px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__header,
  &__content {
    display: flex;
  }

  &__header {
    padding: item-spacing(4 4);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 48px;
  }

  &__close {
    font-weight: fw(normal, 3);
    font-size: 48px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    color: get-color(black, 0.7);
    border: 0;
  }
}

.avatars-detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('modal');
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 39, 36, 0.75);
}

.avatar-detail-container {
  margin: 0;
  padding: item-spacing(0 0 0 3);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.avatar-detail {
  display: flex;
  align-items: center;

  &__entity {
    margin-right: item-spacing(2);
    width: 48px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    max-width: 100%;
    padding: item-spacing(1 0);
  }

  &:last-of-type {
    padding-bottom: item-spacing(5);
    .avatar-detail__meta {
      border: 0;
    }
  }
}
