.browse-entities {
  &__title {
    font-size: 20px;
    line-height: 2;
  }

  &__entity {
    border-radius: 2px;
    border: 1px solid transparent;
    padding: item-spacing(2);

    &:hover {
      background-color: get-color(gray0);
    }

    &__meta-head {
      margin-left: item-spacing(3);
      color: get-color(gray5);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.scroll-list-loading {
  @include flex-column-center;
  padding: item-spacing(4);
  font-size: 18px;

  &__text {
    background: get-color(gray0);
    border: 1px solid transparent;
    border-radius: 2px;
    padding: item-spacing(3);
  }
}
