// .container {
//     margin-bottom: 2rem;
// }

// .button {
//     text-decoration: none;
//     margin: 0.5rem 0 0 0;
//     white-space: nowrap;
//     @media (min-width: 690px) {
//       margin: 0 0 0 0.5rem;
//     }
// }

// .quickstartContent {
//   text-align: center;
//   padding: 2rem 0;
//   height: 100%;
//   margin: 2rem 0;
//   background: #34394d;
//   border-radius: var(--ifm-card-border-radius);
// }

// .quickstartTitle {
//   color: #fafafa;
// }

// .quickstartSubtitle {
//   font-size: 1.1rem;
//   color: gray;
// }

// .quickstartCodeblock {
//   text-align: left;
//   padding: 0 20vh;
// }

// .quickLinks {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1rem;
//   font-weight: bold;
//   margin-bottom: -2.5vh;
//   @media (min-width: 768px) {
//     flex-direction: row;
//   }

//   > * {
//     padding: 0.5rem 1rem;
//     display: inline-block;

//     @media (min-width: 768px) {
//       padding: 0 1rem;
//     }
//   }
// }

// .quickLinksLabel {
//   display: flex;
//   align-items: center;
//   svg {
//     width: 24px;
//     height: 24px;
//     color: var(--ifm-text-color) !important;
//     margin-right: 0.5rem;
//   }
// }

.quickstart {
  width: 80vw;
  margin: 5rem auto;

  :global {
    .quickstart__header {
      text-align: center;

      .quickstart__title,
      .quickstart__subtitle {
        font-size: 3.5rem;
        line-height: normal;
        font-family: Manrope;
      }

      .quickstart__subtitle {
        font-size: 1.8rem;
        margin-top: 10px;
      }
    }

    .quickstart__content {
      display: flex;
      margin-top: 3rem;

      .quickstart__text {

        &::before {
          content: "";

          height: 398px;
          width: 10px;
          position: absolute;

          background: linear-gradient(180deg, #29B5E8 18.71%, #FFBF4C 143.37%);
          border-radius: 10px;

          /* Inside auto layout */
          display: block;
        }

        div {
          padding-left: 10%;
        }

        .quickstart__text__label {

          /* Label */
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 27px;
          letter-spacing: 0.4em;
          text-transform: uppercase;

          color: #999EB3;
        }

        .quickstart__text__head {

          /* H4 | Semibold */
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: 2.5rem;
          line-height: 40px;

          color: #171B2B;
          margin-top: 1.5rem;
        }

        .quickstart__text__desc {

          margin-top: 1.5rem;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 25px;
          /* Text|Light */
          color: #838BA8;

          p {
            margin-bottom: 1rem;
          }

          .learn_more {
            color: #1890FF;
            font-weight: 500;
          }
        }
      }

      .quickstart__img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
        }
      }
    }


  }
}