// .container {
//     margin-bottom: 2rem;
// }

// .button {
//     text-decoration: none;
//     margin: 0.5rem 0 0 0;
//     white-space: nowrap;
//     @media (min-width: 690px) {
//       margin: 0 0 0 0.5rem;
//     }
// }

// .quickstartContent {
//   text-align: center;
//   padding: 2rem 0;
//   height: 100%;
//   margin: 2rem 0;
//   background: #34394d;
//   border-radius: var(--ifm-card-border-radius);
// }

// .quickstartTitle {
//   color: #fafafa;
// }

// .quickstartSubtitle {
//   font-size: 1.1rem;
//   color: gray;
// }

// .quickstartCodeblock {
//   text-align: left;
//   padding: 0 20vh;
// }

// .quickLinks {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1rem;
//   font-weight: bold;
//   margin-bottom: -2.5vh;
//   @media (min-width: 768px) {
//     flex-direction: row;
//   }

//   > * {
//     padding: 0.5rem 1rem;
//     display: inline-block;

//     @media (min-width: 768px) {
//       padding: 0 1rem;
//     }
//   }
// }

// .quickLinksLabel {
//   display: flex;
//   align-items: center;
//   svg {
//     width: 24px;
//     height: 24px;
//     color: var(--ifm-text-color) !important;
//     margin-right: 0.5rem;
//   }
// }

.quickstart {
  width: 80vw;
  margin: 2vh auto;
  margin-top: 0;
  min-height: 105vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  :global {
    .quickstart__header {
      text-align: center;

      .quickstart__title,
      .quickstart__subtitle {
        font-size: 3rem;
        line-height: normal;
        font-family: Manrope;
      }

      .quickstart__subtitle {
        font-size: 1.5rem;
        margin-top: 12px;
      }
    }

    .quickstart__content {
      display: flex;
      margin-top: 60px;

      #quickstart_progressbar {
        height: 398px;
        width: 10px;
        position: absolute;

        background: linear-gradient(180deg, #29B5E8 18.71%, #FFBF4C 143.37%);
        border-radius: 10px;

        /* Inside auto layout */
        display: block;


        transform-origin: top;
        view-timeline: --pgBarReveal block;
        animation-timeline: --pgBarReveal;
      
        animation-name: expand-on-scroll;
        animation-range: entry 0% contain 100%;
        animation-fill-mode: both;
        animation-timing-function: ease-in;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
      }

      .quickstart__text {
        div {
          padding-left: 10%;
        }

        .quickstart__text__label {

          /* Label */
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1rem;
          letter-spacing: 0.4em;
          text-transform: uppercase;

          color: #999EB3;
        }

        .quickstart__text__head {

          /* H4 | Semibold */
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
          line-height: 2.2rem;

          color: #171B2B;
          margin-top: 1rem;
        }

        .quickstart__text__desc {

          margin-top: 1rem;
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 400;
          font-size: 1.1rem;
          line-height: 1.5rem;
          /* Text|Light */
          color: #838BA8;

          p {
            margin-bottom: 1rem;
          }

          .learn_more {
            color: #1890FF;
            font-weight: 500;
          }
        }
      }

      .quickstart__img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
        }
      }
    }


  }
}