<h3>Metadata Health</h3>

<div style="width: 50%">
  {{visualization/charts/horizontal-bar-chart
    title="test Chart"
    series=testSeries
    labelAppendValue="%"
    onBarSelect=(action "onFilterSelect")}}
</div>
