<h3>Metadata Health</h3>
{{datasets/health/metrics-charts
  isActiveTab=isActiveTab
  categoryData=renderedCategories
  severityData=renderedSeverity
  onCategorySelect=(action onFilterSelect "category")
  onSeveritySelect=(action onFilterSelect "severity")}}
{{datasets/health/score-table
  tableData=tableData
  currentCategoryFilter=currentCategoryFilter
  currentSeverityFilter=currentSeverityFilter
  onCategorySelect=(action onFilterSelect "category")
  onSeveritySelect=(action onFilterSelect "severity")}}
