<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" xmlns:context="http://www.springframework.org/schema/context">
  <display-name>Open source GMS</display-name>
  <description>Open source generalized metadata store (GMS) service</description>

  <!-- ******************************************************************* -->
  <!-- * Context params * -->
  <!-- ******************************************************************* -->

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/beans.xml</param-value>
  </context-param>

  <!-- ******************************************************************* -->
  <!-- * Listeners * -->
  <!-- ******************************************************************* -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.linkedin.metadata.boot.OnBootApplicationListener</listener-class>
  </listener>

  <!-- servlet definitions -->
  <servlet>
    <display-name>Health Check Servlet</display-name>
    <servlet-name>healthCheck</servlet-name>
    <servlet-class>com.datahub.gms.servlet.HealthCheck</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <display-name>Config Servlet</display-name>
    <servlet-name>config</servlet-name>
    <servlet-class>com.datahub.gms.servlet.Config</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>apiServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet>
    <servlet-name>openapiServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <!--
    HttpRequestHandlerServlet loads the "restliServlet" spring bean as a servlet.  For details, see:
    http://static.springsource.org/spring-framework/docs/3.2.0.RC1/api/org/springframework/web/context/support/HttpRequestHandlerServlet.html
  -->
  <servlet>
    <display-name>Restli Spring Servlet</display-name>
    <servlet-name>restliRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    <async-supported>true</async-supported>
  </servlet>

  <!-- servlet mappings -->
  <servlet-mapping>
    <servlet-name>healthCheck</servlet-name>
    <url-pattern>/health</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/config</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>apiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>openapiServlet</servlet-name>
    <url-pattern>/openapi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>restliRequestHandler</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- filter definitions -->
  <filter>
    <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
    <filter-class>com.datahub.auth.authentication.filter.AuthenticationFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>

  <!-- filter mappings -->
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
    <servlet-name>apiServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <!-- filter mappings -->
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
    <servlet-name>restliRequestHandler</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
    <servlet-name>authServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name> <!-- mandatory -->
    <servlet-name>openapiServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>
