.search-facet {
  margin-bottom: item-spacing(4);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: item-spacing(2);
    min-height: item-spacing(5);
  }

  &__title {
    flex-grow: 1;
    margin: 0;
  }

  &__label {
    display: block;
    flex-grow: 1;
    font-weight: 400;
    margin-left: item-spacing(1);
  }

  &__count {
    display: block;
    font-weight: 400;
  }

  &__option--empty {
    color: rgba(0, 0, 0, 0.6);
  }
}
