.ant-message-notice-content {
    padding: 0;
}

.ant-message-custom-content {
    font-size: 14px;
    font-weight: 700;
    font-family: Mulish;
    padding: 10px 20px;
    border-radius: 6px;
}

.ant-message-notice-content .ant-message-success {
    border-left-width: 5px;
    border-left-style: solid;
}

.ant-message-notice-content .ant-message-error {
    border-left-width: 5px;
    border-left-style: solid;
}

.ant-message-notice-content .ant-message-warning {
    border-left-width: 5px;
    border-left-style: solid;
}

.ant-message-notice-content .ant-message-info {
    border-left-width: 5px;
    border-left-style: solid;
}

.sectioned-tooltip .ant-popover-inner-content {
    padding: 0;
}
