.ant-message-notice-content {
    padding: 0;

}

.ant-message-custom-content {
    font-size: 14px;
    font-weight: 700;
    font-family: Mulish;
    padding: 10px 20px;
    border-radius: 6px;
}

.ant-message-notice-content .ant-message-success {
    background-color: #D5E9C9;
    border-left: 5px solid #6CA749;
    color: #548239;

    .anticon {
        color: #548239;

    }
}

.ant-message-notice-content .ant-message-error {
    background-color: #F6D5D5;
    border-left: 5px solid #E37878;
    color: #E37878;

    .anticon {
        color: #E37878;

    }
}

.ant-message-notice-content .ant-message-warning {
    background-color: #FCEDC7;
    border-left: 5px solid #EEAE09;
    color: #EEAE09;

    .anticon {
        color: #EEAE09;

    }
}

.ant-message-notice-content .ant-message-info {
    background-color: #D7EFF8;
    border-left: 5px solid #5abde1;
    color: #5abde1;

    .anticon {
        color: #5abde1;

    }
}