body {
    margin: 0;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-modal-title {
    font-weight: 700;
}
.ant-form-item-label {
    font-weight: 600;
}

.ant-btn .anticon {
    vertical-align: middle;
    font-size: 16px;
}

.ant-tag {
    &&& {
        border-radius: 20px;
    }
}

.search-filter-popover .ant-popover-inner-content {
    padding: 0 !important;
}
