/// Contains application level basic and standard styles for commonly used HTML elements

/**
 * Set up a box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  padding-top: 54px;
  padding-bottom: 50px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}