/**
 * Basic typography style
 */
body {
  color: $text-color;
  font: normal 300 150% / 1.4 $text-font-stack;
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

th {
  font-weight: normal;
}
