/* Sets the default colors for the visualization colors. When rendering a series of data, the color
   order for each item should always be the same */
@for $i from 1 through 18 {
  $color: get-dataviz-color($i);
  .highcharts-color-#{$i - 1} {
    fill: $color;
    stroke: $color;
  }
}
