// TODO: [META-8295] This is a placeholder that should be migrated and imported from a nacho component
.placeholder-nacho-button {
  cursor: pointer;

  &--no-border {
    border: none;
    background-color: transparent;
  }

  &--with-border {
    background-color: transparent;
    border: 1px solid get-color(blue6);
  }
}
