.container {
  display: flex;
  flex-direction: column;
  background: #F4F4F5;
  font-family: "Manrope";
}
.case_study {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 5rem auto;

  .case_study_heading {
    color: var(--primitives-text-text-heading, #373A47);
    text-align: center;
    font-family: Manrope;
    font-size: 29.177px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.292px;
  }

  .card_row::-webkit-scrollbar {
    display: none;
  }
  .card_row {
    overflow-x: scroll;
    width: 100vw;
    scrollbar-width: none;
    display: flex;
    margin-top: 2rem;

    .card_row_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: auto;
    }
    .cardLink {
      color: #000;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    .card {
      width: 419px;
      height: 148px;
      padding: 1.2rem;
      margin: 1rem 0.5rem;
      display: flex; 
      flex-direction: column;
      align-items: center; 
      border-radius: var(--number-scales-2s-32, 32px);
      border: 2px solid var(--semantics-bg-bg-white, #FFF);
      background: linear-gradient(180deg, rgba(248, 248, 252, 0.90) 0%, rgba(255, 255, 255, 0.90) 100%);
      background-image: url("/img/solutions/case-study-card-bg.png");
      background-repeat: no-repeat;
      background-position: bottom 0rem center;

      &:hover {
        box-shadow: 0px 0px 4px 0px #0000001C;
        opacity: 0.9;
      }
    
      .card_image {
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
        margin-right: 16px; 
    
      }
    
      .card_heading_div {
        text-align: start;
        width: 70%; 
        padding: 12px;
    
        .card_heading {
          color: var(--primitives-grays-9, #484C5C);
          font-family: Manrope;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;

        }
      }
    }
    
  }

  a:hover {
    text-decoration: none !important;
  }

  .bottom_line {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #12b0fb;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;

    span {
      line-height: 10px;
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}

@media (max-width: 800px) {
  .case_study {
    .case_study_heading {
      text-align: center;
      font-family: "Manrope";
        width: 80%;
        margin: auto;
        font-size: 2rem;
        line-height: normal;
        font-weight: 400;
    }

    .card_row {
      margin-top: 24px;

      .card_row_wrapper {
        padding: 0 5vw;
      }
    }

    .bottom_line {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #12b0fb;
      font-size: 1.1rem;
      font-weight: 500;
      margin-top: 50px;
      margin-bottom: 10px;

      span {
        font-size: 1.5rem;
      }
    }
  }
}
