# Directory containing kerberos config files
WHZ_KRB5_DIR=

# Secret Key
WHZ_SECRET=

# Master Key to encrypt data in DB
WHZ_MASTER_KEY=

# Database Connection
WHZ_DB_USERNAME=
WHZ_DB_PASSWORD=
# Fully qualified jdbc url
WHZ_DB_URL=

# A comma-separated list of JOB IDs to run
WHZ_ETL_JOB_IDS=
WHZ_KAFKA_JOB_IDS=
