.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background: #F9F9FA;
  background-image: url('/img/solutions/hero-background.png');
  border-radius: 49.66px;
  margin: 3rem;
  padding: 5rem;
  
  .hero__topQuote {
    color: var(--primitives-text-tex-subtext, #777E99);
    font-family: Manrope;
    font-size: 21.441px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.429px;
    text-transform: uppercase;
    
  }

  .hero__title {
    color: #373A47;
    font-family: Manrope;
    font-size: 77.723px;
    font-style: normal;
    font-weight: 300;
    line-height: 85.763px; /* 110.345% */
    max-width: 900px;
    text-align: center;
  }

  .hero__description {
    color: var(--primitives-text-text-heading, #373A47);
    text-align: center;
    font-family: Manrope;
    font-size: 20.547px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.948px; /* 165.217% */
    max-width: 900px;
  }

}

.hero__cta {
  margin-top: 2rem;
  display: flex;

  a {
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
    margin: 0 10px 0 0;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .2s ease-in-out;
    &:hover {
      opacity : 0.8;
    }
  }

  .cta__primary {
    padding: var(--number-scales-2s-12, 12px) var(--number-scales-2s-24, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--number-scales-2s-8, 8px);
    border-radius: var(--number-scales-2s-full, 999px);
    background: var(--semantics-surface-default, #1890FF);
    color: white;
    
  }

  .cta__secondary {
    padding: var(--number-scales-2s-12, 12px) var(--number-scales-2s-24, 24px);
    justify-content: center;
    align-items: center;
    gap: var(--number-scales-2s-8, 8px);
    border-radius: var(--number-scales-2s-full, 999px);
    border: 1px solid var(--semantics-border-default, #1890FF);
    background: var(--semantics-bg-bg-white, #FFF);
  }
}