.nacho-uploader {
  display: block;

  &__label {
    margin: 20px 0 10px;
  }

  &__cta,
  &__cta-subtext {
    display: block;
  }

  &__cta {
    font-size: 20px;
    font-weight: fw(normal, 4);
    margin-bottom: 10px;
  }

  &__cta-subtext {
    font-weight: fw(normal, 4);
  }

}
