/// Search bar height
$height: 40px;

.nacho-global-search {
  color: $text-color;

  &__text-input {
    height: $height;
  }

  /**
   *  Rules for the search bar filter component
   */
  &__filter {
    width: 75px;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    justify-content: flex-end;
  }
}
