.dataset-entity-header {
  background-color: white;
  padding-top: item-spacing(5);
}

.dataset-entity-tabs {
  background-color: white;

  ///overrides library styles to match design spec
  .ivy-tabs-tablist {
    margin-bottom: 0;
  }
}
