.dataset-author {
  margin-top: item-spacing(7);

  &__header {
    display: flex;
    font-size: 20px;
    font-weight: fw(normal, 6);
  }

  &__required-count {
    height: item-spacing(4);
  }
}

.dataset-author-record {
  &--disabled {
    color: get-color(gray5);
    font-weight: fw(italic, 2);
    pointer-events: none;
  }

  &--inactive {
    text-decoration: line-through;
  }

  &#{&} &__indicator {
    &--disabled {
      background-color: get-color(gray5);
    }

    &--inactive {
      background-color: get-color(red5);
      pointer-events: none;
      margin-left: 8px;
    }
  }
}

.dataset-author-user-lookup {
  @include nacho-container;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__header {
    display: flex;
    font-size: 20px;
    font-weight: fw(normal, 6);
    margin: 0;
  }

  &__container {
    width: 300px;
    margin-left: item-spacing(4);
  }
}

.dataset-authors-save {
  float: right;
}

.dataset-authors-save-error {
  float: right;
  padding-top: 10px;
  margin-right: 64px;

  &__icon {
    color: get-color(red5);
    margin-right: 8px;
  }
}
