$user-name-width: 170px;

// Adds rules for the column in a dataset-author table
.dataset-author-column {
  &--wide {
    width: 15%;
  }

  &--narrow {
    width: 9%;
  }

  &--extra-wide {
    width: 28%;
  }
}

.dataset-owner-table {
  &#{&} {
    margin-top: item-spacing(4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 0;
  }

  &#{&} td,
  &#{&} th {
    padding: item-spacing(5 4);
    font-weight: fw(normal, 4);
  }

  &#{&} &--wrap {
    white-space: normal;
  }

  &__add-owner {
    height: 84px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 24px;

    .twitter-typeahead {
      width: 142px;
    }
  }

  &__trigger {
    color: get-color(blue6);
    font-weight: fw(normal, 6);
  }

  .remove-dataset-author {
    color: get-color(gray5);
    background-color: transparent;
    float: right;

    &:hover {
      background-color: transparent;
      color: get-color(gray9);
    }
  }
}

.dataset-owner__retry-owners {
  @include flex-column-center;
}
