.dataset-authors-suggested {
  background-color: rgba(225, 233, 238, 0.75);
  width: 100%;
  margin-bottom: 28px;
  padding: 16px 24px 0;
  overflow: hidden;
  cursor: default;

  &__header {
    margin: 0;
    font-weight: fw(normal, 6);
  }

  &__info {
    height: 54px;
    margin-bottom: 16px;

    &__facepile,
    &__description,
    &__trigger {
      float: left;
      height: 100%;
      padding-top: 6px;
    }

    &__facepile {
      width: 128px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 16px;

      &__avatar {
        box-sizing: border-box;
        background-clip: content-box;
        border: 2px solid white;
        width: 36px;
        height: 36px;
        clear: right;
        border-radius: 50%;
        margin-right: -12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__description {
      width: 560px;
      word-wrap: wrap;

      &--empty {
        margin-bottom: 16px;
      }
    }

    &__trigger {
      float: right;
      border: none;
      background-color: transparent;
      margin-top: -10px;
      cursor: pointer;

      &__action {
        color: $link-color;
        font-weight: fw(normal, 6);
      }
    }
  }

  .suggested-owner-card {
    width: 31%;
    box-sizing: border-box;
    height: 108px;
    background-color: white;
    margin: 0 1% 16px;
    float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

    &__owner-info,
    &__source-info {
      width: 100%;
      box-sizing: border-box;
      padding: 6px 16px;
    }

    &__owner-info {
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      height: 70px;

      &__profile,
      &__add {
        width: 50%;
        box-sizing: border-box;
        float: left;
      }

      &__add {
        padding-top: 12px;
        padding-left: 12px;
        text-align: center;

        &--disabled {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.5);
          font-weight: fw(normal, 7);
          margin-left: 8px;
        }
      }

      &__profile {
        $max-profile-width: 108px;
        display: flex;

        &__pic {
          float: left;
          margin-right: 6px;
          margin-top: 10px;
        }

        &__name {
          float: left;
          max-width: $max-profile-width;

          &__full {
            max-width: $max-profile-width;
            font-size: 16px;
            font-weight: fw(normal, 6);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
          }

          &__username {
            font-size: fs(standard);
            max-width: $max-profile-width;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &__source-info {
      font-size: fs(standard);
    }
  }
}
