# SPDX-License-Identifier: Apache-2.0
#
# This file is unmodified from its original version developed by Acryl Data, Inc.,
# and is now included as part of a repository maintained by the National Digital Twin Programme.
# All support, maintenance and further development of this code is now the responsibility
# of the National Digital Twin Programme.

# Tools useful for operating & debugging DataHub.
---
services:
  kafka-rest-proxy:
    image: confluentinc/cp-kafka-rest:8.0.0
    env_file: kafka-rest-proxy/env/docker.env
    hostname: kafka-rest-proxy
    ports:
      - "8082:8082"
    depends_on:
      - zookeeper
      - broker
      - schema-registry

  kafka-topics-ui:
    image: landoop/kafka-topics-ui:0.9.4
    env_file: kafka-topics-ui/env/docker.env
    hostname: kafka-topics-ui
    ports:
      - "18000:8000"
    depends_on:
      - zookeeper
      - broker
      - schema-registry # -datahub-gms
      - kafka-rest-proxy

  kibana:
    image: kibana:7.10.1
    env_file: kibana/env/docker.env
    hostname: kibana
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
