INTERNAL_DATABASE_PORT=3306
EXTERNAL_DATABASE_PORT=3306
EXTERNAL_API_PORT=9000
EXTERNAL_WEB_PORT=9001
EXTERNAL_DATA_DIR=/var/local
EXTERNAL_LOGS_DIR=/var/log
PLAY_CRYPTO_SECRET_BACKEND=wherehows
PLAY_CRYPTO_SECRET_WEB=wherehows
LDAP_SEARCH_BASE=
LDAP_URL=
LDAP_DOMAIN=
