.ump-metrics-entity-header {
  background-color: #fff;
  padding-top: item-spacing(4);
  padding-bottom: item-spacing(4);

  &__column {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
    margin-right: item-spacing(2);
    min-width: 0;
  }

  &__row {
    align-items: flex-start;
  }
}

.ump-metrics-entity-tabs {
  background-color: #fff;

  ///overrides library styles to match design spec
  .ivy-tabs-tablist {
    margin-bottom: 0;
  }
}
