/// This file contains application wide font face declarations
@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: font('Lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: font('Lato/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: font('Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: font('Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: font('Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: font('Lato/Lato-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: font('Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: font('Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: font('Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: font('Lato/Lato-BlackItalic.ttf') format('truetype');
}
