@(csrfToken: String)
	@main(null, csrfToken) {
		@if(play.mvc.Controller.flash().containsKey("error")) {
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				@play.mvc.Controller.flash().get("error")
			</div>
		}
		@if(play.mvc.Controller.flash().containsKey("success")) {
			<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				@play.mvc.Controller.flash().get("success")
			</div>
		}
		<p style="text-align:center;"><img style="opacity:0.75;" src ="@routes.Assets.at("images/login_screen_bckgrd.png")"></p>

	}