.nacho-pill-input {
  &__input {
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__action {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: inherit;
  }
}
