/* styles.module.css */

/* General Styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.hero {
  background-color: #f5f5f5;
  padding: 40px 0;
  text-align: center;
}

.hero__content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.hero__content div {
  font-size: 1.2rem;
  color: #555;
}


/* Webinar Content Styles */
.webinar-content {
  width: 90%;
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.webinar-content iframe {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.webinar-content h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #333;
}

.webinar-content p {
  font-size: 1rem;
  color: #555;
}

.webinar-content img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-top: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero__content h1 {
    font-size: 2rem;
  }

  .hero__content div {
    font-size: 1rem;
  }

  #hubspotGateForm {
    padding: 1.5rem;
  }

  .webinar-content {
    padding: 1.5rem;
  }
}
