.read-only-email-content {
  &__body {
    padding-right: item-spacing(5) + 2;
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-right: item-spacing(9);
  }

  &__main {
    margin: item-spacing(2 8 2 5);
  }

  &__item-highlighted {
    font-weight: fw(normal, 7);
    color: get-color(black, $email-content-color-opacity);
  }
}
