<nav role="navigation">
  <ul class="nav navbar-nav browse-nav">
    {{#each browseData as |entity|}}
      {{#nav-link
        "browse.entity" entity.entity
        (query-params page=1 urn="" name="")
        tagName="li"
        class="col-md-4 browse-nav__entity"}}
        <div class="browse-nav__item">
          <p class="browse-nav__count">{{entity.count}}</p>
          <p class="browse-nav__title">{{entity.entity}}</p>
        </div>
      {{/nav-link}}
    {{/each}}
  </ul>
</nav>
