{{#dynamic-link params=node}}
  <p class="data-platform__platform-name">
    <strong>
      {{platform.platform}}
    </strong>
  </p>

  <p class="data-platform__platform-count">
    {{pluralize platform.count 'dataset'}}
  </p>
{{/dynamic-link}}