// SPDX-License-Identifier: Apache-2.0
//
// This file is unmodified from its original version developed by Acryl Data, Inc.,
// and is now included as part of a repository maintained by the National Digital Twin Programme.
// All support, maintenance and further development of this code is now the responsibility
// of the National Digital Twin Programme.

@media (min-width: 997px) and (max-width: 1465px) {
  .feature {
    min-height: 20rem !important;
    max-height: 30rem !important;
  }
}
.feature {
  flex-direction: row;
  color: var(--ifm-hero-text-color);
  margin: 0rem 2rem 1rem 0rem;
  min-height: 15rem;
  max-height: 15rem;
  text-decoration: none !important;

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
  }
  strong,
  span {
    display: block;
    margin-bottom: 0.75rem;
  }
  strong {
    font-weight: 600;
    font-size: 1.1rem;
  }

  span {
    font-size: 1rem;
    line-height: 1.25em;
  }
  &:hover {
    border-color: var(--ifm-color-primary);
  }
}

