acryl-datahub
acryl-datahub-classify==0.0.4
acryl-iceberg-legacy==0.0.4
acryl-PyHive==0.6.13
aenum==3.1.11
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.9.4
altair==4.2.2
anyio==3.6.2
apache-airflow==2.5.1
apache-airflow-providers-common-sql==1.3.3
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.1.1
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
appdirs==1.4.4
appnope==0.1.3
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
avro==1.10.2
avro-gen3==0.7.8
azure-core==1.26.3
azure-identity==1.10.0
azure-storage-blob==12.14.1
azure-storage-file-datalake==12.9.1
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.5
blis==0.7.9
boto3==1.26.75
botocore==1.29.75
bowler==0.9.0
bracex==2.3.post1
cached-property==1.5.2
cachelib==0.9.0
cachetools==5.3.0
catalogue==2.0.8
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
click-default-group==1.2.2
click-spinner==0.1.10
clickclick==20.10.2
clickhouse-driver==0.2.5
clickhouse-sqlalchemy==0.2.3
cloudpickle==2.2.1
colorama==0.4.6
colorlog==4.8.0
confection==0.0.4
ConfigUpdater==3.1.1
confluent-kafka==1.8.2
connexion==2.14.2
cron-descriptor==1.2.35
croniter==1.3.8
cryptography==37.0.4
cx-Oracle==8.3.0
cymem==2.0.7
dask==2023.2.0
databricks-cli==0.17.3
databricks-dbapi==0.6.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
deltalake==0.7.0
Deprecated==1.2.13
dill==0.3.6
dnspython==2.3.0
docker==6.0.1
docutils==0.19
ecdsa==0.18.0
elasticsearch==7.13.4
email-validator==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==1.2.0
expandvars==0.9.0
fastapi==0.92.0
fastavro==1.7.1
fastjsonschema==2.16.2
feast==0.29.0
filelock==3.9.0
fissix==21.11.13
Flask==2.2.3
flatdict==4.0.1
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
GeoAlchemy2==0.13.1
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.78.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
google-cloud-appengine-logging==1.3.0
google-cloud-audit-log==0.2.5
google-cloud-bigquery==3.5.0
google-cloud-bigquery-storage==2.18.1
google-cloud-core==2.3.2
google-cloud-datacatalog-lineage==0.2.0
google-cloud-logging==3.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
gql==3.4.0
graphql-core==3.2.3
graphviz==0.20.1
great-expectations==0.15.41
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.51.1
grpcio-reflection==1.51.1
grpcio-status==1.51.1
grpcio-tools==1.51.1
gunicorn==20.1.0
h11==0.14.0
hmsclient==0.1.1
httpcore==0.16.3
httplib2==0.21.0
httptools==0.5.0
httpx==0.23.3
humanfriendly==10.0
idna==3.4
ijson==3.2.0.post0
importlib-metadata==6.0.0
inflection==0.5.1
ipaddress==1.0.23
ipykernel==6.17.1
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
iso3166==2.1.1
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
JPype1==1.4.1
jsonlines==3.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.17.3
jupyter-server==1.23.6
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
langcodes==3.3.0
lark==1.1.4
lazy-object-proxy==1.9.0
linear-tsv==1.1.0
linkify-it-py==2.0.0
lkml==1.3.1
locket==1.0.0
lockfile==0.12.2
looker-sdk==22.2.1
lxml==4.9.2
makefun==1.15.0
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.4
mdurl==0.1.2
mistune==2.0.5
mixpanel==4.10.0
mmh3==3.0.0
more-itertools==9.0.0
moreorless==0.4.0
moto==4.1.3
msal==1.16.0
msal-extensions==1.0.0
msrest==0.7.1
multidict==6.0.4
murmurhash==1.0.9
mypy==1.0.1
mypy-extensions==1.0.0
nbclassic==0.5.2
nbclient==0.6.3
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
okta==1.7.0
openpyxl==3.1.1
oscrypto==1.3.0
packaging==21.3
pandas==1.5.3
pandavro==1.5.2
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
partd==1.3.0
pathspec==0.9.0
pathy==0.10.1
pendulum==2.1.2
pexpect==4.8.0
phonenumbers==8.13.0
pickleshare==0.7.5
platformdirs==3.0.0
pluggy==1.0.0
portalocker==2.7.0
preshed==3.0.8
prison==0.2.1
progressbar2==4.2.0
prometheus-client==0.16.0
prompt-toolkit==3.0.36
proto-plus==1.22.2
protobuf==4.22.0
psutil==5.9.4
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pure-sasl==0.6.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyathena==2.4.1
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.5
pydash==6.0.1
pydeequ==1.0.1
pydruid==0.6.5
Pygments==2.14.0
pymongo==4.3.3
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.19.3
pyspark==3.0.3
pyspnego==0.8.0
python-daemon==2.3.2
python-dateutil==2.8.2
python-dotenv==0.21.1
python-jose==3.3.0
python-ldap==3.4.3
python-nvd3==0.15.0
python-slugify==8.0.0
python-stdnum==1.18
python-tds==1.12.0
python-utils==3.5.2
python3-openid==3.2.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.0.0
ratelimiter==1.2.0.post0
redash-toolbelt==0.1.9
regex==2022.10.31
requests==2.28.2
requests-file==1.5.1
requests-ntlm==1.2.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.22.0
retrying==1.3.4
rfc3986==1.5.0
rich==13.3.1
rsa==4.9
ruamel.yaml==0.17.17
s3transfer==0.6.0
sasl3==0.2.11
schwifty==2023.2.0
scipy==1.10.1
Send2Trash==1.8.0
setproctitle==1.3.2
simple-salesforce==1.12.3
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snowflake-connector-python==2.9.0
snowflake-sqlalchemy==1.4.6
soupsieve==2.4
spacy==3.4.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sql-metadata==2.2.2
SQLAlchemy==1.4.41
sqlalchemy-bigquery==1.6.1
SQLAlchemy-JSONField==1.0.1.post0
sqlalchemy-pytds==0.3.5
sqlalchemy-redshift==0.8.12
SQLAlchemy-Utils==0.40.0
sqlalchemy2-stubs==0.0.2a32
sqllineage==1.3.6
sqlparse==0.4.3
srsly==2.4.5
stack-data==0.6.2
starlette==0.25.0
tableauserverclient==0.24
tableschema==1.20.2
tabulate==0.9.0
tabulator==1.53.5
tenacity==8.2.1
termcolor==2.2.0
terminado==0.17.1
text-unidecode==1.3
thinc==8.1.7
thrift==0.16.0
thrift-sasl==0.4.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.2.1.post0
trino==0.321.0
typeguard==2.13.3
typer==0.7.0
types-toml==0.10.8.5
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.1
ujson==5.7.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
uvloop==0.17.0
vertica-python==1.3.0
vertica-sqlalchemy-dialect==0.0.1
vininfo==1.7.0
volatile==2.1.0
wasabi==0.10.1
watchfiles==0.18.1
wcmatch==8.4.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.5
wrapt==1.14.1
WTForms==3.0.1
xlrd==2.0.1
xmltodict==0.13.0
yarl==1.8.2
zeep==4.2.1
