.pwr-user-lookup {
  &__auto-suggestion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .ember-power-select-typeahead-input {
      color: get-color(black, 0.5);
      border: none;
      box-sizing: border-box;
    }
  }

  &__typeahead-container {
    border: none;

    .ember-power-select-typeahead-trigger {
      background: transparent;
      border: 1px solid get-color(gray4);

      .ember-power-select-typeahead-input {
        background: transparent;
        border: none;
        width: 178px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .ember-power-select-trigger {
    &:before {
      content: '';
    }
  }
}

.user-lookup {
  margin: item-spacing(4 0);
  position: relative;
  width: 100%;

  &__input {
    width: 100%;
    outline: none;
    border-radius: 0;
    border: 1px solid get-color(gray2);
    padding: item-spacing(2 5 2 6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: box-shadow ease-in-out 0.15s;
    line-height: 1.428;
    font-size: fs(standard);
  }
}
