.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cloudButton {
  background-color: #AFE2DD;
  border: 1px solid #AFE2DD;

  &:hover {
    background-color: rgba(95, 197, 186, 0.8);
  }
}