iframe {
        border: "1px solid #bfcbda88";
        border-radius: "10px";
        width: "100%";
        height: "600px"; 
    }

.lumaCalender {
        max-width: "60rem"; 
        margin: "3rem auto"; 
    }