wherehows.db.jdbc.url=
wherehows.db.username=
wherehows.db.password=


lineageRecord.appId=0
lineageRecord.flowExecId=
lineageRecord.jobName=
lineageRecord.jobExecId=

lineageRecord1.databaseId=
lineageRecord1.fullObjectName=
lineageRecord1.storageType=
lineageRecord1.sourceTargetType=
lineageRecord1.operation=
lineageRecord1.flowPath=

lineageRecord2.databaseId=
lineageRecord2.fullObjectName=
lineageRecord2.storageType=
lineageRecord2.sourceTargetType=
lineageRecord2.operation=
lineageRecord2.flowPath=

lineageRecord3.databaseId=
lineageRecord3.fullObjectName=
lineageRecord3.storageType=
lineageRecord3.sourceTargetType=
lineageRecord3.operation=
lineageRecord3.flowPath=



lineageCombinerDatabaseValue=


analyzeTest.fullPath=
analyzeTest.abstractPath=
