wherehows.db.jdbc.url=jdbc:mysql://your.host.name/wherehows
wherehows.db.username=your_user_name
wherehows.db.password=your_pass_word


lineageRecord.appId=0
lineageRecord.flowExecId=111
lineageRecord.jobName=some_job_name
lineageRecord.jobExecId=111001

lineageRecord1.databaseId=0
lineageRecord1.fullObjectName=hdfs://hadoop.host.com:9000/data/hadoop/someDataSet/daily/2015/09/01/part1
lineageRecord1.storageType=hdfs
lineageRecord1.sourceTargetType=source
lineageRecord1.operation=read
lineageRecord1.flowPath=someFlowPath

lineageRecord2.databaseId=0
lineageRecord2.fullObjectName=hdfs://hadoop.host.com:9000/data/hadoop/someDataSet/daily/2015/09/02/part1
lineageRecord2.storageType=hdfs
lineageRecord2.sourceTargetType=source
lineageRecord2.operation=read
lineageRecord2.flowPath=someFlowPath

lineageRecord3.databaseId=0
lineageRecord3.fullObjectName=hdfs://hadoop.host.com:9000/data/hadoop/someDataSet/daily/2015/09/02/part3
lineageRecord3.storageType=hdfs
lineageRecord3.sourceTargetType=source
lineageRecord3.operation=read
lineageRecord3.flowPath=someFlowPath



lineageCombinerDatabaseValue='0','111','111001',null,null,'0','0','0','/data/hadoop/someDataSet','hdfs://hadoop.host.com:9000/data/hadoop/someDataSet/daily/2015/09/01/part1','2015/09/01','2015/09/02','daily','1',null,'source','0',null,'read',null,null,null,null,'someFlowPath','1455059623',null


analyzeTest.fullPath=hdfs://hadoop.host.com:9000/path/to/a/dataset/part-m-00004
analyzeTest.abstractPath=/path/to/a/dataset
