.search-facet {
  padding: item-spacing(4);
  border-bottom: 1px solid get-color(gray2);

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: item-spacing(2);
    min-height: item-spacing(5);
  }

  &__title {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    font-size: 16px;
    font-weight: fw(normal, 6);
  }

  &__checkbox-wrapper {
    &#{&}#{&} {
      display: block;
    }
  }

  &__label {
    font-weight: fw(normal, 4);
  }

  &__count {
    font-weight: fw(normal, 4);

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  &__option--empty {
    color: rgba(0, 0, 0, 0.6);
  }

  &__dynamic-header {
    margin-top: 15px;
  }
}

.search-facets {
  &.nacho-container {
    padding: 0;
    margin: 0;
  }

  &__header {
    border-bottom: 1px solid get-color(gray2);
    padding: item-spacing(4);
  }

  &__title {
    margin: 0;
    font-weight: fw(normal, 6);
  }

  &__empty {
    color: get-color(gray2);
    font-style: italic;
    padding: item-spacing(2 4);
  }

  > *:last-child .search-facet {
    border-bottom: 0;
  }
}
