$search-result-label-width: 124px;

.search-results {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid get-color(gray2);
    padding: item-spacing(5 4 2);
    margin: 0;
  }

  &__header-description {
    color: get-color(gray8);
  }

  &__title {
    font-weight: fw(normal, 6);
    margin: 0;
  }

  &__content {
    padding: 0 item-spacing(4);
  }

  &__pagination {
    border-top: 1px solid get-color(gray2);
  }
}

.search-result {
  // Spacing value between secondary action components
  $action-item-spacing: item-spacing(4);

  display: flex;
  border-bottom: 1px solid get-color(gray1);
  padding: item-spacing(4 0);

  &:last-child {
    border: 0;
  }

  &__image {
    flex-shrink: 0;
  }

  &__main {
    flex-grow: 1;
  }

  &__entity-img {
    width: item-spacing(8) + item-spacing(2);
    height: item-spacing(8) + item-spacing(2);
    margin-right: item-spacing(3);
  }

  &__tag-icon {
    color: $link-color;
    margin-right: item-spacing(2);
  }

  &__title {
    display: flex;
    font-size: 18px;
    font-weight: fw(normal, 6);
    margin: 0;
    align-items: center;

    .nacho-pill--link {
      background: rgba(199, 209, 216, 0.45);
      color: rgba(0, 0, 0, 0.75);
      font-size: fs(standard);
      line-height: 20px;
      border: 0;
      cursor: auto;
    }
  }

  &__title-link,
  &__title-span {
    margin-right: item-spacing(2);
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3;
  }

  &__urn {
    color: get-color(gray6);
    padding: 0;
    margin: item-spacing(0 0 2 0);
  }

  &__description {
    margin-top: item-spacing(3);
  }

  &__fields {
    margin-top: item-spacing(3);
    display: table;
  }

  &__field {
    margin-top: item-spacing(1);
    display: table-row;
  }

  &__field-value {
    display: table-cell;
  }

  &__field-value-list {
    margin: 0;
    padding: 0;
  }

  &__field-value-list-item {
    display: inline;
    padding: 0;
    margin: 0;

    &:after {
      content: ', ';
    }

    &:last-child::after {
      content: '';
    }
  }

  &__field-name {
    display: table-cell;
    min-width: $search-result-label-width;

    &-label {
      font-weight: fw(normal, 6);
      margin: item-spacing(1 4 0 0);
    }
  }

  // Secondary actions for search results are contained within this element
  &__action-bar {
    margin-left: auto;
    display: flex;
    flex-shrink: 0;
    button + button {
      margin-left: $action-item-spacing;
    }
  }
}
