.webinarIframe {
  width: 100%;
  border: none;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}

.sessionList {
  padding: 1rem 1.5rem;
  > div {
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
    align-items: center;
    justify-content: space-between;
  }
}
