.post-action-notification {
  margin-bottom: 0;
  border-radius: 2px;
  padding: 5px;
  vertical-align: top;
}

/// Defines styles for a notification bar in an action bar
.action-footer-notification {
  display: inline-block;
}
