/// Defines the styles for the notification confirm modal
/// Includes 3 structural elements: __header, __content, __footer
.notification-confirm-modal {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 12px 18px 1px rgba(0, 0, 0, .2);
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: auto;
  background-color: set-color(white, base);
  max-height: calc(100vh - 64px);
  min-height: 48px;
  width: 520px;

  &__header,
  &__content,
  &__footer {
    padding: item-spacing(4 4);
  }

  &__header {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }

  &__heading-text {
    margin-top: 0;
    font-weight:fw(normal, 4);
    font-size: 24px;
    color: set-color(grey, dark);
  }

  &__footer {
    border-top: 1px solid rgba(0, 0, 0, .15);
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: item-spacing(2);
    }
  }
}

.notification-confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: z('modal');
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 39, 36, 0.75);
}
