/// Defines the styles for the notification toast component
/// Contains the states --info, --success, --error
/// Also includes a __dismiss element when applicable i.e.shown
.notification-toast {
  position: fixed;
  text-align: left;
  border-radius: 2px;
  display: block;
  width: 400px;
  z-index: z('toast');
  bottom: item-spacing(2);
  left: item-spacing(6);
  background: set-color(white, base);
  padding: 0;
  overflow: hidden;
  height: 96px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 6px 9px rgba(0, 0, 0, .2);
  margin-top: item-spacing(3);

  &__content {
    overflow: hidden;
    height: 100%;
    padding: item-spacing(4 7 4 8);

    &::before {
      content: '';
      height: 100%;
      width: 48px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }

    &--info {
      &::before {
        background-color: set-color(grey, light);
      }
    }

    &--error {
      &::before {
        background-color: set-color(red, red5);
      }
    }

    &--success {
      &::before {
        background-color: set-color(green, green5);
      }
    }
  }

  &__dismiss {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    z-index: 1;
    width: item-spacing(7);
    font-size: item-spacing(6);
    cursor: pointer;

    &:hover {
      background-color: set-color(grey, light);
    }
  }
}
