<div class="row">
  {{browser/containers/browser-summary params=model}}
</div>

<div class="row">
  <div class="col-sm-3 wh-sidebar">
    {{browser/containers/browser-rail header=header params=model}}
  </div>

  <div class="col-sm-9 wh-main-content">
    {{browser/containers/browser-viewport params=model}}
  </div>
</div>
{{outlet}}
