.dataset-meta-properties {
  display: flex;
  align-items: center;
  margin-top: item-spacing(5);
  margin-bottom: item-spacing(5);
}

.dataset-name {
  max-width: item-spacing(8) * 11;
  padding-right: item-spacing(3);
  word-wrap: break-word;
  text-overflow: ellipsis;
  margin: 0;
}

.dataset-header-meta {
  display: flex;
  position: relative;

  .dataset-health-score {
    position: absolute;
    right: item-spacing(5);
    bottom: 0;
  }
}
