.dataset-meta-properties {
  display: flex;
  align-items: center;
  margin-top: item-spacing(5);
  margin-bottom: item-spacing(5);
}

.dataset-name {
  max-width: item-spacing(9) * 10;
  padding-right: item-spacing(3);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.dataset-header-meta {
  display: flex;
  position: relative;

  .dataset-health-score {
    position: absolute;
    right: item-spacing(5);
    bottom: 0;
  }

  .dataset-owner-list {
    margin-left: item-spacing(4);

    .avatar-container {
      justify-content: flex-start;
    }
  }
}
