.wh-login-container {
  @include full-screen;
  @include flex-column-center;
  height: calc(100% - #{$nav-min-height});
  background-color: set-color(blue, oxford);
  color: set-color(white, base);
}

.nacho-login {
  @include flex-column-center;

  &__header {
    font-size: 24px;
    letter-spacing: 7px;
  }

  &__login-error {
    margin-top: 10px;
    font-size: 14px;
    color: set-color(red, red5);
  }
}

.nacho-login-form {
  max-width: 160px;

  &__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    line-height: 32px;
    background-color: transparent;
    outline: 0;
    padding: 0;
  }

  &__button {
    width: 100%;
    margin-top: 20px;
  }
}
