/**
 * Set up a box model on the root element
 */
html {
  box-sizing: border-box;
  font-size: 10px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Apply padding to top and bottom to account for navigation and footer
 */
body {
  background-color: get-color(slate0);
  margin: 0;
  line-height: 1.42857;
}

/**
 * Basic styles for links
 */
a {
  color: $link-color;
  text-decoration: none;
  font-weight: fw(normal, 6);

  @include on-event() {
    color: $text-color;
    text-decoration: none;
  }
}
input[type='checkbox'],
input[type='radio'] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

legend,
pre {
  display: block;
  color: #333;
}

img {
  vertical-align: middle;
}

label {
  font-weight: fw(normal, 6);
  max-width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}
/**
 * Resets
**/
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.popover,
.tooltip,
button,
select {
  text-transform: none;
}

.btn-group-vertical > .btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dropdown-menu > li > a,
.ember-power-select-trigger:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nacho-clearfix::after,
.nav:after,
.navbar .dropdown-menu li > div,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after,
.wherehows-entity-header::after {
  clear: both;
}
