/**
 * Basic typography style
 */
body {
  color: $text-color;
  font: normal fw(normal, 4) 14px $text-font-stack;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 10px;
}

.h3,
h3 {
  font-size: 24px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: fw(normal, 4);
  line-height: 1.1;
  color: inherit;
}

th {
  font-weight: fw(normal, 6);
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h1,
h1 {
  font-size: 36px;
}

.h2,
h2 {
  font-size: 30px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 14px;
}

.h6,
h6 {
  font-size: 12px;
}
