.deprecated-dataset {
  @include tag(get-color(red8), get-color(white));
  line-height: item-spacing(5);

  &--small {
    font-size: fs(small);
    line-height: 18px;
  }
}

.dataset-deprecation-toggle {
  @include nacho-container;
  margin: item-spacing(3 0);

  &__actions {
    margin-top: item-spacing(2);
  }

  &__toggle-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: item-spacing(3);

    &__label {
      margin: item-spacing(0 2 0 0);
    }
  }

  &__decommission-calendar {
    @include ember-power-calendar($cell-size: item-spacing(7), $primary-color: get-color(blue7));
  }

  &__cal-input-trigger {
    padding: item-spacing(1);
  }

  &__cal-dropdown {
    box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px 0;
    border: 1px solid get-color(black, 0.3);
  }
}

.dataset-deprecation-header {
  margin-top: item-spacing(6);
  font-size: 18px;
  font-weight: fw(normal, 6);
}

.decommission-date {
  margin-top: item-spacing(4);

  &--required {
    color: get-color(red5);
  }
}
