coverage==7.10.5
httpcore==1.0.9
httpx==0.28.1
iniconfig==2.1.0
mypy==1.17.1
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
ruff==0.11.4