.last-saved-by {
  display: inline-flex;
  align-items: center;

  &__title {
    margin-right: item-spacing(1);
  }

  &__conjunction {
    margin: item-spacing(0 1);
  }
}

.last-saved-by-container {
  text-align: right;
  margin-left: auto;
  padding: item-spacing(3 0);

  &--no-padding {
    padding: 0;
  }
}
