.dataset-relationship-vis {
  @include nacho-container;
  align-self: flex-start;
  position: sticky;
  top: item-spacing(4) + $application-navbar-static-height + $application-navigation-breadcrumbs-static-height +
    $application-navigation-tab-static-height;
  margin: item-spacing(0 0 4 4);

  &__legend {
    font-size: fs(small);
  }
  &__node {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }

  &__node--unselected {
    background: get-color(blue2);
  }

  &__node--unloaded {
    background: get-color(slate2);
  }

  &__node--selected {
    background: get-color(orange2);
  }

  &__tool-bar {
    position: absolute;
    width: 33px;
    bottom: item-spacing(4);
    right: item-spacing(4);
  }
}

.banner-alert-offset .dataset-relationship-vis {
  top: item-spacing(4) + $application-navbar-static-height + $application-navigation-breadcrumbs-static-height +
    $application-navigation-tab-static-height + $banner-alerts-height;
}
