.dataset-relationships-container {
  margin-top: item-spacing(5);

  .relationship-table {
    $cell-spacing: item-spacing(8);

    &__type {
      width: $cell-spacing * 3;
    }

    &__platform {
      width: $cell-spacing * 2;
    }

    &__actor {
      width: $cell-spacing * 3;
    }

    &__modified {
      width: $cell-spacing * 3;
    }
  }
}

.dataset-relationships {
  &__note {
    color: get-color(black, 0.45);
  }

  &__header {
    margin-top: item-spacing(5);
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
}

.dataset-relationships-not-found {
  @include nacho-container;
}
