.dataset-relationship-levels {
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;

  &__container {
    display: flex;
  }

  &__level {
    @include nacho-container;
    margin: item-spacing(4 0);

    &:first-child {
      margin-top: 0;
    }

    &--collapsed {
      background: get-color(orange2);
    }
  }

  &__level-header {
    display: flex;
    justify-content: space-between;
    padding: item-spacing(0 0 4 0);
  }

  &__level-title {
    margin: 0;
  }

  &__help-msg {
    color: get-color(gray3);
  }

  &__button.nacho-button {
    padding: 0;
    text-overflow: ellipsis;
    margin-right: item-spacing(2);
  }

  &__node {
    margin: 0 (-1 * item-spacing(4));
    padding: item-spacing(4 4);

    &:hover {
      background: get-color(gray1);
    }

    &--selected {
      &:hover {
        background: transparent;
      }
    }
  }
}
