<li>
  <header class="nacho-filter-rail__header">{{header}}</header>
</li>
{{yield (hash
          checkboxes=(component checkboxComponent)
          radioGroup=(component radioGroupComponent)
          dropdown=(component dropdownComponent)
          links=(component linksComponent)
          dateRange=(component dateRangeComponent)
        )}}
