<div class="container">
  {{!--TODO: Make into Component--}}
  <ul class="nacho-breadcrumbs">
    {{#each breadcrumbs as |crumb|}}
      <li class="nacho-breadcrumbs__crumb">
        {{link-to crumb.crumb "browse.entity" "metrics" (query-params page=1 name=crumb.name)
                  class="nacho-breadcrumbs__crumb__grain"}}
      </li>
    {{/each}}
  </ul>

  {{metric-detail showLineage=showLineage model=model}}
</div>
