<h3>Use Cases with Pure Configs</h3>

<h4>Basic Table Case</h4>
{{config-cases/basic-case}}

<h4>Custom Row Component</h4>
{{config-cases/custom-components}}

<h4>Display Links</h4>
{{config-cases/display-links}}
