.container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  font-family: "Manrope";
}
.case_study {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 5rem auto;

  .case_study_heading {
    text-align: center;
    font-family: "Manrope";

    div {
      font-size: 3.5rem;
      line-height: normal;
    }
    p {
      font-size: 1.8rem;
      margin-top: 10px;
    }
  }

  .card_row {
    display: flex;
    gap: 1rem;
    margin-top: 30px;

    .card {
      position: relative;
      width: 25%;
      border-radius: 20px;
      background: white;
      padding: 5px;
      padding-bottom: 15px;

      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 15px;
      }
      .card_tag {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
        background: #edf2ff;
        color: rgb(58, 57, 57);
        font-size: 10px;
        padding: 0.3rem;
        border-radius: 0.5rem;
      }
      .card_heading_div {
        padding: 0 10px 10px;
        .card_heading {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .card_para {
          font-size: 1rem;
          margin-top: 5px;
          line-height: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .bottom_line {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #12b0fb;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;

    span {
      line-height: 10px;
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}
