.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  font-family: "Manrope";
}


.case_study {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 5rem auto;
  position: relative;


  .case_study_heading {
    text-align: center;
    font-family: "Manrope";


    div {
      width: 90%;
      margin: auto;
      font-size: 2.8rem;
      line-height: normal;
      font-weight: 500;
    }


    p {
      width: 65%;
      margin: auto;
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-top: 10px;
    }
  }


  .arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
  }


  .left_arrow {
    left: -40px;
  }


  .right_arrow {
    right: -40px;
  }


  .card_row {
    display: flex;
    gap: 1rem;
    margin-top: 30px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
  }


  .card_row::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Chrome, Safari, and Opera */
  }


  .card {
    position: relative;
    flex: 0 0 auto;
    width: 25%;
    min-width: 300px;
    border-radius: 20px;
    background: white;
    padding: 5px;
    padding-bottom: 15px;


    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      border-radius: 15px;
    }


    .card_tag {
      position: absolute;
      right: 0.8rem;
      top: 0.8rem;
      background: #edf2ff;
      color: rgb(58, 57, 57);
      font-size: 10px;
      padding: 0.3rem;
      border-radius: 0.5rem;
    }


    .card_heading_div {
      padding: 0 10px 10px;


      .card_heading {
        font-size: 1.5rem;
        font-weight: bold;
      }


      .card_para {
        font-size: 1rem;
        margin-top: 5px;
        line-height: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }


  .bottom_line {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #12b0fb;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 10px;


    span {
      line-height: 10px;
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}


@media (max-width: 768px) {
  .case_study {
    width: 100%;
    margin: 5rem auto;


    .case_study_heading {
      text-align: center;
      font-family: "Manrope";


      div {
        width: 90%;
        margin: auto;
        font-size: 1.8rem;
        line-height: normal;
        font-weight: 500;
      }


      p {
        width: 65%;
        margin: auto;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 10px;
      }
    }


    .card_row {
      flex-direction: row;
      gap: 1rem;
      overflow-x: scroll;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }


    .card_row::-webkit-scrollbar {
      display: none;
    }


    .card {
      min-width: 70%;
      flex-shrink: 0;
      border-radius: 20px;
      background: white;
      padding: 5px;
      padding-bottom: 15px;


      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 15px;
      }


      .card_tag {
        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
        background: #edf2ff;
        color: rgb(58, 57, 57);
        font-size: 10px;
        padding: 0.3rem;
        border-radius: 0.5rem;
      }


      .card_heading_div {
        padding: 0 10px 10px;


        .card_heading {
          font-size: 1.5rem;
          font-weight: bold;
        }


        .card_para {
          font-size: 1rem;
          margin-top: 5px;
          line-height: normal;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }


    .bottom_line {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #12b0fb;
      font-size: 1.1rem;
      font-weight: 500;
      margin-top: 50px;
      margin-bottom: 10px;


      span {
        line-height: 10px;
        font-size: 1.5rem;
        margin-left: 5px;
      }
    }
  }
}