.container {
  display: flex;
  flex-direction: column;
  background: #F4F4F5;
  font-family: "Manrope";
}
.case_study {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 5rem auto;

  .case_study_heading {
    text-align: center;
    font-family: "Manrope";

    div {
      font-size: 3.5rem;
      line-height: normal;
    }
    p {
      font-size: 1.8rem;
      margin-top: 10px;
    }
  }

  .card_row {
    margin-top: 30px;

    .cardLink {
      color: #000;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    .card {
      display: flex !important;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      width: 22rem !important;
      min-height: 23.5rem !important;
      border-radius: 23px;
      background: white;
      padding: 0 0.2rem;
      padding-bottom: 15px;

      img {
        min-width: 100%;
        min-height: 40%;
        object-fit: cover;
        border-radius: 16px;
        padding: 5px;
      }
      .card_tag {
        position: absolute;
        right: 1.2rem;
        top: 0.8rem;
        background: #edf2ff;
        color: rgb(58, 57, 57);
        font-size: 0.75rem;
        font-family: 'Manrope';
        font-weight: 600;
        padding: 0.3rem;
        border-radius: 0.5rem;
      }
      .card_heading_div {
        padding: 0 10px 10px;
        text-align: start;

        .card_heading {
          font-family: "Manrope";
          font-size: 1.25rem;
          font-weight: bold;
        }
        .card_para {
          font-size: 1rem;
          margin-top: 5px;
          line-height: normal;
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .bottom_line {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #12b0fb;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;

    span {
      line-height: 10px;
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}

@media (max-width: 480px) {
  .case_study {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5rem auto;

    .case_study_heading {
      text-align: center;
      font-family: "Manrope";

      div {
        width: 90%;
        margin: auto;
        font-size: 1.8rem;
        line-height: normal;
        font-weight: 500;
      }
      p {
        width: 65%;
        margin: auto;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 10px;
      }
    }

    .card_row {
      margin-top: 30px;

      .card {
        position: relative;
        width: 50%;
        border-radius: 23px;
        background: white;
        padding: 0 0.2rem;
        padding-bottom: 15px;

        img {
          min-width: 100%;
          min-height: 40%;
          object-fit: cover;
          border-radius: 15px;
          padding: 5px;
        }
        .card_tag {
          position: absolute;
          right: 1.2rem;
          top: 0.8rem;
          background: #edf2ff;
          color: rgb(58, 57, 57);
          font-size: 0.75rem;
          font-family: 'Manrope';
          font-weight: 600;
          padding: 0.3rem;
          border-radius: 0.5rem;
        }
        .card_heading_div {
          padding: 0 10px 10px;
          text-align: start;

          .card_heading {
            font-family: "Manrope";
            font-size: 1.25rem;
            font-weight: bold;
          }
          .card_para {
            font-size: 1rem;
            margin-top: 5px;
            line-height: normal;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .bottom_line {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #12b0fb;
      font-size: 1.1rem;
      font-weight: 500;
      margin-top: 50px;
      margin-bottom: 10px;

      span {
        line-height: 10px;
        font-size: 1.5rem;
        margin-left: 5px;
      }
    }
  }
}
