{{#nacho-table
  data=basicData
  tableConfigs=testConfigs
as |table|
}}
  {{#table.global}}
    <h1>Starter Pokemon</h1>
  {{/table.global}}

  {{#table.body as |body|}}
    {{#each table.fields as |field|}}
      {{#body.row as |row|}}
        {{#row.cell}}
          {{field.name}}
        {{/row.cell}}
        {{#row.cell}}
          {{field.type}}
        {{/row.cell}}
        {{#row.cell}}
          {{field.nature}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/nacho-table}}
