.removed-dataset {
  @include pill(set-color(red, maroonflush), set-color(white, base));
  margin-top: item-spacing(3);
  line-height: item-spacing(5);

  &--small {
    font-size: 12px;
    line-height: 18px;
  }
}
