/**
 * Prompt for privacy compliance
 */
.metadata-prompt {
  margin-top: 30px;

  /**
   * Overrides default styles
   */
  .ember-radio-button {
    display: inline-block;
    width: 60px;
    cursor: pointer;
  }

  &__header {
    font-size: 24px;
    font-weight: fw(normal, 2);
  }

  &__page-number {
    display: inline-block;
    font-size: 16px;
    border: 1px solid set-color(grey, light);
    border-radius: 2px;
    padding: 5px;
    background-color: tint(set-color(green, green5), 65%);
  }
}

/// Wraps a status notification icon for a given dataset
.dataset-tag-container {
  width: 20px;
  display: inline-block;
}

.dataset-classification-indicator {
  /// A notification that a dataset contains a tag
  &--tagged {
    &::before {
      color: set-color(green, green5);
    }
  }

  /// A notification that a dataset does not contains a tag
  &--not-tagged {
    &::before {
      color: set-color(red, red5);
    }
  }
}
