/// Wrapper for dataset compliance component
.compliance-container {
  &--edit-mode {
    .dataset-field-value {
      visibility: visible;
    }
  }
}

/// Forces td cells on dataset field classification table to not wrap
.dataset-field-content {
  &__prompt {
    white-space: nowrap;
  }

  &__header {
    text-align: right;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/// Default visual state for dataset-field-value selector
.dataset-field-value {
  visibility: hidden;
}

/// Visual state for compliance elements
.compliance-row {
  &--off-screen {
    visibility: hidden;
  }
}
