@import "../variables";

.dataset-compliance-fields {
  &__has-suggestions {
    color: $compliance-suggestion-hint;
  }

  &__notification-column {
    width: 5%
  }

  &__classification-column {
    width: 17%;
  }
}
