@import '../variables';

.dataset-compliance-fields {
  &__has-suggestions {
    color: $compliance-suggestion-hint;
    margin-left: item-spacing(2);
  }

  &__notification-column {
    width: 5%;
  }

  &__classification-column {
    width: 20%;
  }

  &__tall-cell#{&}__tall-cell {
    vertical-align: top;
  }

  &__current-value {
    display: inline-block;
    height: 0;
    padding: item-spacing(1);
    color: set-color(grey, mid);
  }
}
