<p>By checking this box, you acknowledge that you must keep this {{entityName}} compliance updated even after it is deprecated.</p>
<p>
  For more information on how to decommission your {{entityName}}, please follow this link:
  <a href={{entityDecommissionWikiLink}} target="_blank" rel="noreferrer noopener">
    {{capitalize entityName}} Decommission
  </a>
</p>
