.user-focus-area {
  width: 50%;
  margin-bottom: item-spacing(5);

  &__title {
    font-weight: bold;
  }

  &__icon {
    margin-left: item-spacing(2);
    cursor: pointer;
  }

  &__content {
    width: 450px;
    text-align: justify;
  }

  &__skills {
    margin-bottom: item-spacing(2);
  }

  .nacho-pill {
    margin-right: item-spacing(2);
    line-height: 16px;
  }
}
