.feature-card {
  height: 160px;
  border-radius: 2px;
  margin: 30px 0;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

  &__title {
    color: set-color(blue, curious);
    font-weight: fw(normal, 4);
    font-size: 20px;
  }

  &__description {
    color: set-color(black, dune);
  }
}
