.upstream-dataset {
  @include nacho-container;
  padding: item-spacing(2 5);
  display: flex;
  align-items: center;

  &__compliance-status {
    &__complete {
      color: get-color(green5);
    }

    &__incomplete {
      color: get-color(orange5);
    }
  }

  &__upstream-link {
    margin-left: item-spacing(3);
  }

  &__upstream-link-chevron {
    margin-left: auto;
  }
}

.downstream-purge-policy-header {
  display: flex;
  align-items: center;
  margin: item-spacing(6 0 0);
}

.downstream-purge-policy {
  &__no-policy {
    @include nacho-container;
  }

  &__edit {
    margin-left: auto;
    display: flex;
    align-items: center;

    &--label {
      margin-right: item-spacing(4);
      font-weight: fw(normal, 3);
    }
  }
}
