.banner-alerts {
  position: fixed;
  top: 0;
  width: 100vw;
  transition: height $banner-animation-speed ease;
  overflow: hidden;
  z-index: z('banner');

  &--show {
    height: $banner-alerts-height;
  }

  &--hide {
    height: 0;
  }

  .banner-alert {
    transition: height $banner-animation-speed ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 1128px;
    overflow: hidden;
    padding: 8px 24px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: get-color(white);
    min-height: 0;

    &--active {
      height: $banner-alerts-height;
    }

    &--exiting {
      height: 0;
      padding: 0 24px;
    }

    &--info {
      background-color: get-color(slate6);
      border-bottom: 1px solid get-color(slate3, 0.5);
    }

    &--confirm {
      background-color: get-color(orange5);
      border-bottom: 1px solid get-color(orange3, 0.5);
    }

    &--error {
      background-color: get-color(red5);
      border-bottom: 1px solid get-color(red3, 0.5);
    }

    a {
      color: get-color(white);
      text-decoration: underline;
    }

    &:first-child {
      z-index: 999;
    }

    &:nth-child(2) {
      z-index: 99;
    }

    &:nth-child(n + 3) {
      z-index: 1;
    }

    &__icon {
      margin-right: 16px;
    }

    &__content {
      width: 90vw;
      min-width: 1056px;

      p {
        margin: 0;
      }

      &__link {
        color: get-color(white, 0.9);
        text-decoration: underline;

        &:hover {
          color: get-color(black, 0.75);
        }
      }
    }

    &__dismiss {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
