.heroBanner {
  padding: 6rem 0;
  position: relative;
}

.larger_on_desktop {
  font-size: 1.5em;
}

.browse_image {
  margin-left: -2rem;
  margin-right: 4rem;
}

.recipe_example {
  margin-left: 3rem;
  margin-right:-2rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0.5rem;
  }

  .larger_on_desktop {
    font-size: 1em;
  }

  .hiddenMobile {
    display: none;
  }

  .centerTextMobile {
    text-align: center;
  }

  .browse_image {
    margin: 1.5rem;
  }

  .recipe_example {
    margin: 0;
  }
}

.bumpUpLogo {
  margin-top: -2rem;
}

.not_bold_text {
  font-weight: 300;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.centerText {
  text-align: center;
}

.big_padding_top {
  padding-top: 4rem;
}
.big_padding_bottom {
  padding-bottom: 4rem;
}
.small_padding_top {
  padding-top: 1.5rem;
}
.section {
  padding: 4rem 0;
}