# Default values for datahub-ingestion-cron.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: linkedin/datahub-ingestion
  tag: v0.8.3
  pullPolicy: Always

imagePullSecrets: []

crons: {}
  #### Example data
  #hive:
    ## Daily at midnight (we may want to offset this to not conflict with other processes)
    #schedule: "0 0 * * *"

    #recipe:
    #  configmapName:
    #  fileName:

    ## Command to be executed
    #command: ["/bin/sh", "-c", "datahub ingest -c <recipe.fileName>"]

    ## Deployment pod host aliases
    ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
    ##
    #hostAliases: []

    ## Environment variables.
    #env: {}

    ## Environment variables from Secret resources.
    #envFromSecrets: {}

    ## Additional primary volume mounts
    ##
    #extraVolumeMounts:
    #- name: configmap-volume
    #  mountPath: config.yml
    #  subPath: config.yml

    ## Additional primary volumes
    ##
    #extraVolumes:
    #- name: configmap-volume
    #  configMap:
    #    name: crawler-config

    ## Add your own init container or uncomment and modify the given example.
    ##
    #extraInitContainers: {}
