<div class="nacho-ellipsis-animation">
  <div class="nacho-ellipsis-animation__ellipsis">
    <div class="nacho-ellipsis-animation__circle">&nbsp;</div>
    <div class="nacho-ellipsis-animation__circle">&nbsp;</div>
    <div class="nacho-ellipsis-animation__circle">&nbsp;</div>
  </div>
</div>
