.dataset-health {
  &__metrics-charts {
    @include nacho-container;
    display: flex;
    margin-bottom: item-spacing(5);
  }

  &__chart-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
  }

  .severity-chart {
    &__bar {
      &--minor {
        $green3: get-color(green3);
        fill: $green3;
        stroke: $green3;
      }
      &--warning {
        $orange3: get-color(orange3);
        fill: $orange3;
        stroke: $orange3;
      }
      &--critical {
        $red3: get-color(red3);
        fill: $red3;
        stroke: $red3;
      }
    }
  }
}
