.dataset-health {
  &__score-table {
    @include nacho-container;

    &__row {
      &--critical {
        background-color: get-color(red3, 0.25);

        .dataset-health__score-table {
          &__score,
          &__severity {
            color: get-color(red5);
          }
        }
      }

      &--warning {
        .dataset-health__score-table {
          &__score,
          &__severity {
            color: get-color(orange5);
          }
        }
      }

      &--successful {
        .dataset-health__score-table {
          &__score {
            color: get-color(green5);
          }
        }
      }

      & .dataset-health__score-table {
        &__category {
          color: get-color(blue5);
          font-weight: 600;
        }
      }
    }

    &__category {
      width: 128px;
      text-align: center;
    }

    &__description {
      width: 640px;
    }

    &__score {
      width: 128px;
      text-align: center;
    }

    &__severity {
      text-align: center;
    }
  }
}
