<div class="dataset-health__chart-container">
  {{#if (and isActiveTab categoryData)}}
    {{visualization/charts/horizontal-bar-chart
      title="Categories"
      series=categoryData
      labelAppendValue="%"
      onBarSelect=(action onCategorySelect)}}
  {{/if}}
</div>
<div class="dataset-health__chart-container">
  {{#if (and isActiveTab severityData)}}
    {{visualization/charts/horizontal-bar-chart
      class="severity-chart"
      title="Priority Level"
      series=severityData
      labelAppendValue="%"
      onBarSelect=(action onSeveritySelect)}}
  {{/if}}
</div>