{{#if hasSamples}}
  {{#if isPinot}}
    <table id="pinotsampletreegrid" class="tree table table-bordered dataset-detail-table">
      <thead>
      <tr class="results-header">
        {{#each columns as |column|}}
          <th class="col-xs-2">{{column}}</th>
        {{/each}}
      </tr>
      </thead>
      <tbody>
      {{#each samples as |sample|}}
        <tr>
          {{#each sample as |r|}}
            <td class="wrap-all-word">{{r}}</td>
          {{/each}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <div id="datasetSampleData-json-human" class="table-responsive"></div>
  {{/if}}
{{else}}
  <p>Sample data is not available</p>
{{/if}}