<form {{action "onSave" on="submit"}}>

  <div class="dataset-deprecation-toggle__toggle-header">

    <p class="dataset-deprecation-toggle__toggle-header__label">
      Is this dataset deprecated?
    </p>

    {{input
      id="dataset-is-deprecated"
      type="checkbox"
      title="Is this dataset deprecated?"
      class="toggle-switch toggle-switch--light"
      checked=(readonly deprecatedAlias)
      change=(action "toggleDeprecatedStatus")
    }}
    <label for="dataset-is-deprecated" class="toggle-button">
    </label>

  </div>

  {{#if deprecatedAlias}}

    {{medium-content-editable
      value=deprecationNoteAlias
      options=editorOptions
      class="comment-new__content"}}

  {{/if}}

  <div class="dataset-deprecation-toggle__actions">
    {{#if isDirty}}
      <button
        type="submit"
        class="nacho-button--large nacho-button--secondary">
        Update Deprecation Status
      </button>
    {{/if}}
  </div>
</form>
