<article>
  <p>Page:</p>
  {{ember-selector values=pages selected=page selectionDidChange="changePage"}}
</article>

<article>
  <p>Rows per page:</p>
  {{ember-selector values=pageLengths selected=limit selectionDidChange="changeLimit"}}
</article>

<div>
  <button {{action "onDecrementPage"}}>
    <i aria-label="Sorting arrow" class="glyphicon glyphicon-arrow-left"></i>
  </button>

  <button {{action "onIncrementPage"}}>
    <i aria-label="Sorting arrow" class="glyphicon glyphicon-arrow-right"></i>
  </button>
</div>