<div id="confidential" class="tab-body">
  <section class="metadata-prompt" id="has-confidentiality">
    <header>
      <p>Which fields should be classified as Confidential or Highly Confidential (if any)?</p>
    </header>
  </section>
</div>
{{yield}}
