{{#if hasBlock}}

  {{yield}}

{{else}}

  <strong class="empty-state__header">{{heading}}</strong>

  {{#if subHead}}
    <p class="empty-state__sub-head">
      {{subHead}}
    </p>
  {{/if}}

{{/if}}
