<div class="ellipsis-loader__ellipsis">
  <div class="ellipsis-loader__circle">&nbsp;</div>
  <div class="ellipsis-loader__circle">&nbsp;</div>
  <div class="ellipsis-loader__circle">&nbsp;</div>
</div>
