<i class="fa fa-pencil pull-right wh-clickable-icon" {{action "showComments"}}></i>

{{#if isShowingFieldComment}}
  {{#if getComments.last.isRunning}}
    {{#modal-dialog
      overlayClass="notification-confirm-modal-overlay"
      containerClassNames=containerClassNames
      onClose=(action "hideComments")
    }}

      {{#comment/comment-stream
        comments=comments
        commentTypes=commentTypes
        updateCommentInStream=(action "handleSchemaComment" SchemaCommentActions.Modify)
        deleteCommentFromStream=(action "handleSchemaComment" SchemaCommentActions.Destroy)
        addCommentToStream=(action "handleSchemaComment" SchemaCommentActions.Add) as |stream|
      }}

        {{#stream.header}}
          Comments for <strong>{{schema.fieldName}}</strong>
        {{/stream.header}}

        {{#stream.new}}
          + Add a comment...
        {{/stream.new}}

        {{#each stream.comments as |comment|}}
          {{#stream.item comment=comment}}
            {{{comment.html}}}
          {{/stream.item}}
        {{/each}}

      {{/comment/comment-stream}}
    {{/modal-dialog}}
  {{else}}
    <p>TODO:loading</p>
  {{/if}}
{{/if}}
