<div class="form-group nacho-global-search">
  <div class="input-group">
    <label for="search-input" class="sr-only">Search</label>

    {{aupac-typeahead
      selection=(readonly selection)
      action=(action "onSelectedSuggestion")
      autoFocus=false
      allowFreeInput=true
      source=(action "onInput")
      async=true
      limit=20
      minLength=3
      placeholder=placeholder
      class="form-control nacho-global-search__text-input"}}

    <span class="input-group-btn">
      <button class="btn btn-default nacho-button--large search-button" type="submit" {{action "search"}} id="global-search-button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div>
