/// Styles the comment-stream container which hosts each comment component
.comment-stream {
  width: item-spacing(9) * 7;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  &__header {
    padding: item-spacing(0 2);
    list-style-type: none;
  }
}
