/// Styles the new comment component
.comment-new {
  list-style-type: none;
  margin-top: item-spacing(4);

  &__content {
    min-height: item-spacing(6) * 4;
    outline: none;
    padding: item-spacing(1);
    background-color: set-color(white, base);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__actions {
    margin: item-spacing(4) 0 0;

    button {
      margin: item-spacing(0 1 0 0);
      outline: none;
    }
  }
}
