/** **************** SIZING CONCERNS **************** **/

// This handles the max size of a container we want in our application. This usually has to do with grid size or
// some window size restriction in the design world
$max-container-width: 1128px;

/** **************** COLOR CONCERNS **************** **/

/// All the available colors we want to be able to work with in our application.
$color-bin: (
  silver3: #989898,
  blue5: #0977b1,
  purple7: #594cc9,
  red6: #df2511,
  white: #ffffff,
  black: #000000
);

/** **************** SHAPE CONCERNS **************** **/

// Some people like a little roundness to their component shapes
$default-border-radius: 2px;
