.container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.ecosystem_section {
  position: relative;
  background: white;
  //   padding: 2rem 0rem;
  // margin: 4rem 0rem 0rem 0rem;

  .ecosystem_section_content {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;

    .ecosystem_section_upper_content {
      width: 65%;
      height: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 1rem;

      .ecosystem_section_heading,
      .ecosystem_section_subtitle {
        font-size: 3.5rem;
        line-height: normal;
        font-family: Manrope;
      }
      .ecosystem_section_subtitle {
        font-size: 1.8rem;
        margin-top: 10px;
      }
      .bottom_line {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
          color: #12b0fb;
          font-size: 1rem;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            line-height: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
    .ecosystem_section_lower_content {
      width: 100%;
      height: 55%;
      display: grid;
      grid-template-areas:
        "item-1 item-2 item-2 item-3 item-3"
        "item-4 item-4 item-5 item-3 item-3 ";
      gap: 10px;
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5 {
      border-radius: 20px;
      display: flex;
      align-items: end;
      justify-content: start;
      padding: 20px;
      overflow: hidden;
      white-space: normal;
      font-size: 1.2rem;
      min-width: 250px;
    }

    .item1 {
      grid-area: item-1;
      background-color: rgb(238, 231, 243);
    }

    .item2 {
      grid-area: item-2;
      background-color: rgb(247, 226, 198);
    }

    .item3 {
      grid-area: item-3;
      aspect-ratio: 1;
      background-color: #f6f8fb;
      padding: 0;
    }

    .item4 {
      grid-area: item-4;
      background-color: rgb(241, 241, 191);
    }

    .item5 {
      grid-area: item-5;
      background-color: rgb(243, 206, 227);
    }

    /* Additional: Control image size */
    .item_content img {
      width: 20px;
      height: 20px;
    }

    /* Additional: Limit text height with ellipsis */
    .item_content span {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Show only 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
