.container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}
.ecosystem_section {
  position: relative;
  background: white;
  //   padding: 2rem 0rem;
  // margin: 4rem 0rem 0rem 0rem;

  .ecosystem_section_content {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;

    .ecosystem_section_upper_content {
      width: 65%;
      height: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 1rem;

      .ecosystem_section_heading,
      .ecosystem_section_subtitle {
        font-size: 3.5rem;
        line-height: normal;
        font-family: Manrope;
      }
      .bottom_line_cta {
        color: #12b0fb;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        cursor: pointer;
      }
    }
    .ecosystem_section_lower_content {
      height: 380px;
      margin-top: 48px;
      display: flex;
      flex-direction: row;

      .itemWrappers {
        display: flex;
        flex-direction: column;
        margin-right: 8px;
      }
      .bottom_line {
        display: flex;
        flex-direction: row;
        height: 50%;
      }
      .itemWrappers>.itemWrappersRow:first-child {
        padding-bottom: 4px;
      }
      .itemWrappers>.itemWrappersRow:last-child {
        padding-top: 4px;
      }
      .itemWrappersRow>a:nth-child(2) {
        margin-left: 8px;
      }

        span {
          color: #12b0fb;
          font-size: 1rem;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
          span {
            line-height: 10px;
            font-size: 1.5rem;
          }
        }
      }
    }
    .ecosystem_section_lower_content {
      width: 100%;
      height: 55%;
      display: grid;
      grid-template-areas:
        "item-1 item-2 item-2 item-3 item-3"
        "item-4 item-4 item-5 item-3 item-3 ";
      gap: 10px;
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5 {
      border-radius: 20px;
      display: flex;
      align-items: end;
      justify-content: start;
      position: relative;
      padding: 36px 32px;
      overflow: hidden;
      white-space: normal;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;
      text-decoration: none;

      &:hover {
        box-shadow: 0px 2px 12px 0px #00000040;
        .itemLinkOpenArrow {
          opacity: 1;
        }
      }
    }
    .itemLinkOpenArrow {
      position: absolute;
      top: 12px; right: 12px;
      height: 36px;
      width: 36px;
      opacity: 0.75;
      transition: opacity 0.3s ease-in-out;
    }

    .item1 {
      grid-area: item-1;
      background-color: rgb(238, 231, 243);
    }

    .item2 {
      grid-area: item-2;
      background-color: rgb(247, 226, 198);
    }

    .item3 {
      grid-area: item-3;
      aspect-ratio: 1;
      background-color: #f6f8fb;
      padding: 0;
    }

    .item4 {
      grid-area: item-4;
      background-color: rgb(241, 241, 191);
    }

    .item5 {
      grid-area: item-5;
      background-color: rgb(243, 206, 227);
    }

    /* Additional: Control image size */
    .item_content img {
      width: 20px;
      height: 20px;
    }

    /* Additional: Limit text height with ellipsis */
    .item_content span {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* Show only 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Responsiveness
@media (max-width: 480px) {
  .ecosystem_section {
    position: relative;
    background: white;

    .ecosystem_section_content {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0rem;

      .ecosystem_section_upper_content {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 1rem;

        .ecosystem_section_heading{
          font-size: 1.6rem;
          line-height: normal;
          font-family: Manrope;
        }
        .ecosystem_section_subtitle {
          width: 70%;
          font-size: 0.8rem;
          margin-top: 10px;
        }
        .bottom_line {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          span {
            color: #12b0fb;
            font-size: 0.8rem;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
            span {
              line-height: 10px;
              font-size: 1.5rem;
            }
          }
        }
      }
      .ecosystem_section_lower_content {
        width: 100%;
        display: grid;
        grid-template-areas:
          "item-3 item-3"
          "item-3 item-3 "
          "item-1 item-2"
          "item-4 item-5";
        gap: 10px;
        margin-top: 20px;
        grid-template-columns: 1fr 1fr;
      }

      .item1,
      .item2,
      .item3,
      .item4,
      .item5 {
        border-radius: 10px;
        display: flex;
        align-items: end;
        justify-content: start;
        padding: 10px;
        overflow: hidden;
        white-space: normal;
        font-size: 1rem;
        min-width: 150px;
      }

      .item1 {
        grid-area: item-1;
        background-color: rgb(238, 231, 243);
      }

      .item2 {
        grid-area: item-2;
        background-color: rgb(247, 226, 198);
      }

      .item3 {
        grid-area: item-3;
        aspect-ratio: 1;
        background-color: #f6f8fb;
        padding: 0;
      }

      .item4 {
        grid-area: item-4;
        background-color: rgb(241, 241, 191);
      }

      .item5 {
        grid-area: item-5;
        background-color: rgb(243, 206, 227);
      }

      /* Additional: Control image size */
      .item_content img {
        width: 20px;
        height: 20px;
      }

      /* Additional: Limit text height with ellipsis */
      .item_content span {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Show only 2 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
