The WhereHows search index is currently out of date.<br>
Please see
{{!-- TODO: Make into a config link to remove internal values from open source --}}
<a
 href="http://go/metadata/faq#MetadataAnnotationFAQs-stale-index"
 target="_blank"
 class="banner-alert__content__link">
  go/metadata/faq#MetadataAnnotationFAQs-stale-index
</a>
for more details and workarounds.
