@import 'nacho-core';
@import 'nacho-button';

.test-container {
}

.test-sort-container {
  .test-sort-table {
    th,
    td {
      width: 176px;
      text-align: center;
      border: 1px solid black;
    }
  }
}
