.container {
  background: #ffffff;
  font-family: "Manrope";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90vw;
  height: 90vh;
  border-radius: 50px;
  background-color: #9297AA;
  padding: 25px;
  position: relative;
}

.upperBox {
  border-radius: 40px;
  width: 45%;
  height: 25%;
  background-color: #f3f3f5;
  color: #000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainBox {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.socialSubText {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.socialStats {
  display:grid;
  gap: 10px;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 260px 260px;
  grid-column-gap: 40px;
  margin-top: 20px;
  margin-bottom: 70px;
}

.mediaIcons > svg {
  color: white;
  width: 38px;
  height: 38px;
}

.followerCount {
  font-size: 23px;
  font-weight: 400;
}

.styledIcon {
  width: 74px;
  height: 74px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.visitPageIcon {
  position: absolute;
  top: 10px;
  right: 10px,
}

.visitPageIcon > svg {
  color: white;
}

.statItem {
  border-radius: 20px;
  padding: 10px;
  width: max-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.statName {
  font-size: 34px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.socialMediaSection {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}