# SPDX-License-Identifier: Apache-2.0
#
# This file is unmodified from its original version developed by Acryl Data, Inc.,
# and is now included as part of a repository maintained by the National Digital Twin Programme.
# All support, maintenance and further development of this code is now the responsibility
# of the National Digital Twin Programme.

# Override to use Cassandra as a backing store for datahub-gms.
---
services:
  cassandra:
    hostname: cassandra
    image: cassandra:3.11
    ports:
      - '9042:9042'
    healthcheck:
      test: ["CMD", "cqlsh", "-u cassandra", "-p cassandra" ,"-e describe keyspaces"]
      interval: 15s
      timeout: 10s
      retries: 10
    volumes:
      - cassandradata:/var/lib/cassandra
  cassandra-load-keyspace:
    image: cassandra:3.11
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - ./cassandra/init.cql:/init.cql
    command: /bin/bash -c "cqlsh cassandra -f /init.cql"
  datahub-gms:
    env_file: datahub-gms/env/docker.cassandra.env
    depends_on:
      - cassandra
volumes:
  cassandradata: