{{#dataset-table
  fields=datasets as |table|}}
  {{#table.body as |body|}}
    {{#each
      table.data as |dataset|}}
      {{#body.row as |row|}}
        {{#row.cell}}
          {{#link-to 'datasets.dataset' dataset}}
            {{ dataset.name }}
          {{/link-to}}

          {{dataset-owner-list owners=owners datasetName=model.name}}

          {{#if dataset.formatedModified}}
            <span>Last Modified:</span>
            {{ dataset.formatedModified }}
          {{/if}}
        {{/row.cell}}
        {{#row.cell}}
          {{datasets/dataset-actions actionItems=actionItems}}
        {{/row.cell}}
      {{/body.row}}
    {{/each}}
  {{/table.body}}
{{/dataset-table}}
