<li class="nacho-breadcrumbs__crumb">
  <strong>
    {{link-to
      "Data Systems"
      "browse.entity"
      "datasets"
      (query-params page=1 prefix=undefined platform=undefined)
      class="nacho-breadcrumbs__crumb__grain"
    }}
  </strong>
</li>

{{#each breadcrumbs as |crumb|}}
  <li class="nacho-breadcrumbs__crumb">
    <strong>
      {{#link-to
        "browse.entity"
        "datasets"
        (query-params page=1 prefix=crumb.prefix platform=crumb.platform)
        class="nacho-breadcrumbs__crumb__grain"}}

        <span class="nacho-breadcrumbs__crumb__text">
          {{split-text crumb.crumb 18}}
        </span>

      {{/link-to}}
    </strong>
  </li>
{{/each}}
