<li class="nacho-breadcrumbs__crumb">
  <strong>
    {{link-to
      "Data Systems"
      "browse.entity"
      "datasets"
      (query-params page=1 prefix=undefined platform=undefined)
      class="nacho-breadcrumbs__crumb__grain"
    }}
  </strong>
</li>

{{#each affix.prefix as |crumb|}}
  {{datasets/urn-breadcrumbs/crumb crumb=crumb}}
{{/each}}

{{#if affix.suffix}}
  <li class="nacho-breadcrumbs__crumb">
    <strong class="nacho-breadcrumbs__crumb__grain nacho-breadcrumbs__crumb__grain--no-focus">
      {{tooltip-on-element
        text=(join ', ' (map-by "crumb" affix.infix))
      }}
      ...
    </strong>
  </li>

  {{#each affix.suffix as |crumb|}}
    {{datasets/urn-breadcrumbs/crumb crumb=crumb}}
  {{/each}}
{{/if}}
