.dataset-owner-list {
  padding: 10px 0;
  width: 100%;

  &__list {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding: 0 2px;
    margin: 0 5px 5px 0;
    line-height: 1.5;
    border: 1px solid set-color(grey, mid);
    background-color: set-color(white, earlydawn);
    border-radius: 2px;
    font-weight: fw(normal, 4);

    // Displays the @ symbol for owner components with with-email modifier
    &--with-email {
      &::before {
        content: "@";
        font-size: 14px;
        color: set-color(grey, mid);
      }
    }
  }

  &__email-owners {
    white-space: nowrap;
  }
}
