@import "../abstracts/functions";
@import "../abstracts/mixins";

$item-spacing: 10px;

/**
 * Override Bootstrap navigation class, .navbar, ruleset
 */
.navbar {
  /**
   * Explicitly sets the .navbar min-height to a shared value
   */
  min-height: $nav-min-height;

  &-inverse {
    /**
     * Overrides the styling for navbar
     */
    background-color: $brand-color;
    border-color: $brand-color;
  }

  .navbar-nav {
    > .active {
      /**
       * Overrides the navbar styles on anchor elements
       */
      > a {
        @include on-event(true) {
          background-color: inherit;
        }
      }
    }
  }
}

/**
 * Beta insignia for navbar logo
 */
.beta-badge {
  font-weight: fw(normal, 400);
  letter-spacing: 5px;
}

/**
 * Allow bootstrap dropdown items to be rendered when the mouse hovers over
 * the .dropdown trigger
 */
.dropdown {
  @include respond-to('large') {
    &:hover {
      > .dropdown-menu {
        display: block;
      }
    }
  }
}

/**
 * Styles the non primary action bar for an entity
 */
.secondary-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__action + &__action {
    margin-left: $item-spacing;
  }
}

/**
 * Styles the action bar on a tab component
 */
.action-bar {
  position: fixed;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 1px 0 0;
  background-color: #f8f8f8;
  z-index: z(dropdown);
  max-height: 50px;

  &__content {
    white-space: nowrap;
    vertical-align: top;
  }

  &__item + &__item {
    margin-left: $item-spacing;
  }
}

/**
 * Styles a container list of navigation items
 */
.tabbed-navigation-list {
  white-space: nowrap;

  &--tab {
    border-radius: 0;
  }
}
