.acryl-date-picker .ant-picker-cell-today > .ant-picker-cell-inner::before {
    border: 1px solid var(--theme-iconBrand, #533fd1) !important;
}

.acryl-date-picker .ant-picker-cell-selected > .ant-picker-cell-inner {
    background: var(--theme-iconBrand, #533fd1) !important;
    color: var(--theme-textOnFillBrand, #fff);
}

.acryl-date-picker .ant-picker-today-btn {
    color: var(--theme-iconBrand, #533fd1);
}

.acryl-date-picker .ant-picker-header-view button:hover {
    color: var(--theme-iconBrand, #533fd1);
}
