/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * This file is unmodified from its original version developed by Acryl Data, Inc.,
 * and is now included as part of a repository maintained by the National Digital Twin Programme.
 * All support, maintenance and further development of this code is now the responsibility
 * of the National Digital Twin Programme.
 */

.acryl-date-picker .ant-picker-cell-today > .ant-picker-cell-inner::before {
    border: 1px solid #533fd1 !important;
}

.acryl-date-picker .ant-picker-cell-selected > .ant-picker-cell-inner {
    background: #533fd1 !important;
}

.acryl-date-picker .ant-picker-today-btn {
    color: #533fd1;
}

.acryl-date-picker .ant-picker-header-view button:hover {
    color: #533fd1;
}
