<div class="wh-login-container">
  <img src="/assets/assets/images/landing-logo.png"
       alt="WhereHows Logo">
  <p>Oops an error occurred!</p>

  {{if model.message model.message ""}}

  {{link-to "Back to safety" "application"}}
</div>
