<div class="row">
  {{browser/containers/browser-view}}
</div>

<div class="row">
  <div class="col-md-3">
    {{browser/containers/browser-rail}}
  </div>

  <div class="col-md-9">
  </div>
</div>
{{outlet}}
