<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <p class="navbar-text">WhereHows &copy;LinkedIn</p>
      </li>
      <li>
        <a class="navbar-link" href="https://www.github.com/linkedin/WhereHows/wiki">Help</a>
      </li>
    </ul>
  </div>
</footer>