<div class="well well-sm">
  <div class="row">
    <div class="col-xs-11">
      <ul class="breadcrumbs">
        {{#each breadcrumbs as |crumb|}}
          <li>
            <a title="{{crumb.title}}" href="#/metrics/{{crumb.urn}}">
              {{crumb.title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{metric-detail showLineage=showLineage model=model}}