attrs==21.2.0; python_full_version >= "3.7.0"
cachetools==4.2.2; python_version >= "3.5" and python_version < "4.0" and python_full_version >= "3.7.0"
certifi==2020.12.5; python_full_version >= "3.7.0"
chardet==4.0.0; python_full_version >= "3.7.0"
click==7.1.2; python_full_version >= "3.7.0"
colorama==0.4.4; python_full_version >= "3.7.0"
fastavro==0.22.13; python_full_version >= "3.7.0"
feast==0.10.5; python_full_version >= "3.7.0"
google-api-core==1.28.0; python_full_version >= "3.7.0"
google-auth==1.30.1; python_full_version >= "3.7.0"
googleapis-common-protos==1.52.0; python_full_version >= "3.7.0"
grpcio==1.38.0; python_full_version >= "3.7.0"
idna==2.10; python_full_version >= "3.7.0"
jinja2==3.0.1; python_version >= "3.6" and python_full_version >= "3.7.0"
jsonschema==3.2.0; python_full_version >= "3.7.0"
markupsafe==2.0.1; python_version >= "3.6" and python_full_version >= "3.7.0"
mmh3==3.0.0; python_full_version >= "3.7.0"
numpy==1.20.3; python_version >= "3.7" and python_full_version >= "3.7.1"
packaging==20.9; python_full_version >= "3.7.0"
pandas==1.2.4; python_full_version >= "3.7.1"
pandavro==1.5.2; python_full_version >= "3.7.0"
protobuf==3.17.1; python_full_version >= "3.7.0"
pyarrow==4.0.0; python_version >= "3.6" and python_full_version >= "3.7.0"
pyasn1-modules==0.2.8; python_full_version >= "3.7.0"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.7.0"
pydantic==1.8.2; python_full_version >= "3.7.0"
pyparsing==2.4.7; python_full_version >= "3.7.0"
pyrsistent==0.17.3; python_version >= "3.5" and python_full_version >= "3.7.0"
python-dateutil==2.8.1; python_full_version >= "3.7.1"
pytz==2021.1; python_full_version >= "3.7.1"
pyyaml==5.3.1; python_full_version >= "3.7.0"
requests==2.25.1; python_full_version >= "3.7.0"
rsa==4.7.2; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.7.0"
six==1.16.0; python_full_version >= "3.7.1"
tabulate==0.8.9; python_full_version >= "3.7.0"
toml==0.10.2; python_full_version >= "3.7.0"
tqdm==4.61.0; python_full_version >= "3.7.0"
typing-extensions==3.10.0.0; python_full_version >= "3.7.0"
urllib3==1.26.4; python_full_version >= "3.7.0" and python_version < "4"
