.quote {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-size: 1rem;
}

.companyLogoWrapper {
  background: #fff;
  height: 100px;
  html[data-theme="dark"] & {
    filter: invert(1);
    mix-blend-mode: exclusion;
  }
}
.companyLogo {
  display: block;
  width: auto;
  mix-blend-mode: luminosity;
  opacity: 0.66;
  height: 60px;
  margin-top: 2rem;
}

.default {
  height: 60px;
}
.large {
  height: 100px;
}
.medium {
  height: 30px;
}
.small {
  height: 20px;
}
