.card {
  color: var(--ifm-hero-text-color);
  padding: 0;
  margin-bottom: 2rem;
  min-height: 5rem;
  text-decoration: none !important;

  .card_button {
     padding: 1rem;
     text-align: right;
  }

  .card_img {
    justify-content: center;
    display: flex;
    height: 250px;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .card_body {
    padding: 2rem 3rem 2rem 3rem;
  }

  .card_overlay_text {
      position: absolute;
      text-align: left;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

    .card_customer {
       font-size: 3.5rem;
       font-weight: 800;

    }
    .card_title {
      font-size: 1.5rem;
      font-weight: 600;
    }

  }

  img {
    object-fit: cover;
    filter: brightness(50%);
  }

}
