# SPDX-License-Identifier: Apache-2.0
#
# This file is unmodified from its original version developed by Acryl Data, Inc.,
# and is now included as part of a repository maintained by the National Digital Twin Programme.
# All support, maintenance and further development of this code is now the responsibility
# of the National Digital Twin Programme.

# Override to use MySQL as a backing store for datahub-gms.
---
services:
  mysql:
    hostname: mysql
    image: mysql:${DATAHUB_MYSQL_VERSION:-8.2}
    env_file: env/docker.env
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    ports:
      - "3306:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  datahub-gms:
    env_file: ../datahub-gms/env/docker.env
    depends_on:
      - mysql

volumes:
  mysqldata:
