.wh-login-container {
  @include full-screen;
  @include flex-column-center;
  height: 100%;
  background-color: get-color(slate9);
  color: get-color(white);
}

/**
* Disables the default buttons to step the number up and down for <input type=number>
* of class '.input-no-spinner'
*/
.input-no-spinner + input[type='number']::-webkit-inner-spin-button,
.input-no-spinner + input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nacho-login {
  @include flex-column-center;

  &__header {
    font-size: 24px;
  }

  &__login-error {
    margin-top: 10px;
    font-size: fs(standard);
    color: get-color(red5);
  }
}

$login-width: 200px;

.landing-logo {
  max-width: $login-width - item-spacing(5);
  max-height: $login-width - item-spacing(5);
}

.nacho-login-form {
  max-width: $login-width;

  &__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    line-height: 32px;
    background-color: transparent;
    outline: 0;
    padding: item-spacing(0 2);
    margin: item-spacing(2 0);

    &::placeholder {
      color: get-color(white, 0.5);
    }
  }

  &__button {
    width: 100%;
    margin-top: item-spacing(3);
  }
}
