.upstream-owners-banner {
  @include nacho-container;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: item-spacing(5);

  &__informational {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
      margin: 0;
      padding: item-spacing(2);
    }
  }
}
