<configuration>
    <property name="LOG_DIR" value="${LOG_DIR:- /tmp/datahub/logs}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} urn=%X{entityUrn:-none} aspect=%X{aspectName:-none} entityType=%X{entityType:-none} changeType=%X{changeType:-none} - %msg%n</pattern>
        </encoder>
        <filter class="com.linkedin.metadata.utils.log.LogMessageFilter">
            <excluded>scanned from multiple locations</excluded>
            <excluded>[ignore_throttled] parameter is deprecated because frozen indices have been deprecated</excluded>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/mae-consumer-job.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${LOG_DIR}/mae-consumer-job.%i.log</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="com.linkedin.metadata.utils.log.LogMessageFilter">
            <excluded>scanned from multiple locations</excluded>
            <excluded>[ignore_throttled] parameter is deprecated because frozen indices have been deprecated</excluded>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
