<configuration>
    <property name="LOG_DIR" value="${LOG_DIR:- /tmp/datahub/logs}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <if condition='property("LOG_OUTPUT").contains("STRUCTURED")'>
            <then>
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                        <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                        <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                            <prettyPrint>true</prettyPrint>
                        </jsonFormatter>
                    </layout>
                </encoder>
            </then>
            <else>
                <encoder>
                    <pattern>%date{ISO8601} [%thread] %-5level %logger{36}:%L urn=%X{entityUrn:-none} aspect=%X{aspectName:-none} entityType=%X{entityType:-none} changeType=%X{changeType:-none} - %msg%n</pattern>
                </encoder>
            </else>
        </if>
        <filter class="com.linkedin.metadata.utils.log.LogMessageFilter">
            <excluded>scanned from multiple locations</excluded>
            <excluded>[ignore_throttled] parameter is deprecated because frozen indices have been deprecated</excluded>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/mae-consumer-job.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${LOG_DIR}/mae-consumer-job.%i.log</FileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="com.linkedin.metadata.utils.log.LogMessageFilter">
            <excluded>scanned from multiple locations</excluded>
            <excluded>[ignore_throttled] parameter is deprecated because frozen indices have been deprecated</excluded>
        </filter>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
        </filter>
        <filter class="com.linkedin.metadata.utils.log.LogMessageFilter">
            <excluded>scanned from multiple locations</excluded>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="Sentry"/>
    </root>
</configuration>
