.feedbackWidget {
  margin: 15px 15px;
  padding: 20px 20px;
  border: var(--ifm-hr-border-color) 1px solid;
  border-radius: 10px;
  text-align: center;
}

.title {
  text-align: center;
}

.widget .grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 50px;
}

.widget .cell {
  width: 50px;
}

.reaction {
  padding: 10px;
}

.reaction:hover {
  background-color: skyblue;
  cursor: pointer;
}

.widget .footer {
  margin-top: 10px;
  margin-left: 0;
}
