.bgSection {
  background-image: url('../../../static/img/cloud-bg.png') !important;
  }

.hero {
    :global {
      .button {
        margin-right: 1rem;
      }
    }

    .buttonLightBlue {
      color: #1990FF !important;
      background: #EAF3FF;
      border-color: #EAF3FF;
      :hover {
        background: #D6E7FF;
      }
    }

    .learnMore {
        font-size: 1rem;
        font-weight: 600;
    }
  }
  
