<configuration debug="false" scan="true">

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="com.datastax.oss" level="ERROR" />
    <logger name="com.datastax.driver" level="FATAL" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>