<h2 id="title">WhereHows Entity Header Addon</h2>

{{#wherehows-entity-header entity=entity as |entityHeader|}}
  {{#entityHeader.row}}
    {{entityHeader.entityTitle}}
  {{/entityHeader.row}}

  {{#entityHeader.row}}
    {{entityHeader.entityProperty name="formula" value=entity.formula}}
  {{/entityHeader.row}}
{{/wherehows-entity-header}}
{{outlet}}