.data-systems-container {
  margin-top: item-spacing(5);

  &__navbar {
    display: flex;
    align-items: center;

    &__breadcrumbs {
      max-width: 95%;
    }

    &__count {
      margin: item-spacing(0 4);
    }
  }
}

.data-systems {
  padding: 0;
  margin-top: item-spacing(5);
}

.data-system {
  @include nacho-container;
  padding: item-spacing(2 5);
  display: flex;
  font-size: 14px;
  line-height: 17px;
  height: 44px;

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &:hover {
    background-color: get-color(blue0);
  }

  & + & {
    border-top: 0;
    border-radius: 0;
  }

  &__node-name {
    margin-left: item-spacing(3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__downlink {
    margin-left: auto;
  }
}

.data-systems-retry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
