.data-platform-container {
  @include aspect-ratio(264, 130);
  margin-top: 24px;
}

.data-platform {
  @include nacho-container;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__platform-name {
    font-size: 21px;
    line-height: 25px;
    margin: 0;
  }

  &__platform-count {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: get-color(black, 0.9);
  }
}
