.markdown-cheat-sheet {
  background-color: get-color(slate0);
  margin-left: item-spacing(4);
  padding: item-spacing(4);
  min-height: 590px;

  section {
    margin-bottom: 16px;
  }

  &__title {
    color: get-color(black, 0.9);
  }
  &__label {
    color: get-color(black, 0.6);
    font-weight: fw(normal, 7);
  }
  &__item {
    color: get-color(black, 0.6);
  }
}
