.view-change-log {
  &__header {
    display: flex;
    justify-content: space-between;
    padding: item-spacing(2 5);
  }

  &__title {
    margin: 0;
  }

  &__close {
    font-size: item-spacing(1) * 10;
    line-height: item-spacing(5);
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
  }

  &__modal {
    width: $modal-width-x-large;
    * {
      color: get-color(black, $email-content-color-opacity);
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-right: item-spacing(9);
  }

  &__main {
    margin: item-spacing(2 8 2 5);
  }

  &__body {
    padding-right: item-spacing(5) + 2;
  }

  &__divider {
    display: block;
    margin: item-spacing(0 6);
    border: 1px solid #e0e0e0;
  }

  &__item-highlighted {
    font-weight: fw(normal, 7);
  }
}
