<LinkTo @route="browse.entity" @model={{@entity}} @query={{hash page=1 path=@crumb.path}} class="nacho-breadcrumbs__crumb-grain">
  <span class="nacho-breadcrumbs__crumb-text">
    {{@crumb.label}}
  </span>
</LinkTo>
