.ant-notification-notice {
    padding: 16px 20px 16px 24px;
}

.ant-notification-notice-message {
    margin-bottom: 0;
    padding-right: 8px;
}

.ant-notification-notice-close {
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}
