.container {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  width: 80vw;
  margin: 5rem auto;
}
.trial {
  height: 600px;
  background: white;
  display: flex;
  justify-content: space-between;

  .trial_left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .left_content {
      width: 60%;
      span {
        color: #8088a3;
        font-size: 2.5rem;
        font-weight: 400;
      }
      p {
        color: #2e2e38;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
      }
      .btn_div {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        a:first-child {
          cursor: pointer;
          display: inline-block;
          font-size: 1rem;
          background-color: #1890ff;
          padding: 10px 20px;
          border-radius: 50px;
          margin: 0 10px 0 0;
          color: white;
        }

        a:nth-child(2) {
          cursor: pointer;
          display: inline-block;
          font-size: 1rem;
          padding: 10px 20px;
          border-radius: 50px;
          margin: 0 10px 0 0;
          background-color: transparent;
          color: #1890ff;
          border: 1px solid #1890ff;
        }
      }

      .start_arrow {
        margin-top: 2rem;
        font-size: 1.1rem;
        color: #1890ff;
        font-weight: 500;
      }
    }
  }
  .trial_right {
    width: 50%;
    height: 100%;

    .right_content {
      height: 100%;
      display: flex;
      gap: 2rem;
      .right_l {
        width: 35%;
        height: 95%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
          font-size: 1.5rem;
          font-weight: 500;
          color: #2e2e38;
          line-height: normal;
          img {
            margin-bottom: 20px;
          }
        }

        div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1rem;
          padding-right: 2rem;
          height: 49%;
          border-radius: 35px;
          background-image: linear-gradient(to bottom, white, #d3b9e2);
        }

        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1rem;
          padding-right: 2rem;
          background-image: linear-gradient(
            to bottom,
            rgb(236, 224, 167),
            white
          );
          height: 49%;
          border-radius: 35px;
        }
      }
      .right_r {
        width: 35%;
        height: 94%;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        div {
          font-size: 1.5rem;
          font-weight: 500;
          color: #2e2e38;
          line-height: normal;
          img {
            margin-bottom: 20px;
          }
        }

        div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1rem;
          padding-right: 2rem;
          background-image: linear-gradient(to bottom, white, #f8d4b3);
          height: 49%;
          border-radius: 35px;
        }

        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 1rem;
          padding-right: 2rem;
          background-image: linear-gradient(
            to bottom,
            rgb(226, 167, 190),
            white
          );
          height: 49%;
          border-radius: 35px;
        }
      }
    }
  }
}
