.feature {
  flex-direction: row;
  height: 10rem;
  flex-shrink: 0;
  color: var(--ifm-text-color);
  margin: 0rem 2rem 1rem 0rem;
  min-height: calc(100% - 1rem);
  text-decoration: none !important;

  img {
    width: auto;
    height: 3rem;
    padding: auto;
  }

  &:hover {
    border-color: var(--ifm-color-primary);
  }

}

.card_content {
  margin: 0 auto;
  align-items: center;
}

.card_title {
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}