.acl-spinner {
  &__header {
    padding: item-spacing(4 4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: fw(normal, 4);
    font-size: 19px;
    color: set-color(grey, dark);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 9px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: item-spacing(4 4);
  }

  &__item {
    margin-top: item-spacing(5);
    font-size: 18px;
    font-weight: 500;
  }

  &__footer {
    min-height: 43px;
  }
}
