$success-color: rgb(19, 158, 38);
$reject-color: rgb(224, 0, 34);
$gray-color: rgb(234, 234, 234);

.acl-wapper strong {
  font-size: 17px;
}

.acl-access {
  &__header {
    display: flex;
    align-items: flex-start;
    margin-top: item-spacing(3);
  }

  &__success {
    color: $success-color;
  }

  &__reject {
    color: $reject-color;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    margin-left: item-spacing(2);
  }
}

.acl-form {
  list-style-type: none;
  padding: item-spacing(5);
  padding-top: item-spacing(3);
  border: 1px solid $gray-color;
  border-radius: item-spacing(1);

  &__header * {
    display: block;
    font-weight: 800;
  }

  &__meta * {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__content {
    min-height: item-spacing(6) * 3;
    width: item-spacing(9)*9;
    margin-top: item-spacing(3);
    outline: none;
    padding: item-spacing(1);
    background-color: rgb(245, 246, 248);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__actions {
    margin: item-spacing(4) 0 0;

    button {
      margin: item-spacing(0 1 0 0);
      outline: none;
    }
  }
}

.acl-form h4 {
  font-weight: 800;
}
.acl-form__meta h4 {
  font-weight: 500;
}

.acl-table {
  &__ownership {
    color: #bfc0c1;
  }
}
#acepermissioninfo hr {
  margin-top: 3px;
}
