#hubspotForm {
  text-align: left;
}

#hubspotForm .input {
  margin: 0;
}

#hubspotForm .hs-form input,
#hubspotForm .hs-form select,
#hubspotForm .hs-form textarea {
  border: none;
  background-color: #D9D9D9;
  padding: 1rem; 
  margin: 1rem auto;
  border-radius: 4px; 
  font-size: 16px;
  width: 100%;
}

#hubspotForm .hs-form input[type="submit"] {
  background-color: #171B2B;
  color: #fff; 
  border: none; 
  padding: 10px 20px; /* Custom padding */
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
  font-size: 20px;
  font-weight: 600;
  width: 130px;
}

#hubspotForm .hs-form input[type="submit"]:hover {
  background-color: #0056b3; /* Button hover color */
}

/* customize the placeholder */

#hubspotForm .hs-form label span {
  display: none;
}
