@import 'nacho-core';
@import 'datahub-utils';
@import 'nacho-table';
@import 'nacho-pill';

@import 'datahub-datasets';

html {
  font-family: 'Source Sans Pro';
}

.testing-table {
  &__container {
    width: $max-container-width;
    margin: 0 auto;
  }

  thead {
    padding: 16px 24px;
    background-color: get-color(gray4);
  }

  &__status {
    width: 196px;
  }
}

th {
  padding: 16px 24px;
}

td {
  border-top: 1px get-color(gray2) solid;
  border-bottom: 1px get-color(gray2) solid;
  padding: 16px 24px;
}

.placeholder-table-global {
  width: 100%;
  padding: 16px 0;
}
