<p>
  Selected: {{selected}}
</p>
{{#nacho-dropdown-basic
  options=sampleOptions
  selected=selected
  selectionDidChange=(action selectionChange)
as |dropdown|
}}
  Hello {{dropdown.item.value}}
{{/nacho-dropdown-basic}}