# SPDX-License-Identifier: Apache-2.0
#
# This file is unmodified from its original version developed by Acryl Data, Inc.,
# and is now included as part of a repository maintained by the National Digital Twin Programme.
# All support, maintenance and further development of this code is now the responsibility
# of the National Digital Twin Programme.

name: Lint actions
on:
  pull_request:
    paths:
      - ".github/workflows/**"

    branches:
      - "**"
jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: acryldata/sane-checkout-action@v4
      - uses: reviewdog/action-actionlint@v1
        with:
          reporter: github-pr-review
    permissions:
      contents: read
      checks: write
      pull-requests: write
      issues: write
