name: Metadata Ingestion
on:
  push:
    branches:
      - master
      - releases/**
    paths:
      - ".github/workflows/metadata-ingestion.yml"
      - "metadata-ingestion/**"
      - "metadata-ingestion-modules/**"
      - "metadata-models/**"
  pull_request:
    branches:
      - "**"
    paths:
      - ".github/workflows/metadata-ingestion.yml"
      - "metadata-ingestion/**"
      - "metadata-ingestion-modules/**"
      - "metadata-models/**"
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DEPOT_PROJECT_ID: "${{ vars.DEPOT_PROJECT_ID }}"

jobs:
  ci:
    runs-on: ${{ vars.DEPOT_PROJECT_ID != '' && 'depot-ubuntu-latest-2' || 'ubuntu-latest' }}
    timeout-minutes: 60
    env:
      DATAHUB_TELEMETRY_ENABLED: false
      # TODO: Enable this once the test is fixed.
      # DATAHUB_LOOKML_GIT_TEST_SSH_KEY: ${{ secrets.DATAHUB_LOOKML_GIT_TEST_SSH_KEY }}
    strategy:
      matrix:
        python-version: ["3.11"]
        # command: [
        #     "testQuick", # also runs lint
        #     "testIntegrationBatch0",
        #     "testIntegrationBatch1",
        #     "testIntegrationBatch2",
        #     "testIntegrationBatch3",
        #     "testIntegrationBatch4",
        #     "testIntegrationBatch5",
        #     "testIntegrationBatchRecording", # Recording tests - isolated execution to avoid module patching interference
        #   ]
        coverage:
          [
            "tests/integration/athena",
            "tests/integration/azure_ad",
            "tests/integration/azure_data_factory",
            "tests/integration/bigquery_v2",
            "tests/integration/business-glossary",
            "tests/integration/cassandra",
            "tests/integration/circuit_breaker",
            "tests/integration/clickhouse",
            "tests/integration/csv-enricher",
            "tests/integration/dataplex",
            "tests/integration/db2",
            "tests/integration/dbt",
            "tests/integration/delta_lake",
            "tests/integration/dremio",
            "tests/integration/druid",
            "tests/integration/dynamodb",
            "tests/integration/excel",
            "tests/integration/feast",
            "tests/integration/file",
            "tests/integration/fivetran",
            "tests/integration/git",
            "tests/integration/grafana",
            "tests/integration/hana",
            "tests/integration/hex",
            "tests/integration/hive",
            "tests/integration/hive-metastore",
            "tests/integration/iceberg",
            "tests/integration/kafka",
            "tests/integration/kafka-connect",
            "tests/integration/kafka-connect-confluent-cloud",
            "tests/integration/ldap",
            "tests/integration/looker",
            "tests/integration/lookml",
            "tests/integration/metabase",
            "tests/integration/mlflow",
            "tests/integration/mode",
            "tests/integration/mongodb",
            "tests/integration/mysql",
            "tests/integration/neo4j",
            "tests/integration/nifi",
            "tests/integration/okta",
            "tests/integration/openapi",
            "tests/integration/oracle",
            "tests/integration/postgres",
            "tests/integration/powerbi",
            "tests/integration/powerbi_report_server",
            "tests/integration/preset",
            "tests/integration/qlik_sense",
            "tests/integration/recording",
            "tests/integration/redshift-usage",
            "tests/integration/remote",
            "tests/integration/s3",
            "tests/integration/sac",
            "tests/integration/salesforce",
            "tests/integration/sigma",
            "tests/integration/snaplogic",
            "tests/integration/snowflake",
            "tests/integration/sql_queries",
            "tests/integration/sql_server",
            "tests/integration/starburst-trino-usage",
            "tests/integration/superset",
            "tests/integration/tableau",
            "tests/integration/test_masking_integration.py",
            "tests/integration/trino",
            "tests/integration/unity",
            "tests/integration/vertexai",
            "tests/integration/vertica",

            "tests/unit/abs",
            "tests/unit/api",
            "tests/unit/autogenerated",
            "tests/unit/azure_data_factory",
            "tests/unit/bigquery",
            "tests/unit/cli",
            "tests/unit/config",
            "tests/unit/configuration",
            "tests/unit/data_lake",
            "tests/unit/datahub",
            "tests/unit/dataplex",
            "tests/unit/dbt",
            "tests/unit/dremio",
            "tests/unit/excel",
            "tests/unit/fivetran",
            "tests/unit/glue",
            "tests/unit/grafana",
            "tests/unit/hex",
            "tests/unit/hive_test_utils.py",
            "tests/unit/ingestion",
            "tests/unit/looker",
            "tests/unit/lookml",
            "tests/unit/mock_data",
            "tests/unit/patch",
            "tests/unit/powerbi",
            "tests/unit/recording",
            "tests/unit/redshift",
            "tests/unit/reporting",
            "tests/unit/s3",
            "tests/unit/sagemaker",
            "tests/unit/schema",
            "tests/unit/sdk",
            "tests/unit/sdk_v2",
            "tests/unit/secret",
            "tests/unit/serde",
            "tests/unit/snowflake",
            "tests/unit/sql_parsing",
            "tests/unit/sql_queries",
            "tests/unit/stateful_ingestion",
            "tests/unit/stored_procedure",
            "tests/unit/structured_properties",
            "tests/unit/tableau",
            "tests/unit/test_athena_*.py",
            "tests/unit/test_aws_common.py",
            "tests/unit/test_bootstrap.py",
            "tests/unit/test_business_glossary.py",
            "tests/unit/test_capability_report.py",
            "tests/unit/test_cassandra_source.py",
            "tests/unit/test_classification_mixin.py",
            "tests/unit/test_classification.py",
            "tests/unit/test_clickhouse_source.py",
            "tests/unit/test_cockroach_source.py",
            "tests/unit/test_compare_metadata.py",
            "tests/unit/test_confluent_schema_registry.py",
            "tests/unit/test_csv_enricher_source.py",
            "tests/unit/test_datahub_source.py",
            "tests/unit/test_db2_source.py",
            "tests/unit/test_druid_source.py",
            "tests/unit/test_elasticsearch_source.py",
            "tests/unit/test_exception_hook.py",
            "tests/unit/test_file_*.py",
            "tests/unit/test_gc.py",
            "tests/unit/test_gcs_source.py",
            "tests/unit/test_ge_profiling_config.py",
            "tests/unit/test_generic_aspect_transformer.py",
            "tests/unit/test_hana_source.py",
            "tests/unit/test_hive_*.py",
            "tests/unit/test_iceberg.py",
            "tests/unit/test_kafka_*.py",
            "tests/unit/test_ldap_source.py",
            "tests/unit/test_library_examples.py",
            "tests/unit/test_logging_utils.py",
            "tests/unit/test_mapping.py",
            "tests/unit/test_mariadb_source.py",
            "tests/unit/test_masking_*.py",
            "tests/unit/test_metabase_source.py",
            "tests/unit/test_mlflow_source.py",
            "tests/unit/test_mongodb_source.py",
            "tests/unit/test_mssql_upstream_alias_filtering.py",
            "tests/unit/test_mssql.py",
            "tests/unit/test_mysql_rds_iam.py",
            "tests/unit/test_neo4j_source.py",
            "tests/unit/test_nifi_source.py",
            "tests/unit/test_openapi.py",
            "tests/unit/test_oracle_source.py",
            "tests/unit/test_packages.py",
            "tests/unit/test_packaging.py",
            "tests/unit/test_postgres_*.py",
            "tests/unit/test_powerbi_parser.py",
            "tests/unit/test_preset_source.py",
            "tests/unit/test_protobuf_util.py",
            "tests/unit/test_pulsar_source.py",
            "tests/unit/test_rds_iam_utils.py",
            "tests/unit/test_redash_source.py",
            "tests/unit/test_rest_sink.py",
            "tests/unit/test_schema_util.py",
            "tests/unit/test_secret_registry.py",
            "tests/unit/test_source.py",
            "tests/unit/test_sql_*.py",
            "tests/unit/test_superset_source.py",
            "tests/unit/test_teradata_*.py",
            "tests/unit/test_teradata_source.py",
            "tests/unit/test_transform_dataset.py",
            "tests/unit/test_unity_*.py",
            "tests/unit/test_usage_common.py",
            "tests/unit/test_user_add.py",
            "tests/unit/test_vertexai_source.py",
            "tests/unit/test_vertica_source.py",
            "tests/unit/transformers",
            "tests/unit/urns",
            "tests/unit/utilities",
          ]
        include:
          # Version compatibility tests.
          - python-version: "3.9"
            command: "testQuick"
      fail-fast: false
    steps:
      # - name: Free up disk space
      #   run: |
      #     sudo apt-get remove 'dotnet-*' azure-cli || true
      #     sudo rm -rf /usr/local/lib/android/ || true
      #     sudo docker image prune -a -f || true
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
      - uses: acryldata/sane-checkout-action@v4
        with:
          checkout-head-only: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ hashFiles('**/requirements.txt') }}
      - name: Install dependencies
        run: ./metadata-ingestion/scripts/install_deps.sh
      - name: Install ODBC driver for mssql tests
        run: ./metadata-ingestion/scripts/install_odbc_for_mssql_tests.sh
      - name: Install package with test dependencies
        run: ./gradlew :metadata-ingestion:installDevTest
      # - name: Check lint passes and autogenerated JSON files are up-to-date
      #   if: ${{  matrix.command == 'testQuick' }}
      #   run: |
      #     ./gradlew :metadata-ingestion:lint
      # - name: Check autogenerated JSON files are up-to-date
      #   if: ${{  matrix.command == 'testQuick' }}
      #   run: |
      #     ./gradlew :metadata-ingestion:capabilitySummary :metadata-ingestion:lineageGen
      #     for json_file in metadata-ingestion/src/datahub/ingestion/autogenerated/*.json; do
      #       filename=$(basename "$json_file")
      #       if git diff --quiet "$json_file"; then
      #         echo "✅ $filename is unchanged"
      #       else
      #         echo "❌ $filename has changed. Please commit the updated file."
      #         echo "Changed lines:"
      #         git diff "$json_file"
      #         exit 1
      #       fi
      #     done
      - name: Run metadata-ingestion tests
        working-directory: metadata-ingestion
        run: |
          bash -c "venv/bin/pytest --durations=20 -vv --continue-on-collection-errors --random-order --junit-xml=junit.quick.xml ${{ matrix.coverage }}"
      - name: Debug info
        if: always()
        run: |
          source metadata-ingestion/venv/bin/activate && uv pip freeze
          set -x
          df -hl
          docker image ls
          docker system df
      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: Test Results (metadata ingestion ${{ matrix.python-version }} ${{ matrix.command }})
      #     path: |
      #       **/build/reports/tests/test/**
      #       **/build/test-results/test/**
      #       **/junit.*.xml
      #       !**/binary/**
      # - name: Upload coverage to Codecov with ingestion flag
      #   if: ${{ always() && matrix.python-version == '3.11' }}
      #   uses: codecov/codecov-action@v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     directory: ./build/coverage-reports/metadata-ingestion/
      #     fail_ci_if_error: false
      #     flags: ingestion
      #     name: pytest-${{ matrix.python-version }}-${{ matrix.command }}
      #     verbose: true
      #     override_branch: ${{ github.head_ref || github.ref_name }}
      # - name: Upload test results to Codecov
      #   if: ${{ !cancelled() }}
      #   uses: codecov/test-results-action@v1
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     override_branch: ${{ github.head_ref || github.ref_name }}

  event-file:
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Event File
          path: ${{ github.event_path }}
