name: pypi-release metadata-ingestion
on:
  release:
    types: [published, edited]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compute Tag
        id: tag
        run: |
          echo "GITHUB_REF: $GITHUB_REF"
          SHORT_SHA=$(git rev-parse --short "$GITHUB_SHA")
          TAG=$(echo ${GITHUB_REF} | sed -e 's,refs/tags/v,,g' -e 's,refs/tags/acryl,,g')
          echo "tag=$TAG"
          echo "::set-output name=tag::$TAG"
  push_to_pypi:
    name: Build and push python package to PyPI (private)
    runs-on: ubuntu-latest
    needs: setup
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine build    
    - name: Install dependencies
      run: ./metadata-ingestion/scripts/install_deps.sh
    - name: Build and publish   
      run: |
        cd metadata-ingestion
        RELEASE_VERSION=${{ needs.setup.outputs.tag }} RELEASE_SKIP_UPLOAD=1 ./scripts/release.sh
        twine upload --repository-url https://pypi.fury.io/acryl-data/ dist/* -u ${{ secrets.GEMFURY_PUSH_TOKEN }} -p ""
