<p>Current value: {{value}}</p>

{{nacho-toggle
  value=value
  leftOptionValue=leftValue
  leftOptionText=leftValue
  rightOptionValue=rightValue
  rightOptionText=rightValue
  onChange=(action "onChangeValue")
}}